[2019-04-18 11:36] navoshtatest opened #1 "[Deleted]"

[2019-04-18 11:37] #1 closed

[2019-05-06 22:52] desilinguist opened #2 "Add pandas"
**What is the name of the package?**

http://pandas.pydata.org/

[2019-05-06 22:52] desilinguist opened #3 "Add scikit-learn"
**What is the name of the package?**

http://scikit-learn.org/stable/index.html

[2019-05-06 22:55] desilinguist opened #4 "Add seaborn"
**What is the name of the package?**

https://seaborn.pydata.org/

[2019-05-07 03:29] slabko opened #5 "Add sympy"
**What is the name of the package?**
https://www.sympy.org/en/index.html

[2019-05-07 04:17] avidiotic opened #6 "Unable to delete file"
**Describe the bug**
I opened a new Python3 notebook. After declaring a numpy array and plotting it, I was unable to delete it. I was able to replicate this with another notebook with only the numpy import code.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Python3 notebook
2. Run a cell with import numpy as np
3. Shut down the notebook
4. Delete the notebook

**Expected behav

[2019-05-07 04:52] sausheong opened #7 "Cannot delete notebook"
**Describe the bug**
Cannot delete notebooks after they have been created.

**To Reproduce**
Select notebook, click on delete icon and then ok.

**Expected behavior**
Notebook deleted

**Screenshots**
![IMG_0088](https://user-images.githubusercontent.com/5962/57272596-e89dc500-70c6-11e9-9da1-48c4de62b7eb.png)

**Environment (please complete the following information):**
 - Device: iPad Pro 11"
 -

[2019-05-07 11:48] Arjitc12 opened #8 "Keras Library"
Keras
pip install Keras

[2019-05-07 11:52] Arjitc12 opened #9 "Problem renaming notebook"
**Describe the bug**
After renaming the notebook I can only see my notebook renamed after I relaunch my jupyter notebook.

**To Reproduce**
Steps to reproduce the behavior:
1. Rename Notebook
2. And then save
3. You could still see the previous name until you relaunch App

Environment (please complete the following information):
 - Device: iPhone 7
 - iOS version:  iOS 12.2
 - App version  1.0.0

[2019-05-07 11:54] Arjitc12 opened #10 "App Crashes when shutting down current notebook"
The app will crash if you shut down the current running notebook instead of coming back to folders.

[2019-05-07 21:27] navoshta commented on #10
Thanks for reporting, @Arjitc12 — I couldn't reproduce this yet, are there any particular steps to get it to crash? Does it happen with a particular notebook, or maybe after importing a specific module?

Also, do you shut it down by selecting "Close and Halt" in the notebook menu, or via "Shutdown" in the Kernel menu?

[2019-05-12 14:35] weiszr opened #11 "Enable shell command for pip"
Please enable shell commands and the ability to install packages via pip.

[2019-05-14 15:19] krishkumar opened #12 "Support for Swift"
Jupyter notebooks can run Swift these and days and it will be great if Juno can support this.

[2019-05-14 22:05] BrianChevalier opened #13 "Open external Python Packages in place"
When developing Python packages I like using Jupyter to test new functions/classes and automatically reload packages (using the autoreload extension). Working Copy is used to version control my packages, and it can automatically sync files to external folders (including the Juno site-packages directory). However, this requires having Working Copy in the foreground to keep files in sync and I would

[2019-05-15 07:52] navoshta commented on #11
Thanks @weiszr, are there any particular shell commands that you're missing? Adding all of them at once might be challenging, so it would be useful to know which ones to prioritise (apart from `pip`).

[2019-05-15 13:43] weiszr commented on #11
Hello,

“pip” or “pip3” to install additional packages would be great. “ls” would be good to have as well.

cheers,

Robert

______________________________________________________________
Robert Weiss
Associate Professor of Natural Hazards
Department of Geosciences
Virginia Tech
4044 Derring Hall (0420)
Blacksburg, VA 24061, U.S.A.

Office: 1068A Derring
Phone:+1-540-231-2334
Fax: +1-540-231-3386

[2019-05-16 08:34] mieqq opened #14 "Restart and Run All Cells not work"
Restart and Run All Cells not work along with Restart and Clear Output.

Environment (please complete the following information):

Device: iPhone Xr
iOS version: iOS 12.3
App version: 1.0.0

[2019-05-16 13:54] holzschu commented on #11
You could use `ios_system` to include a large set of shell commands: https://github.com/holzschu/ios_system/

[2019-05-16 15:10] mieqq opened #15 "Can’t input Chinese in Cell"
**Describe the bug**
Can only input Chinese by handwriting, not by Pinyin (a method that use English alphabet to enter Chinese characters.）

[2019-05-17 03:34] zachary-zhang opened #16 "deleted file is crash"
<sub>Sent from <a href="https://itunes.apple.com/cn/app/id1314212521">PPHub For GitHub</a></sub>

[2019-05-17 09:17] navoshta commented on #16
Thanks for reporting @zachary-zhang, is it similar to #6 and #7 by any chance, or does the app actually crash?

[2019-05-17 09:25] navoshta commented on #11
Thanks @holzschu, I was going to take a closer look at it later.

[2019-05-17 10:10] zachary-zhang commented on #16
The first installation of app appears .the app actually crash

[2019-05-23 15:51] jammin0921 opened #17 "Add Quandl"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno.

https://pypi.org/project/Quandl/

Maybe not necessary to have it pre-installed when someone downloads the app but would be nice to have the option to add it. It does require pandas so it would have to come after that too.

[2019-06-01 04:55] #15 closed

[2019-06-01 10:53] navoshta commented on #16
Should be fixed in Juno 1.0.2

[2019-06-01 10:53] #16 closed

[2019-06-01 10:53] navoshta commented on #7
Should be fixed in Juno 1.0.2

[2019-06-01 10:53] #7 closed

[2019-06-01 10:53] navoshta commented on #6
Should be fixed in Juno 1.0.2

[2019-06-01 10:53] #6 closed

[2019-06-01 10:54] navoshta commented on #9
Should be fixed in Juno 1.0.2

[2019-06-01 10:54] #9 closed

[2019-06-01 10:54] navoshta commented on #13
Should be available in Juno 1.0.2

[2019-06-01 10:54] #13 closed

[2019-06-01 10:57] navoshta commented on #15
Unfortunately, there is a known issue with assisted input using latin characters (something similar to IME in Windows, where you use latin characters to input in Japanese, Korean or Chinese). Apparently, this issue is caused by one of the components Jupyter is using, and this issue has been reported, although not resolved yet — see discussion here: https://github.com/codemirror/CodeMirror/issues/3

[2019-06-01 11:06] mieqq commented on #15
Thanks for your reply, I will go and have a look.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Alex Staravoitau <notifications@github.com>
发送时间: Saturday, June 1, 2019 6:58:00 PM
收件人: rationalmatter/Juno-Issue-Tracker
抄送: mieqq; State change
主题: Re: [rationalmatter/Juno-Issue-Tracker] Can’t input Chinese in Cell (#15)

Unfortunately, there is a known issue with

[2019-06-01 11:59] navoshta commented on #10
I've implemented better crash reporting and additional logging in Juno 1.0.2, so should be able to address this in subsequent releases.

[2019-06-02 17:46] tlockney opened #18 "Add requests"
**What is the name of the package?**
https://pypi.org/project/requests/

[2019-06-02 17:46] tlockney opened #19 "Add beautifulsoup4"
**What is the name of the package?**
https://pypi.org/project/beautifulsoup4/

[2019-06-02 17:47] tlockney opened #20 "Add html5lib"
**What is the name of the package?**
https://pypi.org/project/html5lib/

[2019-06-02 17:48] tlockney opened #21 "Add twython"
**What is the name of the package?**
https://pypi.org/project/twython/

[2019-06-02 17:48] tlockney opened #22 "Add mnist"
**What is the name of the package?**
https://pypi.org/project/mnist/

[2019-06-02 17:49] tlockney opened #23 "Add python-dateutil"
**What is the name of the package?**
https://pypi.org/project/python-dateutil/

[2019-06-04 01:46] rieszbanach opened #24 "Can’t Rename any archive"
**Describe the bug**
A clear and concise description of what the bug is.
Can’t Rename any archive

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your pro

[2019-06-04 09:46] smkirby opened #25 "Add scipy"
https://www.scipy.org/scipylib/index.html

[2019-07-05 05:59] hydroclaus commented on #5
When I do `from sympy.stats import Binomial`, I get the following error.

Does this mean, I have to install it myself ([into the site-packages folder](https://github.com/rationalmatter/Juno-Issue-Tracker), but what exactly should I put there), or should it be there, because it was added on May 7th?

[2019-07-05 10:49] navoshta commented on #5
@hydroclaus `sympy` hasn't been added to Juno yet, although looks like it's a pure-Python module, so you should be able to install it by simply putting it into the `site-packages` folder — that is, the unarchived `sympy-1.4` folder you can download from [sympy.org](https://www.sympy.org).

[2019-07-08 12:07] eoss-tw opened #26 "Add connection to remote jupyter"
The recent version of juno supports the config/connection of remote jupyter instances. The beta version only supports local notebooks. Please provide an additional config section to connect the app to a remote jupyter server. I think its a nice idea to perform local analysis only on the pad itself but for larger datasets / more dependencies a remote server would provide all advantages.
thanks

[2019-07-08 15:30] navoshta commented on #26
Thanks @eoss-tw, the app currently in beta is not meant to replace the app currently in the store — those will be two separate apps. The app currently in the store (i.e. Jupyter client) will be rebranded as "Juno Connect" and will receive a cool new icon, whereas the app currently in beta (with embedded Jupyter) will be released as "Juno".

I have considered merging both into one app, but that wou

[2019-07-08 15:43] eoss-tw commented on #26
Ok, that clarifies it – thanks for the info. Two apps are the better approach, too – I think.

Von: Alex Staravoitau <notifications@github.com>
Antworten an: rationalmatter/Juno-Issue-Tracker <reply@reply.github.com>
Datum: Montag, 8. Juli 2019 um 17:30
An: rationalmatter/Juno-Issue-Tracker <Juno-Issue-Tracker@noreply.github.com>
Cc: Thilo Wehrmann <twehrmann@eoss.cloud>, Mention <mention@noreply.

[2019-07-08 16:04] #26 closed

[2019-07-09 17:55] Sakelariev commented on #2
Hi @navoshta I tried adding pandas using the suggested method by copying the folder into site-packages, but when I try to `import pandas as pd` I get this error - ImportError: Missing required dependencies ['pytz']

On iPad 6
pandas 0.24.2

Should I add a separate issue for this?

[2019-07-11 07:51] navoshta commented on #2
Hi @Sakelariev, unfortunately, you can't install Pandas by simply copying it into site-packages, as Pandas has some native extensions that need to be compiled into native code. It needs to be included in Juno in a way similar to NumPy and Matplotlib.

I'm certainly going to look into adding Pandas though, as this is requested a lot.

[2019-07-12 18:58] navoshta commented on #10
This should now be fixed in latest beta (Juno 1.0.3).

[2019-07-12 18:58] #10 closed

[2019-07-19 13:34] wolf71 opened #27 "Can’t support chinese enter."
Can using keyboard or hardware keyboard enter chinese char. But can copy/paste some chinese chars, and display and run ok.
etc: print(“测试”)

 - Device: [iPad Pro 11"]
 - iOS version: [iOS 12.3.1]
 - App version [1.0.3]

[2019-07-22 02:48] wolf71 commented on #2
+1 Pandas

[2019-07-22 02:50] wolf71 opened #28 "Add biopython"
Please add BioPython.
It’s include c code, not just pure-python.

[2019-07-25 15:49] dar10p commented on #5
Tried to do this: download and put it into <site-packages> but didn't work.

[2019-07-27 11:22] mieqq commented on #27
系统 bug，iOS 13 已修复

[2019-08-06 15:56] navoshta commented on #5
Hi @dar10p — sorry for a late reply, I've tried putting sympy and its dependency mpmath into site-packages and managed to import them fine. Make sure to only put the _sympy_ and _mpmath_ folders though, not the .tar.gz downloads:

![IMG_4581](https://user-images.githubusercontent.com/1111935/62555523-02d47400-b86b-11e9-9853-3908580a1da4.PNG) ![IMG_4582](https://user-images.githubusercontent.com/11

[2019-08-06 19:16] dar10p commented on #5
Thx! That was the issue. I'd just put the full tar... Now it works!

[2019-08-07 08:43] a1ex5 opened #29 "Customising Jupyter with custom.js, etc."
Since Jupyter’s config files are buried in an ApplicationSupport folder somewhere, could we have a user-accessible location for `custom.js` and so on? Like the `site-packages` folder.

Really enjoying the beta, though. Great stuff.

[2019-08-07 13:10] a1ex5 opened #30 "FileLink(s)"
Not sure if this isn’t a feature request, but FileLinks don’t work, and Force-Clicking on them brings up the Jupyter server, which eventually opens in Safari, asking for a token.

I realise this is a sandbox kind of issue, but it would be useful if we could be allowed to open notebooks in, say, the same directory as the linking notebook.

 - Device: iPhone 8Plus
 - iOS version: iOS 12.4
 - App ver

[2019-08-07 15:12] navoshta commented on #30
Hi @a1ex5, could you please clarify how can I reproduce this? What's a FileLinks exactly?

[2019-08-07 16:58] a1ex5 commented on #30
Sorry. I use them all the time as a ToC. The code would be

from IPython.display import FileLink
FileLink('notebook.ipynb')

or

from IPython.display import FileLinks
FileLinks('.')

to list all the files in the current directory.

You get a list of clickable links, all right, but they don’t do anything. Force Touch clicking reveals the Jupyter  server, which is asking for authentication.

Hope it

[2019-08-07 17:18] navoshta commented on #30
Thanks @a1ex5, I'll look into this. Whichever way I will be able to handle this, it shouldn't reveal the Jupyter frontend, of course. 🙂

[2019-08-07 17:21] a1ex5 commented on #30
Don’t think Apple would be too happy about it either...

[2019-08-07 17:24] navoshta commented on #30
I don't think they would mind actually, it doesn't seem to break any rules. Unless I'm missing something?

[2019-08-07 17:43] a1ex5 commented on #30
No you’re right of course. It’s really no different from an “Open in Safari” extension, I suppose. It just felt like I’d suddenly got inside the Jupyter server. Except that I didn’t have a token...

[2019-08-07 19:28] goerz commented on #30
I've never used IPython's `FileLink('notebook.ipynb')` but I often link to other notebooks in the same folder from markdown, e.g. `This is a revision of [notebook.ipynb](notebook.ipynb)`. I presume that would have the same problem in Juno?

[2019-08-07 20:03] a1ex5 commented on #30
@goerz Yup, the behaviour’s exactly the same.

[2019-08-10 15:25] navoshta commented on #30
OK, thanks again @a1ex5, @goerz — I will look into this. 🙂

[2019-08-10 15:29] navoshta commented on #29
I will consider allowing _some_ configuration, although generally I wouldn't expect direct access to any of the Jupyter internals or config files.

Generally, my idea is to make the experience as user-friendly as possible, which also means I don't want to let the user poke around the internals _too much_, potentially breaking app's core functionality.

[2019-08-10 16:33] a1ex5 commented on #29
Absolutely. My idea was to simply to have a “user” folder, like 'site-packages', where users could put stuff. Currently, for example, a 'custom.js' file would need to be installed at

'/private/.../Application Support/com.rationalmatter.junoapp/python-home/.jupyter/custom/custom.js'

which nobody wants, especially because that’s the _system_ directory. If a 'jupyter/...' directory (without the dot

[2019-08-17 17:29] thoughtdoer opened #31 "Add **prophet**"
**What is the name of the package?**
Prophet
https://pypi.python.org/pypi/fbprophet/

[2019-08-17 17:35] goerz opened #32 "Add QuTiP"
http://qutip.org / https://github.com/qutip/qutip

The package uses Cython extensively, and depends on Numpy and Scipy. The package is very widely used in the quantum physics (and quantum computing in particular) community.

[2019-08-21 15:16] hydroclaus commented on #5
@dar10p  @navoshta  Thanks for pointing this out and uploading the screenshots. My site-packages folder looks now exactly like yours.
I still get the error `no module named 'sympy'`.
Is there a way to force/ensure iOS to download an entire folder (i.e. all files in the `site-packages` folder including subfolders)?

[2019-08-23 04:42] a1ex5 opened #33 "Shift on iOS keyboard I’d Caps-Lock"
When using the on-screen keyboard, pressing Shift (⇧) locks the keyboard in Caps mode until you press it again.

It should capitalise only the next key you press, unless you double-tap (and “Enable Caps Lock” is enabled in Keyboard Preferences). Double-tapping in Juno obviously switches Caps mode on and off again.

Shift and Caps-Lock behave normally with a hardware keyboard.

This on an iPhone 8

[2019-08-28 22:16] ParzivalWins opened #34 "Package Request"
**What is the name of the package?**
How do you insert packages into folder /site-packages ?

Here's a list of requested packages:
pandas
Tensorflow
Sklearn
Scipy

Thank you in advance.

[2019-09-02 12:54] navoshta commented on #5
@hydroclaus This folder should be in your on-device storage, so nothing should be offloaded I assume?

Also, next Juno release will have a (hopefully) easier way to install packages.

[2019-09-03 22:47] KabirKwatra opened #35 "Add PyTorch"
[Pytorch](https://github.com/pytorch/pytorch)

[2019-09-05 23:37] frenolfi opened #36 "Add python 2.7 kernel"
I can test a few notebooks that I use regularly.

With numpy and Matplotlib but currently python 2 kernel is required

Thanks

[2019-09-06 18:45] ParzivalWins opened #37 "Add requests, datetime,json"
**What is the name of the package?**
Here's a list of requested packages:
requests
datetime
json

Thank you in advance.

[2019-09-06 21:15] dnigendac opened #38 "Changing color scheme doesn't update text"
**Describe the bug**
Changing color scheme doesn't update text. If I select "Dark"  once I get thrown back to the config modal "Light" is shown instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration'
2. Tap on 'Color Scheme'
3. Choose 'Dark' and get returned to Configuration automatically.
4. Color scheme still shows "Light"

**Expected behavior**
Color scheme should s

[2019-09-07 10:58] navoshta commented on #2
Pandas 0.25 added in Juno 1.0.4 🎉

[2019-09-07 10:58] #2 closed

[2019-09-07 11:02] navoshta commented on #5
As of Juno 1.0.4, you can install pure Python packages (such as SymPy) using Juno's package installer — which seems more reasonable rather than trying to include everything in the bundle.

![Simulator Screen Shot - iPad Pro (9 7-inch) - 2019-09-07 at 12 01 25](https://user-images.githubusercontent.com/1111935/64474090-46bae180-d167-11e9-99ee-3c3466b99dfb.png)

Simply provide package name (the one

[2019-09-07 11:02] #5 closed

[2019-09-07 11:10] navoshta commented on #38
Thanks, same goes for Esc mapping selection — it will be fixed in the next release (spotted this too late! 😭)

[2019-09-07 11:17] navoshta commented on #37
As of Juno 1.0.4, you can install pure Python packages using Juno's package installer — which seems more reasonable rather than trying to include everything in the bundle.

![Simulator Screen Shot - iPad Pro (9 7-inch) - 2019-09-07 at 12 01 25](https://user-images.githubusercontent.com/1111935/64474090-46bae180-d167-11e9-99ee-3c3466b99dfb.png)

Simply provide package name (the one you would use wi

[2019-09-07 11:17] #37 closed

[2019-09-07 11:19] navoshta commented on #34
Please, search existing issues for packages that have already been requested (and upvote if you want them, too). Also, please create one issue per package — so that others can vote for each individually, and it's easier for me to prioritise.

[2019-09-07 11:19] #34 closed

[2019-09-07 11:20] navoshta commented on #33
Yep, apparently this is a WebKit issue — which appears to be fixed in iOS 13. I'll see if I can come up with a workaround for iOS 12, otherwise just give it a couple of weeks until iOS 13 comes out.

[2019-09-07 11:22] navoshta commented on #27
Yep, this appears to be fixed in iOS 13. I'll see if I can come up with a workaround for iOS 12, otherwise just give it a couple of weeks until iOS 13 comes out.

[2019-09-07 11:23] navoshta commented on #23
Juno comes with python-dateutil 2.8.0 pre-installed — please, reopen if it doesn't work as expected.

[2019-09-07 11:23] #23 closed

[2019-09-07 11:25] navoshta commented on #22
Seems to install OK with Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898). Please, reopen if it doesn't work as expected.

[2019-09-07 11:25] #22 closed

[2019-09-07 11:26] navoshta commented on #20
This one also seems to install OK with Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898). Please, reopen if it doesn't work as expected.

[2019-09-07 11:26] #20 closed

[2019-09-07 11:27] navoshta commented on #18
Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898) should take care of that one, too. Please, reopen if it doesn't work as expected.

[2019-09-07 11:27] #18 closed

[2019-09-07 11:28] navoshta commented on #19
Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898) to the rescue, again! 😀 As usual, please, reopen if it doesn't work as expected.

[2019-09-07 11:28] #19 closed

[2019-09-07 11:30] navoshta commented on #21
Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898) should let you install this one, too. Please, reopen if it doesn't work as expected.

[2019-09-07 11:30] #21 closed

[2019-09-07 11:32] navoshta commented on #17
Juno now ships with Pandas, and this package seems to install OK with Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898). Please, reopen if it doesn't work as expected.

[2019-09-07 11:32] #17 closed

[2019-09-07 11:34] navoshta commented on #11
As a temporary substitute for `pip` command, Juno now comes with a [package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898), which lets you install pure Python packages from PyPI.

I'll update the issue title to focus on the shell commands part.

[2019-09-07 11:37] navoshta commented on #4
Seems to install OK with Juno's [new package installer](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/37#issuecomment-529098898), but apparently it requires SciPy — which has native extensions, and is, in general, a more serious issue to tackle. There's already #25 for SciPy though, so closing this one.

[2019-09-07 11:37] #4 closed

[2019-09-07 11:49] sandeepmistry opened #39 "Add **"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

[2019-09-07 18:25] dnigendac commented on #38
No worries, I was excited too when I saw Pandas support so don't blame you for releasing this quickly 😀

[2019-09-07 18:30] dnigendac opened #40 "White text on white background while in Dark file browser"
**Describe the bug**
It's hard to discern text when typing it in the file browser when in Dark mode, as text is white on white.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Dark Mode.
2. Browse documents
3. Long press on a document to rename it
4. Try to figure out what the text says :)

**Expected behavior**
Text should be white on dark background (or failing that, black on white)

[2019-09-08 07:14] tlockney opened #41 "Package installed hangs"
**Describe the bug**
After installing a package, the dialog box won't close. It lets me search for other packages, but it redraws the package name over the previous package name.

**To Reproduce**
Steps to reproduce the behavior:
1. Open package installer
2. Search for 'requests'
3. Install package
4. Attempt to select "close" button.

**Expected behavior**
The dialog box should be closeable.

**S

[2019-09-08 07:17] tlockney opened #42 "Add ability to manage installed packages"
**Describe the solution you'd like**
The package installer is a nice touch, but there's no easy/obvious way to manage packages after they're installed or even see what has been installed. At this point, it requires creating a notebook and interrogating the environment, unless I'm missing some other option.

[2019-09-08 09:21] ndfred commented on #41
Same for me on iPhone when searching for a package and eventually not wanting to install it, I have to kill the app because the Done button won’t work

[2019-09-08 09:24] ndfred commented on #41
I was actually searching for the requests package too, which really should be included as standard given how popular it is (I even thought it was standard with python 3)

[2019-09-08 12:32] magicPony opened #43 "Kaggle kernels"
Add Kaggle kernels support.

There is open API that provide some access for the kaggle platform.
Actually I am not sure which part of Kaggle functionality it covers but if it is possible Kaggle kernels support could be cool feature.

[2019-09-08 15:47] navoshta commented on #41
Thanks, I will look into this.

@ndfred — that's a good point, although I'm in two minds about this. I agree that it would be convenient to include something that is very popular (and what most users will install anyway). On the other hand, I wanted to embed as few things as possible, because I don't allow upgrading packages that are pre-installed (yet). This is to make sure users don't accidental

[2019-09-08 15:55] navoshta commented on #42
Yes, this is certainly in the backlog.

In its current form, package installer is completely stateless — it doesn't track previously installed packages (apart from those that are pre-installed), and lets the user manage them manually. It installs everything into _/site-packages_ directory in app's on-device storage, overwriting whatever package version is already installed there. Managing packages

[2019-09-08 16:20] gphilpott-com opened #44 "Naming/Renaming Notebooks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

First things first. Very new to Juno and Working Copy so apologies in advance if an easy way to name notebooks already exists.

Using Juno beta app on iPadOS beta with Working Copy for GitHub on iPad Pro.
 When using Juno, with working cop

[2019-09-08 22:54] ndfred commented on #41
One of the reasons I was surprised I couldn't use requests out of the box is that Azure Workbooks have them by default. Might be worth digging up their standard list of packages and offering that as an add-on, or installing all of these on first launch.

Since you control the runtime, how about you suggest installing a package the first time it is required then, or if you detect an import error?

[2019-09-11 17:33] toph-allen opened #45 "Add ⌘+. (Command-Period) to the Esc key binding setting"
**Is your feature request related to a problem? Please describe.**
Only Control and Option are available as remappings for the Escape, and they both have text navigation shortcuts associated with them. (Ctrl-A, Ctrl-E, etc., for Control, and the obvious one for Option).

**Describe the solution you'd like**
The shortcut  ⌘+. (Command-Period) is used in place of Escape in a number of places, includ

[2019-09-11 17:36] toph-allen commented on #45
Oops — this actually works even if you have "None" selected.

[2019-09-11 17:36] #45 closed

[2019-09-12 21:57] magicPony opened #46 "Text-based files support"
Add .md files support

[2019-09-12 23:42] dnigendac opened #47 ""D" keyboard shortcut should not delete a cell"
**Is your feature request related to a problem? Please describe.**
I realize this is also the case on the "old" Juno app, but it messes up with my muscle memory to have "D" delete the cell. I always end up doing "DD" like in normal Jupyter, and so I end up with two deleted cells.

**Describe the solution you'd like**
I'd like to remove the "D" shortcut and replace with "DD". Typing "DD" when in co

[2019-09-27 09:14] Rygor83 opened #48 "Restart every time i switch to another app and return back to Juno"
**Describe the bug**

I work in Juno. My document is opened. Then i need to read help about a function i use. i switch to Safari. One minute later i return back to Juno. Juno is restarting: clack screen with Juno logo, document browser. I need to open document again.

**Expected behavior**
I wish i could return back to already opened document and continue working with it.

**Environment (please co

[2019-09-27 09:32] navoshta commented on #48
Unfortunately, iOS doesn't allow extensive background activity — so Juno's internals (Python interpreter, Jupyter server, etc.) will be stopped/purged eventually, exact time subject to available memory, battery level (probably) and other factors.

That said, I'm looking into ways to allow it running longer in background, or perhaps restoring state in a clever manner — but this means also restoring

[2019-09-27 10:26] Rygor83 commented on #48
Thank you for your answer. Looking forward for this possibility in future!

[2019-09-27 10:26] #48 closed

[2019-09-27 12:22] christianbrodbeck opened #49 "Selection not visible in dark mode"
**Describe the bug**
Since the latest update, I can’t see the text selection. I’m using dark mode. Editing etc. works as normal (i.e. I can copy/paste selected text), it is just not displayed properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Use dark mode
2. Select some text

**Screenshots**

In the screenshot, several lines of code are selected:

![IMG_0238](https://user-images.gith

[2019-09-28 12:11] yaroslavyaroslav opened #50 "Reading files from iCloud Drive"
There’s lack of reading files from iCloud Drive. I mean, I can open notebook from any place in iCloud Drive but I can’t read any data within it except app folder. So it’ll be great to be able to add external folders to app from iCloud Drive like it’s made in IA Writer or Working Copy.

[2019-09-29 05:16] yaroslavyaroslav opened #51 "Cursor move by swipes disable keyboard input"
**Describe the bug**
Keyboard input disables after using system multitouch gesture of the cursor movement on iPad (Probably the same thing happens with 3D Touch on iPhone).

**To Reproduce**
1. Select any row in a notebook in the edit mode.
2. Make move cursor multitouch gesture (two fingers swiping on the keyboard)
3. Try to enter any key in the row from the keyboard.
4. The app fails to enter an

[2019-09-29 10:51] eoss-tw opened #52 "Please add request package"
Request lib provides nifty http api to python. To support easier access to web apis would be very cool for a tablet python environment.

[2019-09-30 01:21] peterhob opened #53 "Cannot use https when using port forwarding"
**Describe the bug**
When using the port forwarding, ssl error will show in the server. As I figured out, it is because the default url when using port forwarding in Juno is http not https. This can be easily fixed by adding a https switch like the one in the normal http connection.

**To Reproduce**
Set up the Jupiter server using SSL, then using Juno's port forwarding to connect. You will sure f

[2019-09-30 12:14] navoshta commented on #41
Turns out this is an iOS 13.1 bug, which unfortunately is still reproducible in iOS 13.1.1: http://www.openradar.me/7194998

Juno 1.1 has a workaround, which I will disable once this issue is (hopefully) fixed in subsequent iOS releases.

[2019-09-30 12:14] #41 closed

[2019-09-30 12:17] navoshta commented on #46
Hi @magicPony, is this issue related to Juno (the app with embedded Jupyter) or Juno Connect (Jupyter client)?

[2019-09-30 12:23] navoshta commented on #47
Thanks for reporting — it should be "DD", I will look into this.

[2019-09-30 12:24] navoshta commented on #49
Thanks for reporting — seems like text selection in WebKit views has changes in iOS 13, and needs some additional handling. I will look into this.

[2019-09-30 12:30] navoshta commented on #50
If I understand correctly, you should be able to do that already, but the notebook needs to be in that folder, too. Basically, you can currently grant access to notebook directory, if it happens to reside outside of app's folder — you will see a folder icon with a lock and instructions on how to grant access to it.

That said, I agree that there should be a way to grant access to _arbitrary_ folde

[2019-09-30 12:30] #50 closed

[2019-09-30 12:33] navoshta commented on #51
Thanks for reporting, I will look into this.

[2019-09-30 12:38] navoshta commented on #52
Hi @eoss-tw, if you mean [Requests](https://pypi.org/project/requests/#description), it should be available via package installer.

I agree that it would be convenient to include some commonly used packages by embedding them in Juno. On the other hand, I want to embed as few things as possible, because I don't allow upgrading packages that are pre-installed (yet). This is to make sure users don't

[2019-09-30 12:38] #52 closed

[2019-09-30 12:42] navoshta commented on #53
Yes, Juno uses HTTP by default, as I was mainly thinking of port forwarding to `localhost`, which most users won't access using SSL anyway. I agree though, there should be an option to enable HTTPS if needed. I will look into this, thanks for reporting!

[2019-09-30 12:50] navoshta commented on #44
Yep, this should be possible: Juno has the same file managing features as iOS's Files app: tap and hold the file and select "Rename", or tap file title on iPadOS (iOS/iPadOS 13).

Please, feel free to reopen if I misunderstood.

[2019-09-30 12:50] #44 closed

[2019-09-30 12:51] navoshta commented on #38
This should be fixed in Juno 1.1 and Juno Connect 1.4.

[2019-09-30 12:51] #38 closed

[2019-09-30 12:53] navoshta commented on #24
Juno should provide same file-managing functionality as iOS's Files app — but IIRC it will only let you rename the notebooks, not other types of files. You should be able to rename an archive in the Files app, though.

Please, feel free to reopen if I misunderstood.

[2019-09-30 12:53] #24 closed

[2019-09-30 12:54] navoshta commented on #30
Force-tapping should no longer expose Jupyter frontend; as per FileLink support, this is something I may need to look into later.

[2019-09-30 12:56] navoshta commented on #14
This will be _a bit_ tricky with Juno's kernel management, but still doable. I have disabled the "Restart and Run All Cells" action for now, and will re-enable when the underlying issue is fixed.

[2019-09-30 16:46] yaroslavyaroslav opened #54 "iCloud Drive files reading"
Reopened issue:
[code]

I’ve saw that option to grant access to the external folder, what you talking about, but after granting that access I’m still unable to reach files within it.

After open some notebook from iCloud Drive, the `os.getcwd()` shows something like this: `'/private/var/mobile/Containers/Data/Application/3D554C95-C706-4299-8213-DC9881A59333/Library/Caches'`

And the listing of rea

[2019-10-01 01:55] elwarren opened #55 "Cannot open any notebooks"
**Describe the bug**
Cannot open a notebook after saving.
Cannot open a notebook from the examples folder.

**To Reproduce**
1. Creating new notebook results in file named Untitled.
2. Can execute code.
3. Saves ok.
4. When attempting to open, file is greyed out.
5. Long press does nothing.

**Expected behavior**
Should be able to open a notebook.

**Screenshots**
If applicable, add screenshots or

[2019-10-01 02:01] elwarren commented on #55
This also happens on iPad mini.

[2019-10-01 02:06] elwarren opened #56 "Cannot rename notebook after create"
**Describe the bug**
Cannot rename notebook after create

**To Reproduce**
Steps to reproduce the behavior:
1. Create notebook
2. Tap on Untitled at top
3. Change name to Test
4. Error renaming file private/var/mobile/Containers/Data/Application/...

**Expected behavior**
Should rename file

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Envir

[2019-10-01 02:06] elwarren commented on #56
Also happens ipad mini

[2019-10-01 05:56] SuperTachyon commented on #25
Scipy is the most important missing package for me. It’s probably not easy to port but others have done it (Pyto).

[2019-10-01 07:04] navoshta commented on #55
@elwarren, it sounds like you have another app installed, which is abusing iOS file association, claiming Jupyter Notebook format (which is public and open) as their own, preventing other apps from using it. Do you have this app installed by any chance? https://apps.apple.com/app/id1326802832

[2019-10-01 11:45] elwarren commented on #55
Yes, I do have that installed. Just uninstalled it and restarted phone. Can open notebooks now. Thanks for fast response!

[2019-10-01 11:45] #55 closed

[2019-10-01 11:45] navoshta commented on #56
Thanks for reporting @elwarren — I'll fix this in the next release, meanwhile I suggest renaming via file browser (press and hold on file on iPhone, tap notebook title on iPad).

[2019-10-01 12:02] elwarren commented on #56
Now that my other issue 55 is resolved, I can use file browser to long press and rename notebooks. Before that was resolved the long press did nothing. This is an acceptable workaround. Thanks!

[2019-10-01 12:14] navoshta commented on #54
Yep, this looks good: this usually means that you are editing a notebook in another app's sandbox, therefore current working directory is set to a temporary folder (because right away, without granting explicit access, you can't read/write in notebook's directory anyway).

If you then tap the folder icon with a lock, and select a directory which contains your notebook (no matter how deep down in t

[2019-10-01 12:54] elwarren opened #57 "Word wrap in code cells"
**Is your feature request related to a problem? Please describe.**
 When editing long lines of code the edit window must scroll right. This is difficult when working on large programs. This is especially difficult on a vertical portrait orientation iPhone. The ouput window already does wrap output.

**Describe the solution you'd like**
Config option to enable/disable wrapping long lines in code ce

[2019-10-01 19:07] yaroslavyaroslav commented on #54
This doesn’t happen on my devices both with my notebook neither copied “Introductory Notebooks” copied to the ”iCloud Drive/Documents/Developer/Introductory Notebooks“ the documents are iCloud Drive Mac documents folder.

On tap of the lock icon there’s opening system files pop up window, I tap on the needed folder and tap “done”. The lock icon disappears in the app, but nothing happens next to it

[2019-10-01 19:16] yaroslavyaroslav commented on #54
I’ve got the point! There is a missed step in your explanation in this thread: after allowing access to the folder you need to restart kernel. After this the folder are changes in the way you’d describe.

I’m dunno is this a bug either feature, but now tings works. So maybe it’s better to force kernel restart of access grants?

[2019-10-01 19:25] magicPony commented on #46
Both of them

[2019-10-02 03:56] huw opened #58 "Native R support for Juno"
Fairly self-explanatory. I guess this probably isn’t as big of a priority, since Python has a much larger ecosystem & well-known support, but there are a lot of institutions (companies, universities, etc.) that either enforce R usage or where it’s mainstream enough that not using R is difficult.

There aren’t really any other R clients out there, and none that support Jupyter.

Current workaround

[2019-10-02 13:26] navoshta commented on #58
Thanks @huw — I agree, adding support for R would be great, although you're right, currently it's not at the top of the list.

[2019-10-02 14:44] navoshta commented on #54
@yaroslavyaroslav, that's odd, the idea is that your current working directory should change right away, without restarting the kernel — i.e. the `os.getcwd()` command should give you correct output of your notebook directory as soon as you grant access to it.

If this doesn't happen in your case, then this is indeed a bug — I couldn't reproduce this so far, but I'll look into it, thanks for repor

[2019-10-02 14:53] yaroslavyaroslav commented on #54
It seems so, but with that workaround it’s not so annoying.

I’m adding the link to the video of the bug anyway (I’ll delete it in the beginning of the November. ![Video](https://yadi.sk/i/DHHHpX_QkOWkyA)

[2019-10-02 16:45] DaveKT opened #59 "Won’t Start Notebook"
Prior to version 1.4.0 all connections to my self hosted Juypter notebooks worked flawlessly. After updating to version 1.4.0 I can connect to the server but the notebooks won’t open. All connection settings are identical between the instances. Using python 3.6 kernel.

Steps
1. Open app
2. Connect to Jupyter notebook running on remote server
3. Attempt to open ipynp notebook.
4. Hangs.

Jupyter v

[2019-10-02 18:01] DaveKT commented on #59
Just a quick additional note. I decided to buy Juno (stand-alone edition) and try to connect to my notebook via FileExplorer. Works like a champ. Some paths changed but that’s easy to remedy. Also, the execution is MUCH faster when working with the notebook locally. Only downside to this approach is that I’ll have to manually maintain parity between the server files and the local ones.  Hoping con

[2019-10-03 13:53] navoshta commented on #46
@magicPony For Juno, perhaps the easiest would be to simply use any other app built specifically for text editing. Since all files are accessible via iOS file browser anyway, this should be as seamless as editing them in Juno.

As per Juno Connect, I agree — editing text files while you're connected to a Jupyter server would be helpful! It's on the roadmap. 😉

[2019-10-03 14:50] navoshta commented on #59
Hi @DaveKT — what kind of authentication are you using on this Jupyter server? Is it just plain Jupyter Notebook token/password auth, or is it perhaps a JupyterHub server with additional authentication steps/redirects?

Also, 4.4.0 sounds like a fairly old distribution (assuming it's Jupyter Notebook), would you consider upgrading it to at least Jupyter Notebook 5.x.x? (IIRC the most recent versio

[2019-10-03 20:29] DaveKT commented on #59
I'm using simple password.

So I updated to version 6.0.0 and now everything seems to be working again. Interesting.

For future reference this is a known good configuration.

Server Information:
Jupyter notebook.
The version of the notebook server is: 6.0.0
The server is running on this version of Python:
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]

Thank you for your help!

[2019-10-03 20:29] #59 closed

[2019-10-04 13:52] navoshta commented on #57
Thanks @elwarren, I'll see if there's a quick way to add this, otherwise it will need to wait till we introduce a few more native components to notebook editor.

[2019-10-06 18:59] rasnes opened #60 "Can’t connect to local server with port forwarding"
This is weird. I can’t connect to my own server after I did it with no issues just two days ago, after following your instructions to set a Jupyter server. It simply says “Authentication failed”. But I don’t understand that error message, as I can connect via ssh in other apps with the exact same user and password, at port 22.

Can it be that the password field in Juno connect is unable to store t

[2019-10-07 10:37] navoshta commented on #60
Hi @rasnes, could you please attach a screenshot of the "Authentication failed" message — just to make sure that it's the SSH tunnel part that can't authenticate (and not Jupyter)?

Yes, this sounds like it could be related, as Juno Connect should show the concealed password when you try to edit your server configuration (if there is any password stored). Does it stay blank when you re-enter it an

[2019-10-07 15:54] banesullivan commented on #55
Also happened to me on my iPad Pro... screen capture [here](https://www.dropbox.com/s/8qsvgtghkneyntg/Video%20Oct%2006%2C%208%2043%2029%20PM.mp4?dl=0) (I might delete that video in a month or so)

I found out that the app [Notebook Master for Jupyter](https://apps.apple.com/us/app/notebook-master-for-jupyter/id1326802832) was causing the conflict for me:

[2019-10-07 16:15] banesullivan opened #61 "Multiple Notebooks/Spaces"
**Is your feature request related to a problem? Please describe.**

It would be awesome if there was a way to open multiple notebooks at once and be able to leverage iPadOS 13’s new multiple spaces feature - is there a status on this feature?

**Describe the solution you'd like**

A way to open more that one notebook at a time within a single instance of the app and then it would also be cool to h

[2019-10-07 16:19] banesullivan opened #62 "[Developer] Building non-pure Python packages for Juno"
I develop Python packages that I’d love to explore leveraging on iOS/iPadOS.  If a package is not pure Python, what might the developer of a package need to provide in order to install that package on Juno?

[2019-10-07 17:41] Tim-CYLiao opened #63 "Can’t open .ipynb in Juno app."
**Describe the bug**
.ipynb(notebook file) could’ve be open in Juno........

**To Reproduce**
Steps to reproduce the behavior:
1. Open Juno app
2. Tried to open any .ipynb (Jupiter notebook)files in either local or iCloud. All files turned Gray and couldn’t select/open.
3. Even the notebook file created by Juno itself,still could’ve open after save and quit the file.

**Expected behavior**
A clear

[2019-10-07 20:22] rasnes commented on #60
The error message:

![image](https://user-images.githubusercontent.com/13234940/66345408-51c48580-e950-11e9-960b-9210afc6f022.png)

The Edit screen looks like this after an unsuccessful connection attempt:

![image](https://user-images.githubusercontent.com/13234940/66345145-b7644200-e94f-11e9-8248-dfe533b0820a.png)

The password area seems blank, as you can see, even though I enter it correctly.

[2019-10-08 15:41] navoshta commented on #62
Good question! Due to platform restrictions, all packages using native extensions need to embed their compiled binaries in the app (i.e. you can't install them externally, as there's no way to link afterwards).

So, perhaps the best way would be to add a package request ticket here, and make sure native extensions in your package are implemented in as platform agnostic manner as possible, i.e. can

[2019-10-08 15:52] navoshta commented on #60
Thanks @rasnes — yes, judging by the screenshots, it's specifically SSH tunnel authentication that fails, and it does seem like the password is blank for some reason, hence authentication failure. What happens when you re-enter it and save the server configuration? Is it correctly saved if you create a _new_ server configuration with the same settings?

Either way, I'll look into this; although if

[2019-10-09 03:57] Tim-CYLiao commented on #63
Thanks,it fix.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-09 08:19] #63 closed

[2019-10-11 00:32] abdu1993 opened #64 "Can’t highlight on iPad"
**Describe the bug**
Used to be able to drag the highlight with touch by finger on the iPad. Now the only way to drag a highlight is to use the left and right arrows, the two dots that appear at the beginning and end of a highlighted string are not there anymore in the latest update to jupyter connect.

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on text to highlight
2. Once the text

[2019-10-11 13:58] navoshta commented on #64
Thanks for reporting @abdu1993. I think this is related to WebKit handling selection differently in iOS 13; it's likely related to #49, too. I will look into this.

[2019-10-11 18:21] rasnes commented on #60
Thanks for looking into this! Reentering the password with the correct username behaves the exact same way as the first time I try to connect. But if enter a username that does not exist, it tries to authenticate and stores the password upon reopening the connect config. Creating a new server instance behaves exactly the same.

Nothing updated on the iPad. Just bought, installed the newest iPadOS,

[2019-10-14 02:48] swshadle opened #65 "Pressing tab for autocomplete adds extraneous characters"
**Describe the bug**
Extra characters are added after pressing the tab key on Apple Smart Keyboard on iPad Pro.

**To Reproduce**
Steps to reproduce the behavior:
1. When using code completion, tap on Tab
2. The desired code is written but a random character is also appended

**Expected behavior**
Extra characters should not be added

**Screenshots**
If applicable, add screenshots or a screen reco

[2019-10-14 22:28] navoshta commented on #65
Thanks @swshadle, I will look into this. Does it insert those character every time? What kind of characters are those? Do you have English input keyboard enabled at the time (in case you have multiple international keyboards setup)?

Also, if you could please specify which iOS you are running, and what Jupyter Notebook (or JupyterLab) version you're running on your server that would help a lot.

[2019-10-16 03:28] sleemCode opened #66 "Add LXML"
Could Not find a supported distribution for LXML.

[2019-10-16 08:40] navoshta commented on #66
Yes, unfortunately LXML has compiled C code, which can't be installed externally due to platform restrictions. I'll look into re-compiling it for iOS and embedding in Juno.

[2019-10-16 12:26] Sakelariev commented on #64
I confirm this bug for both apps - Juno and Juno Connect and it started after I updated to Ipad OS (iOS 13). Before that highlighting worked like in any other iOS app. My device is iPad 6.

[2019-10-16 20:18] DRTorresRuiz commented on #62
Hello, I am trying to install **rpy2 3.2.0 package** on *Juno for Jupiter Notebook* , but once I click on the install button I receive this error:

    “⚠️Failed to install rpy2 3.2.0. Installation from source failed”

Could this also be related to this topic?

[2019-10-16 21:18] banesullivan commented on #62
Thanks for the tip! For the package that I am most interested in adding [the visualization toolkit](https://vtk.org)'s Python bindings, this is a lot easier said than done and it will likely be a while before a stable iOS version is released.

So I suppose this answers my question!

[2019-10-16 21:18] #62 closed

[2019-10-17 01:09] sleemCode commented on #66
That would be awesome, thank you.

[2019-10-18 02:56] mauceri commented on #64
This renders the application unusable....

[2019-10-18 17:57] sjinko opened #67 "Fail to install pyproj — Installation from source failed"
Hi,
I am unable to install pyproj 2.4.0 on Juno: “Fail to install pyproj 2.4.0 — Installation from source failed”.
The installation of pyproj 2.4.0 on works on my macOS conda env.

IPad Pro 11’
Juno 1.1.0 (4127)
IPadOS 13.1.3
Pyproj : https://pypi.org/project/pyproj/

[2019-10-19 20:27] navoshta commented on #67
Unfortunately, pyproj has compiled C code, which can't be installed externally due to platform restrictions. I'll look into re-compiling it for iOS and embedding in Juno.

[2019-10-21 05:21] Bollie15 opened #68 "Unable to enter Chinese"
I can't type in Chinese, it doesn't work. I don't want to update to IOS13, because after I upgraded my ipad mini5 to the ipad OS, I regretted that many of the apps were not compatible. I don't want to upgrade the system.

 - Device: [iPhone XR]
 - iOS version: [iOS 12.1]
 - App version [Juno 1.0.0(4127)]
The following link video is the problem. There is no problem with the software itself. However

[2019-10-21 15:57] navoshta commented on #68
Thanks @Bollie15 — since it's related to iOS 12, looks like this issue duplicates #27 (I'll close this one and leave the older one open).

As mentioned in the comments there, I'll see if I can apply a workaround specifically for iOS 12. Alternatively, I highly recommend updating to iOS 13 — hopefully, other apps received updates and fully support it by now.

[2019-10-21 15:57] #68 closed

[2019-10-22 04:20] Bollie15 commented on #68
@navoshta Thanks

[2019-10-22 12:57] navoshta commented on #64
This should now be fixed for both apps in Juno 1.1.1 and Juno Connect 1.4.1.

[2019-10-22 12:57] #64 closed

[2019-10-22 12:58] navoshta commented on #49
This should now be fixed for both apps in Juno 1.1.1 and Juno Connect 1.4.1.

[2019-10-22 12:58] #49 closed

[2019-10-22 12:59] navoshta commented on #60
Thanks again @rasnes — I've just released Juno Connect 1.4.1, which has some minor improvements to how port forwarding is handled, could you please try it and let me know if you still experience this behaviour?

[2019-10-23 19:34] sjinko commented on #67
Thanks!

On Sat, 19 Oct 2019 at 22:27 Alex Staravoitau <notifications@github.com>
wrote:

[2019-10-23 21:57] gsalesga opened #69 "Can’t open any notebook"
**Describe the bug**
I can’t select any notebook in any drive. Device rebooted many times. Juno reinstalled. Files app reinstalled.

**To Reproduce**
1. Open the app. It’s not possible to select any notebook.

**Expected behavior**
Select a file and open it.

**Screenshots**
![IMG_7046](https://user-images.githubusercontent.com/24577355/67437010-1bddfd00-f5f0-11e9-85e1-203c4a528ded.jpeg)

**Enviro

[2019-10-24 02:44] NarciH commented on #69
Hi, I have the same problem.

[2019-10-24 09:24] navoshta commented on #69
@gsalesga, @NarciH: please take a look at #55 — perhaps you have another app installed, which is abusing iOS file association mechanisms? A likely candidate is [Notebook Master](https://apps.apple.com/app/id1326802832).

[2019-10-24 19:36] gsalesga commented on #69
Resolved! Thank you!

[2019-10-24 19:36] #69 closed

[2019-10-25 06:35] phidodido opened #70 "AWS EC2 connection error"
I have Jupyter running on an AWS EC2 instance. I have created and installed the SSL certificate on my iPad with this guide [Accessing Jupyter on iOS over HTTPS](https://juno.sh/ssl-self-signed-cert/).

When I try to connect with Juno, the app gives this error:
`The network connection was lost.`

On the server side I get this error:
`SSL Error on 10 ('127.0.0.1', 49150): [SSL: HTTP_REQUEST] http re

[2019-10-25 15:50] navoshta commented on #70
Hi @phidodido, are you sure HTTPS is enabled for your server configuration? What does the resulting URL look like in server configuration screen, and what does connection checker say? (it's at the bottom of all editable settings).

[2019-10-28 02:01] phidodido commented on #70
@navoshta

[code]

[code]

[code]

[2019-10-28 13:20] navoshta commented on #70
Hi @phidodido

Are you sure HTTPS is enabled for your server configuration _in Juno Connect_? As in: is Juno Connect trying to reach your server via HTTP or HTTPS? If you have configured your Jupyter instance to serve over HTTPS with an SSL certificate, HTTPS switch should be enabled in server configuration screen:

![IMG_86D690CBA30B-1](https://user-images.githubusercontent.com/1111935/67681535-6

[2019-10-28 15:41] phidodido commented on #70
@navoshta With AWS EC2 I need to use “Local port forwarding” as the connection type. There is no HTTPS switch when selecting local port forwarding.

[2019-10-28 16:49] navoshta commented on #70
@phidodido Ah OK, in that case you don't need to follow [Accessing Jupyter on iOS over HTTPS](https://juno.sh/ssl-self-signed-cert/), instead refer to [Connect to Jupyter server using SSH port forwarding](https://juno.sh/ssh-tunnel-to-jupyter-server/) tutorial. Of course nothing is stopping you from using both port forwarding _and_ SSL, but usually it's OK to connect to your Jupyter server over HT

[2019-10-29 02:17] phidodido commented on #70
@navoshta Thanks it works now! It makes sense to use HTTP with SSH.

Now I just have to wait for the text file editing feature before I can move my workflow to Juno :)

[2019-10-29 02:17] #70 closed

[2019-10-29 09:05] navoshta commented on #70
Great! Yes, text files editing is on the roadmap (although can't tell when it will be available unfortunately).

[2019-10-29 19:32] kilichenko opened #71 "Image display"
Does not display images inserted as html tag

Steps to reproduce the behaviour:
Insert in a markdown cell a tag like `<img src="test.png">`
Run the cell and contemplate a perfectly empty square. The same notebook displays the image correctly when opened on the desktop.

I used iPad mini 5 on iOS 13. Notebook and image are in the same dropbox folder. App is updated.

![photo_2019-10-29_20-27-19](ht

[2019-10-29 19:36] kilichenko opened #72 "Image drag and drop"
When I use Juno in a split mode I can drag and drop images from the browser and it works. It would be really cool if it was possible to drag and drop images from a file explorer or just paste from the clipboard.

[2019-10-29 19:37] #72 closed

[2019-10-29 19:37] kilichenko opened #73 "Image drag and drop"
When I use Juno in a split mode I can drag and drop images from the browser and it works. It would be really cool if it was possible to drag and drop images from a file explorer or just paste from the clipboard.

[2019-10-29 19:41] kilichenko opened #74 "Default keyboard"
It is really annoying that it is not possible to use the default system keyboard with Juno. It is handy to use a built in text replacement which does not work right now.

[2019-10-30 10:30] JaeungHyun opened #75 "Shutdown is not working"
*Environment (please complete the following information):**
 - Device: ipad pro 3rd 12.9
 - iOS version: ios 13.2
 - App version: latest

Shutdown button in the running tab is not working

[2019-10-31 11:34] navoshta commented on #71
@kilichenko This is expected behaviour I'm afraid: in order to display the image, Juno need to have access to the image file. Judging by the icon in the header, Juno doesn't have access to notebook directory, so it can't read the image. You can verify this by moving said notebook and image to another location, e.g. Juno's on-device storage.

You will get similar behaviour if notebook and image are

[2019-10-31 11:38] navoshta commented on #73
Thanks, I'll look into what I can do here. I suppose it could get somewhat tricky with inserting image file paths that are outside of Juno's sandbox, and are inaccessible to Juno.

[2019-10-31 11:48] navoshta commented on #74
Hi @kilichenkol, could you please explain what exactly is not working here? Juno should work fine with system keyboard. If you mean autofill suggestions, then those are disabled as they are rarely useful when writing code/markdown.

[2019-10-31 11:54] navoshta commented on #75
Hi @JaeungHyun — this seems to be working, could you specify what type of server are you experiencing this with: is it one of the cloud-computing services, or your own custom server? Also, perhaps it's your Jupyter server settings that don't immediately trigger list refresh, could you try tapping the Jupyter's refresh button (🔁)?

[2019-10-31 12:32] kilichenko commented on #71
Thank you, actually bought iPad recently specifically to use Juno, so I'm new to the platform. I guess there is no way here to grant the necessary privileges to the app? What is then the recommended way of syncing notebooks if storing them locally?

[2019-10-31 12:45] kilichenko commented on #74
You are right it is a system keyboard, just with disabled autocomplete. Is it possible to add a switch in settings to enable it?

[2019-11-01 02:44] JaeungHyun commented on #75
@navoshta nei, refresh button is also not working.

[2019-11-01 11:39] ProfCelia opened #76 "File disappeared from app and was replaced with another untitled file"
Description
I had been working for the last two days on an notebook on the Logistic equation and so entitled, it used NumPy, matplotlib, and SymPy.
I also had an untitled notebook that I used for trying out various ideas for the main note book. I had been switching apps to refer to use other apps. This has not caused problems in the past. But the last time I used it the the contents of my Logistic

[2019-11-02 18:40] mulra02 commented on #75
Shutdown/refresh button in the ‘Running’ tab does not work for me as well. I can still shutdown from the ‘Files’ tab though.

[2019-11-03 06:37] JaeungHyun commented on #75
@mulra02 Are you using own custom server?
I'm using that.

[2019-11-03 19:23] hankelvin commented on #35
this will be very helpful. or at least a blog post on how to install it on the /site-packages locally.

[2019-11-03 21:10] navoshta commented on #71
@kilichenko For most cloud providers you should be able to grant access with that folder-with-a-lock button in the notebook editor top bar. Dropbox app, however, doesn't seem to fully conform to iOS file provider integration requirements, so unfortunately it doesn't work with it (yet). It should work with iCloud though, or with Working Copy repos, and with other apps that fully integrate against i

[2019-11-03 21:11] navoshta commented on #74
@kilichenko I'll see if there's an easy way to restrict this to Markdown cells, or something like that. The main issue I'm anticipating is that it may not play well with cell action buttons that are currently displayed instead of autocomplete suggestions.

[2019-11-03 21:19] navoshta commented on #76
Hi @celiarees, was this notebook stored in "Introductory Notebooks" directory by any chance? This directory is re-created with each app update (in case there are changes in intro notebooks for new library versions, for instance), so I wouldn't recommend storing anything there that's meant to last.

The app has been recently updated to version 1.1.1, so I'm guessing your iPad auto-updated Juno, and

[2019-11-03 21:20] navoshta commented on #75
Hi @JaeungHyun, @mulra02 — I'm struggling to reproduce this unfortunately, could you please specify if you're both using a custom server or a cloud-computing service, and which Jupyter Notebook/JupyterLab version is installed on the server you are connecting to?

Either way, I'll look into what could be causing this on Juno Connect side — thanks for reporting.

[2019-11-03 21:23] navoshta commented on #35
@hankelvin, it won't be possible to install via `/site-packages` I'm afraid. PyTorch includes native extensions, which need to be ported/re-compiled for iOS and embedded in the app (similar to NumPy, Matplotlib, Pandas, etc.)

[2019-11-03 22:42] mulra02 commented on #75
I’m also using my own custom server. Notebook version is 6.0.1.

[2019-11-04 01:20] kilichenko commented on #74
As for me it would also absolutely fine even if suggestions were not displayed but the autocomplete simply worked)

[2019-11-04 07:51] paulllemke opened #77 "Dash Module incomplete"
On PiPy, there is a Module called CoolProp, which i imported succesfully. But since it is not a pure Python Package, i was not able to use it. Also, there is a Module for Dash in PiPy, but ist seems like ist is not complete. When i tryed to run my code, ist told me that multiple sub-modules could not be found. With some of them, i was able to install them, but with some others ( e.g. dash_renderer

[2019-11-04 13:28] JaeungHyun commented on #75
@navoshta

jupyter                   1.0.0                    py37_7
jupyter_client            5.3.4                    py37_0
jupyter_console           6.0.0                    py37_0
jupyter_core              4.6.0                    py37_0
jupyterlab                1.1.4              pyhf63ae98_0
jupyterlab_server         1.0.6                      py_0

I'm using my own custom server.

Ubuntu

[2019-11-06 11:14] #71 closed

[2019-11-06 12:10] navoshta commented on #77
@paulllemke, there seems to be a bug in Juno's package installer, which won't display package info for `dash-renderer` as some of the package info is missing. This will be fixed in the next release — thanks for reporting!

As per CoolProp, please create a separate ticket using "package request" template.

[2019-11-06 12:25] navoshta commented on #75
Thanks @JaeungHyun, @mulra02 I will look into this. A dumb question perhaps, but this button does work when you connect to the same server on desktop, right?

[2019-11-06 12:28] JaeungHyun commented on #75
@navoshta Yes, shutdown button is working when using desktop.  I'm using two servers, but same situation

[2019-11-07 23:59] juanerolon opened #78 "Can’t load PyPI boto3 module after being installed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Install boto3 module AWS SDK
Call import boto3 from execution cell

**Expected behavior
Import module without throwing exceptions in class  botocore session method

** Exceptions:

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-5c43c86c018e> in <module>
----> 1 i

[2019-11-08 00:09] juanerolon commented on #78
Temporary fix: I had to track the trail of dependencies and install each absent module one at a time. Seems that simple install from PyPI cannot resolve dependencies.

[2019-11-08 01:36] mulra02 commented on #75
@navoshta You’re right, for me the button doesn’t work in desktop either. My issue is not caused by Juno then.

[2019-11-08 11:20] jmbenedetto opened #79 "App restarting each time I come back to it in iPadOS"
**Describe the bug**
Each time I change apps in IPadOS, when I come back to Juno, after a couple of minutes it restarts. I then have to reopen the file I was working on.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Juno app
2. Press home button
3. Wait 30 seconds
4. Come back to Juno

**Expected behavior**
I expect Juno to stay open when I change apps.

**Screenshots**

**Environment

[2019-11-08 16:19] navoshta commented on #78
Hi @juanerolon, yes you're right: Juno's package installer doesn't resolve dependencies in its current form (see this doc for more details: [Install Python packages in Juno](https://juno.sh/juno-pypi-package-installer/)). It's certainly something I want to look into later, alongside #42 — meanwhile, you need to install each dependency manually.

[2019-11-08 16:27] navoshta commented on #79
Sadly, this is how iOS treats apps while those are in background, see #48.

I have an idea of how this could be handled a bit better on the app side by restoring state in some common cases — I'm currently working on it, so hopefully you will see some improvements in the next release!

[2019-11-09 20:35] baldwint opened #80 "Remap Caps Lock to Esc"
Would you please consider adding the caps lock key as an additional Esc key binding for hardware keyboards?

It is nice to have Control and Option remapped, but for muscle memory’s sake I’d like to match what I use on the Mac (where I use Control and Option for other things).

[2019-11-11 07:10] ApoorvDP opened #81 "Constantly crashing on iPad Pro"
Juno app crashes within 5 seconds on my iPad Pro 11 (2018). Using iPadOS 13.2.2
Juno Connect is working fine.

Seems to be specific to iPadOS, since the Juno app works fine on my iPhone XS Max running iOS 13.2.2

[2019-11-12 21:06] navoshta commented on #81
Hi @ApoorvDP, sorry to hear that, just to clarify — the app crashes while it's in foreground and loading, right? Asking as I can't reproduce this on any of my devices (and I don't see any fresh crash logs matching description unfortunately).

[2019-11-12 21:12] navoshta commented on #80
@baldwint, thanks for reporting — yep, this is certainly something I want to add eventually. Unfortunately, this will likely need to wait until a notebook editor rewrite, as currently it partially relies on WebKit components for notebook editing. This makes specifically Caps Lock hard to handle — there is a number of potential workarounds, but nothing robust and future-proof as far as I know. I'll

[2019-11-12 21:28] ApoorvDP commented on #81
Yes, that is correct. It doesn't even get to the loading screen, just crashes instantly.
I don't think it's a RAM management issue, as someone else listed on the tracker.

I made a brief screen recording, which you can see at:
https://colostate-my.sharepoint.com/:v:/g/personal/apoorvp_colostate_edu/ESArNOAIE6RFjAe-03AbWw4BlIHMDVgz7JXkzEtIgP-XzQ?e=vP4Rve

Please let me know what other details you r

[2019-11-12 21:43] navoshta commented on #81
Thanks for the recording @ApoorvDP — that looks very odd! Could you please try deleting it and fresh-install again? Did you participate in Juno beta by any chance?

[2019-11-12 21:52] ApoorvDP commented on #81
Damn, that was the simplest fix of all time. Can’t believe I was so dumb I didn’t try that.

Thank you for the help, and sorry for wasting your time.

Keep up the great work, we all appreciate your apps a lot!

[2019-11-12 21:52] #81 closed

[2019-11-12 22:05] navoshta commented on #81
No worries, and glad you got it working! I'm still curious why it was crashing though... I'll keep an eye on similar reports.

[2019-11-14 20:26] reichardtj commented on #25
Same here, scipy is one of the very important packages missing and a lot of others depend on it, eg seaborn. Happy to contribute if possible.

[2019-11-17 02:24] jmbenedetto commented on #54
Hi. I’m having the same issue, but restarting the Kernel does not solve my issue.

[2019-11-17 16:24] jceresearch opened #82 "Paste pop up menu doesn’t show when keeping pressed the selection as other IOS"
**Describe the bug**
I copied some text from another app in my iPhone   but when trying to paste it in a cell of a new notebook it doesn’t show the paste pop up balloon. Using the new iOS gesture of three fingers spreading did paste.

I just now tried the same with my iPad and it worked, still a fraction slow to show up the balloon but still natural. In the iphone it just doesn’t register and I am

[2019-11-17 16:31] jceresearch opened #83 "Unload from memory too quickly"
**Describe the bug**
While using Juno, if I switch to another application to do something (main button back to main screen and , say google something, and back after a Minute or so) , it fully loads again, i need to go back to opening the notebook etc.
Not sure if this is a but or more of a feature request (some sort of persistence).

**To Reproduce**
Steps to reproduce the behavior:
Leave the app

[2019-11-18 16:40] navoshta commented on #83
@jceresearch Sadly, this is how iOS treats apps while those are in background, see #48.

I have an idea of how this could be handled a bit better on the app side by restoring state in some common cases — I'm currently working on it, so hopefully you will see some improvements in the next release!

[2019-11-18 16:41] navoshta commented on #82
@jceresearch Thanks for reporting, I'll take a look — does this happen with every notebook, or only when you create a new one?

[2019-11-18 17:04] jason-green-io opened #84 "Add pyyaml"
Pyyaml

https://pyyaml.org/

[2019-11-18 17:53] jceresearch commented on #82
I just tried to paste a small piece of text to a new cell of an existing notebook and I couldn’t  invoke the balloon... the cursor did gett bigger and moving  a bit to the right and back , but no balloon.

Once I add data , it eventually shows the balloon for pasting.
plus from there on it does show fine in an empty cell... still the cursor jumps around a bit

could it be that the first invocation

[2019-11-19 15:13] johnmiller111980 opened #85 "Juno connect cant connect to CoCalc after update"
**Describe the bug**
Cant connect tot CoCalc afer update.
Connecting 5 4 3 2 1 and again ang again

Tested on both iphone and ipad. Las version of IOS and Juno Connect

[2019-11-19 21:47] navoshta commented on #85
@johnmiller111980 Judging by description, your CoCalc API key got invalidated. Unfortunately, CoCalc's API doesn't provide a way to check if that is indeed the case, so all Juno can do is try using an existing key a few times, and after a number of unsuccessful attempts it will give up, invalidate the local copy of the key and display a login screen to obtain a new one.

I suggest that you log out

[2019-11-20 00:48] markolonius opened #86 "paperspace.com notebook integration"
Feature request for integration with paperspace.com notebooks.  Now that they offer free GPU options I think it would be perfect to pair with Juno Connect.  They seem to be able to run on standard Jupyter notebooks and have a sharable link.  Any help I can provide further just point me in the direction!

[2019-11-20 11:29] Arjitc12 opened #87 "Problem with DarkMode"
App colour scheme doesn’t switch back to original colour scheme after Turning off dark mode.

[2019-11-20 14:44] johnmiller111980 commented on #85
Thank you vm for help.
All is working now!

[2019-11-20 14:44] #85 closed

[2019-11-21 13:40] gsportelli opened #88 "Notebook restarts after sleep (or app switch)"
**Describe the bug**
I was working with Juno on a notebook in split view with another app, then I left the iPad and came back after it went in sleep mode. When I unlocked the iPad and went back to the split screen, Juno restarted and the notebook was lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Juno in split mode with, e.g., the iOS Notes app.
2. Create a new notebook and inser

[2019-11-21 15:22] gsportelli commented on #88
Curiously, the notebook I had lost reappeared in the recent notebooks a couple of hours later.

[2019-11-21 18:25] navoshta commented on #82
Hmm, it's odd that this behaviour seems to only happen on empty cells — I'll see what could be breaking here. Juno partially relies on Jupyter's UI for displaying notebook editor, so there are a few places where things could go wrong (including Apple's WebKit!).

[2019-11-21 18:28] navoshta commented on #86
Thanks @markolonius, it's on the list of services to integrate with! If they indeed provide an endpoint with standard Jupyter interface, this would make the integration much easier (and therefore it will be likely to get picked up soon 🙂).

[2019-11-21 18:49] navoshta commented on #87
@Arjitc12 I'm assuming you switch off dark mode in iOS system settings, and then Juno doesn't change colour scheme when you reopen it? Could you please make sure you have "Auto" enabled in colour scheme setting in Juno?

[2019-11-21 19:08] navoshta commented on #88
@gsportelli Sorry you are seeing this! Yes the notebook itself shouldn't have been deleted — even if it was opened in place, the changes are always saved before the app goes to background. Where was it located when you opened it? Did the file have the last changes saved when you recovered it afterwards? Was it in the same location?

As per Juno restarting: sadly, this is how iOS treats apps while

[2019-11-21 20:02] simardcasanova commented on #58
I second that!

There is basically no way to do any meaningful work with R on an iOS device.

Another workaround (to be tested) would be to self-host a Jupyter notebook with a R kernel and to connect to it with the Juno client. But a completely local solution would be far more superior.

[2019-11-21 22:01] magicPony opened #89 "Paperspace notebooks"
Paperspace gradient kernels support.

[2019-11-22 11:51] #87 closed

[2019-11-22 18:10] #14 closed

[2019-11-23 15:07] gsportelli commented on #88
I opened it as a new notebook without selecting any location (I think I didn't follow the suggestion to unlock the folder).
It has something saved, can't say for sure how much did I lost (as it was my first use, I was just experimenting).
Anyway, the app looks very good, thanks for your work!

[2019-11-23 18:27] fairaque1999 opened #90 "Juno Cannot Install Shapely library"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (ple

[2019-11-24 08:41] jmbernabotto opened #91 "Add Scikit-learn ans Scipy"
I know we can only have pure python package. But the scikit learn package is now THE essential ML package. So ... ?

[2019-11-24 19:19] navoshta commented on #91
@jmbernabotto Closing this as duplicate: scikit-learn already reported in #3, and SciPy #25. Both are being worked on, although this is a large and complicated task, so I don't have any ETA at the moment.

[2019-11-24 19:19] #91 closed

[2019-11-24 20:14] ekul00 opened #92 "Ipywidgets support for Juno"
ipywidgets currently installs without error but the widgets fail to render when run.

The feature request is to get ipywidgets to operate correctly in the notebook editor :)

[2019-11-24 21:00] dbrehmer opened #93 "Can't paste into cells"
**Describe the bug**
Maybe this would be considered a feature request, but it is so essential that I consider it a bug: It does not seem to be possible to paste into a cell from the clipboard. Is it possible that I just didn't figure out how to do it? It would also be a bug if it is so difficult to figure it out :)

**To Reproduce**
Steps to reproduce the behavior:
1. Copy some code from a website

[2019-11-25 12:01] navoshta commented on #90
@fairaque1999 Shapely is not a pure Python package unfortunately, so needs to be ported, rebuilt and embedded in app binary for it to be available in Juno.

[2019-11-25 13:08] navoshta commented on #92
Thanks @ekul00 — I will look into this (it will likely apply to both Juno and Juno Connect).

[2019-11-25 13:10] navoshta commented on #93
Thanks for reporting @dbrehmer — that's certainly a bug! Does the "Paste" bubble show up at all? Or it simply doesn't do anything when you tap it?

[2019-11-25 23:40] dbrehmer commented on #93
Nothing comes up when I tap. When I keep trying and do a long tap it
selects the empty contents of the cell, but still no bubble.

I just tried again, and I found a way to get it to come up - if I enter
some text and select it then the bubble sometimes comes up. I still have to
tap a few times. I have never gotten it to come up for an empty cell though.

The behavior for selecting text is also a l

[2019-11-26 08:21] yaroslavyaroslav opened #94 "Suggestions blocks cursor up and down moving."
**Describe the bug**
When i move in code with the external keyboard on every arrow hit juno shows completion suggestion which takes out control and makes unable to move upward neither downwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to multiline code cell in edit mode
2. Move in the middle of the word
3. Meet the complete suggestion of the word that is already suggested
4. Fail

[2019-11-26 08:33] yaroslavyaroslav opened #95 "Autocomplete rarely duplicates letter"
**Describe the bug**
Sometimes (quite rarely) combination of typed word and tab key on the external keyboard hit leads to this: `printr` which result of `pr` + `Tab` key hit.

**To Reproduce**
Steps to reproduce the behavior:
I can’t figure out the exact steps which guarantee leads to that issue neither have a screenshot yet, but i suppose this is the bug that should be reported at least in that k

[2019-11-26 14:44] lplatter opened #96 "Opening files in Google Drive folders does not work"
**Describe the bug**
I cannot open existing jupyter notebooks that are in Google Drive Folders. I also cannot create new notebooks inside Google Drive folders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Folders
2. Existing notebooks are greyed out.
3. Tapping on "New Notebook" gives message "Failed to open notebook".
**Expected behavior**
I expect to open a notebook inside a Googl

[2019-11-30 17:54] reichardtj commented on #92
Same here, iypidgets installs but does not render. Getting the widgets to work would be great!

[2019-12-01 11:51] tkvad opened #97 "Can’t open notebooks"
I have a fresh install of Juno on a brand new iPad Pro generation 3 running IOS 13.2.3 which can’t open any notebooks other than new notebooks created in Juno is greyed our(as https://github.com/rationalmatter/Juno-Issue-Tracker/issues/55 https://GitHub.com/rationalmatter/Juno-Issue-Tracker/issues/63 https://github.com/rationalmatter/Juno-Issue-Tracker/issues/69)
All notebooks are greyed out see a

[2019-12-01 20:57] jmbenedetto commented on #54
Hi, could you please advise? I depend heavily on csv files stored in iCloud. If I cannot open them with the app, I can not use it. Many thanks.

[2019-12-01 21:20] yaroslavyaroslav commented on #54
I can tell that I’m able to read files from iCloud, but only after restart kernel after allowing to access to the iCloud folder.

But you can mention another guy in this thread, and he says that this workaround doesn’t work for him.

[2019-12-01 22:18] navoshta commented on #54
@jmbenedetto What does the `os.getcwd()` command give you after you grant access to notebook directory? Also, could you please make sure the folder and its contents is downloaded to device first?

I'm yet to look into the original issue, but this should at least confirm if it's the same bug. Also, next release will have a bunch of improvements around granting permissions (including retaining permi

[2019-12-01 22:38] navoshta commented on #93
Thanks for clarification — I have a feeling this is something specific to iOS 13, actually.

[2019-12-01 22:54] navoshta commented on #94
Thanks for reporting @yaroslavyaroslav — yep, sounds like a bug. This will be fixed in the next release.

[2019-12-01 22:59] navoshta commented on #95
Hmm, I'll need to look into that one. Possibly a silly question, but the suggestion you see in the autocompleter says "print" in that case (without trailing "r") , right?

[2019-12-01 23:23] navoshta commented on #96
@lplatter Yep Google Drive is not playing well with the Files app integration, and, for example, doesn't allow granting access to folders — I _think_ they previously allowed creating documents at least, and this might have changed in iOS 13. I'll see if there is anything that I could do in Juno, but IIRC it's something that they need to allow in their app, in the way their document provider extens

[2019-12-01 23:34] navoshta commented on #97
Hmm that looks very odd @tkvad — judging by the screenshot, the behaviour is the same, as in: Juno failed to register as a handler for notebooks with the system; it doesn't even pick up the document icon Juno provides for Jupyter notebooks. Could you please try restarting the device, and fresh-installing Juno (i.e. delete and install from scratch)?

[2019-12-02 01:23] lplatter commented on #96
On my Ipad, Notability syncs to Google Drive. Notability creates files and folders within its Google Drive folder.

[2019-12-02 06:14] yaroslavyaroslav commented on #95
Yep, suggestion shows usual `print` and the execution fails with undefined var with `printr`.

[2019-12-02 20:09] tkvad commented on #97
Tried both same result, though stranger and stranger, Juno can see all its own sample files but anything I have created or sourced from elsewhere.

[2019-12-04 15:19] freemotionstudios commented on #54
I just tried these instructions on Juno 1.1.1 and it worked as stated. I opened the notebook (in the Juno iCloud folder), and then clicked the lock icon, selected the Juno iCloud folder, and was able to open a CSV file in the same directory as the notebook file.
I did not need to restart the kernel.

[2019-12-04 16:25] liuyike233 opened #98 "Auto complete"
I’m used to complete code with enter on Jupiter online,but Juno use tab instead enter,it makes me not comfortable.

[2019-12-05 04:01] jmbenedetto commented on #54
@navoshta I tried again, including restarting the kernel. It does not work.

- I created a folder in iCloud (not the Juno folder), and copied a csv file there.
- I downloaded the csv file in Files, and created a brand new notebook on the same folder using Juno.
- After granting access to the notebook, I ran pd.read_csv. I get an error FileNotFoundError.

The os.getcwd shows the proper path to the

[2019-12-05 16:15] navoshta commented on #96
@lplatter Notability is integrating directly with Google Drive, whereas Juno integrates with system's Files app instead. This is supposed to be a better way of file system integration, as (1) you get consistent system UI for browsing files in general, and (2) you no longer need to integrate with every possible cloud storage provider — instead, each storage provider integrates with Files. Unfortuna

[2019-12-05 16:18] navoshta commented on #97
@tkvad When Juno sees its sample files, do they have a Jupyter icon, or just a text preview instead (as in your second screenshot)? What happens if you try to open a notebook in place from another app, for example choose "Open in Juno" in Files app?

[2019-12-05 16:19] navoshta commented on #98
Thanks @liuyike233, I'll see if it makes sense to make this configurable.

[2019-12-05 16:29] navoshta commented on #54
@jmbenedetto It seems like in your case Juno does indeed switch its current working directory to the notebook folder, right? Which is different from the issue discussed here, where Juno will grant access to a folder, but won't change `cwd` automatically in some cases.

Am I correct assuming your .csv file is in the same folder where the notebook is (or in a subdirectory)? Please, make sure you pro

[2019-12-05 18:20] chr1stopher opened #99 "Add CVXOPT"
Hello,
It would be wonderful if you could consider adding the possibility of porting CVXOPT and to embed it into Juno!
Thanks in advance
Christopher

[2019-12-05 18:40] tkvad commented on #97
Ok very odd. Its own notebooks have the Jupyter icon and from file manager can be opened in Juno, files from anywhere else are txt preview and don’t show opening in Juno as an option. Looks like this might be IOS doing something odd with the .ipynb extension.

[2019-12-06 18:56] m-yaghini opened #100 "Notebook is pushed out of memory after less than a minute of switching to another app"
**Describe the bug**
When connecting to a custom server using SSH and port forwarding, after opening the notebook and working on it, if you leave the app for a short while (even less than a minute), the notebook (and sometimes the server) can be pushed out of memory and you need to login again and navigate to the notebook again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Jupyter S

[2019-12-08 16:06] danielmbradley opened #101 "Add Tensorflow"
**Tensorflow**
https://pypi.org/project/tensorflow/

[2019-12-08 16:07] danielmbradley opened #102 "Add Scikit-learn"
https://pypi.org/project/scikit-learn/

[2019-12-08 16:09] danielmbradley opened #103 "Add Scipy"
https://pypi.org/project/scipy/

[2019-12-08 21:06] navoshta commented on #101
Duplicates #39

[2019-12-08 21:06] #101 closed

[2019-12-08 21:06] navoshta commented on #102
Duplicates #3

[2019-12-08 21:06] #102 closed

[2019-12-08 21:07] navoshta commented on #103
Duplicates #25

[2019-12-08 21:07] #103 closed

[2019-12-09 19:41] navoshta commented on #100
@m-yaghini, unfortunately, this is how iOS treats apps in background; they can remain in background only for so long before they get suspended by the operating system. Suspension also applies to app's networking resources: when the app is suspended, iOS closes all networking connections and claims back networking resources (including ports which Juno Connect uses for tunneling).

Juno Connect will

[2019-12-09 19:47] navoshta commented on #97
OK I'm honestly at a loss here @tkvad, I have a crazy suggestion though: you did mention that you don't have Notebook Master installed (it's the app that usually causes this behaviour, as it has .ipynb file association misconfigured). Could you _try installing it_, and see if that makes any difference? No way iOS will get any more confused than it already is. 🙂

Also, it would make sense to try in

[2019-12-09 20:47] tkvad commented on #97
Stranger still, Notebook Master can see and open Juno sample files and files created in Juno but not ones from anywhere else but as expected with it installed Juno can't open anything

[2019-12-09 21:33] ccruizm commented on #100
Good day,

I am having the same issue. Even with just changing the app for 3 or 4 seconds, when I go back to Juno, the connection to the notebook is lost. Hope this can be solved somehow.

[2019-12-10 01:36] stephan-jacobs opened #104 "Add tensorflow"
Tensorflow is pretty crucial to the stuff I work on. I can see that it would be difficult to get it working on iOS but if it’s possible to get any part of tensorflow working at all it would be an absolute game changer. Love your work!

[2019-12-10 01:53] stephan-jacobs opened #105 "Add GPy"
**Describe the bug**
Tried to install GPy, it failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Package installer
2. Tap on search
3. Type in “gpy”
4. Tap on install (any version as far as I can tell)
5. Fails to install

**Expected behavior**
Package is installed.
The package that goes along with GPy (GPyOpt) seemed to install ok, and GPy is listed as 99.8 % python on its [githu

[2019-12-11 02:43] mulra02 commented on #100
Isn’t there any way to implement a better state recovery system. I don’t mind the app reconnecting to server, but the app also erases all the output (not variables but the plots etc).

[2019-12-12 22:17] navoshta commented on #97
@tkvad Perhaps try removing both, updating to iOS 13.3 and re-installing Juno? Frankly, I'm not sure what to suggest further: file association is handled by the OS, and there isn't much I can do at this point. 😔

[2019-12-12 22:19] navoshta commented on #104
Duplicates #39 — please, upvote/comment on the original issue @stephan-jacobs. Either way, TensorFlow is certainly on the list. 🙂

[2019-12-12 22:19] #104 closed

[2019-12-12 22:23] navoshta commented on #105
@stephan-jacobs it seems to be using cython, so has some native extensions that need to be compiler for each platform — it's not a pure Python package, so Juno won't be able to install it.

[2019-12-12 22:38] navoshta commented on #100
@mulra02 Sounds like in your case the problem is that notebook is not saved before the client disconnects; Juno Connect should respect the autosave setting on the server, and also save notebook whenever app enters background. So no notebook output should be lost, even if the app disconnects in the background — I'll look into what could cause it to not get saved.

[2019-12-13 09:30] zhangj1an commented on #39
Hi, was wondering how to import tensorflow package. I tried `import tensorflow as tf` but did not work.
Thanks in advance.

[2019-12-13 16:19] undefdev opened #106 "Authentication fails with ECDSA ssh key"
As the title says, I wasn’t able to connect to my server after adding an ECDSA private key, I get the error message “authentication failed’. It works with RSA though.
 - Device: iPad Pro 11

[2019-12-15 18:00] navoshta commented on #39
@zhangj1an I'm afraid TensorFlow needs to be ported and included in the app binary for it to work, similar to NumPy, Matplotlib and Pandas. It's on a roadmap, but right now the focus is SciPy.

[2019-12-15 18:10] navoshta commented on #106
@undefdev I'm afraid Juno Connect currently only supports DSA and RSA keys, but I certainly would like to add support for ECDSA/Ed25519 keys eventually. Don't have any ETA right now though, sorry.

[2019-12-16 15:18] barelyherenorthere opened #107 "view csv files"
**Describe the bug**
I am using Juno Connect via local ssh into my Macbook. My script produces a csv file which is stored in the same folder. I tried to view the csv file by checking the box and clicking view.

However, nothing happens. Is this feature working?

 - Device: [iPad Pro 12.9"]
 - iOS version: [iPadOS 13.3]
 - App version [1.4.1]

[2019-12-16 19:29] rayandaod commented on #25
Just wanted to thank you for your work, Juno is really a great app on Ipad Pro. Scipy is also a very important package for me and some packages I would like to use also depend on it (e.g librosa). Let me know if I can be of any help with this!

[2019-12-17 03:41] zhangj1an commented on #39
Noted. Thank you!

[2019-12-18 01:07] algal commented on #106
I would suggest it might help if this were better documented. I have been scratching my head wondering about passphrase failures with my Ed25519 keys for quite a while.

[2019-12-18 09:03] kokodile opened #108 "SAuth/Oauth2 Got Stuck (Blank) At Multifactor Verification"
**Describe the bug**
When I was trying to logging into an environment (though it's based on Jupyter Lab, it should work right?) I have to verify the multifactor which is based on Microsoft env. The session was stuck after I enterer a correct password. In brief, it behave like when a browser does not support redirecting behaviour. Not sure if it relates to Juno, but Safari, and Chrome work fine.

*

[2019-12-18 09:14] kokodile opened #109 "Add opencv"
Having an opencv package would be benificial.
https://pypi.org/project/opencv-python/

I believe originally it's based on C++. Not sure anymore.

Please let me know, if it is possible.

[2019-12-18 15:13] m-yaghini commented on #100
@navoshta Thank you for the reply. But with all due respect, I beg to differ.

I am now using one of many SSH port forwarding apps on iOS to forward my remote server to a local port. I do not need to keep the said app open for the port forwarding to work, and I can carry on with Safari which now supports full desktop-class browsing on iPadOS 13.

So I do think there is a way to keep the remote ses

[2019-12-18 19:19] undefdev commented on #106
That‘s why I reported it, it shouldn’t even accept a key it can’t use and let the user know they’re not supported.

[2019-12-19 04:59] carlossierra311 commented on #96
I have the same problem with Juno on Google Drive and a similar problem on Dropbox, but the problem there is that my notebook will open, but a csv file referenced from, it won’t. When I store everything locally on my iPad, the notebook works without issues, opening the reference file properly. See this video for evidence of everything I described here:
https://photos.app.goo.gl/3RKrVprq54DRNquf7

[2019-12-19 15:46] navoshta commented on #107
@barelyherenorthere, viewing/editing of text-based files is switched off for now, but this is something I want to look into sooner rather than later. I'll close this issue as a duplicate, as this has already been reported in #46.

[2019-12-19 15:46] #107 closed

[2019-12-19 15:47] navoshta commented on #25
Thanks @rayandaod!

[2019-12-19 16:01] navoshta commented on #108
@kokodile I think you are right, and your JupyterHub OAuth requires a redirect where Juno Connect doesn't expect it. Typically Juno Connect should follow redirects etc, but it's hard to make sure it will work with every possible Jupyter deployment.

The easiest way to address this would be if you could provide me with sample credentials on your server — although I fully understand this might not b

[2019-12-19 16:04] navoshta commented on #109
Thanks @kokodile, I'll look into it.

[2019-12-19 16:15] navoshta commented on #100
@m-yaghini Which app is it? If it indeed manages to keep SSH tunnel in background, you could try using _that_ for tunnelling, and then configure a direct server connection in Juno Connect, pointing to `localhost` as server address.

Let me know if that works — as far as I'm aware, these rules apply to all 3rd party apps, and they will drop the connection once OS suspends it. If some app manages to

[2019-12-19 16:25] mulra02 commented on #100
I think @m-yaghini is referring to Blink Shell. It can stay alive in the background by enabling geo-tracking. It kills some battery but manages to keep the app alive.

[2019-12-19 16:27] ccruizm commented on #100
The same happens now with Teminus. It is able to keep alive in the background a terminal session connected to an HPC and doesn’t kill it. It would be nice if you can have a look at it and implement that feature into Juno :)

[2019-12-19 16:28] navoshta commented on #100
@mulra02, @ccruizm My understanding was that this geo-location workaround no longer works in iOS 13 — but perhaps I'm wrong! Let me see if this could be done in Juno Connect, too. 🙂

[2019-12-19 16:39] navoshta commented on #106
@algal @undefdev Yes, good point — I'll make sure the private key screen explicitly states which keys (and key formats) are supported, currently it's DSA and RSA as Putty/OpenSSH keys.

[2019-12-19 16:50] navoshta commented on #96
@carlossierra311 Yes, unfortunately this is due to Google Drive and Dropbox choosing _not_ to integrate with the iOS Files app. Not much Juno can do on its side without them integrating from their end first. You can give it a go with iCloud, or Working Copy app (git client for iOS), which should both work perfectly and let you grant access to your notebook's folder in its sandbox, as well as edit

[2019-12-19 21:01] carlossierra311 commented on #96
Thanks @navoshta. I will switch to Working Copy, which I already use for other projects.

[2019-12-20 08:59] kokodile commented on #108
That sounds fair. I'll see what I can do. Juno seems very promising, and I very much intent to use it. Hopefully, there would be a way to make it work.

[2019-12-21 12:22] CZspf opened #110 "import matplotlib.animation failed"
**Describe the bug**
import matplotlib.animation got traceback,
returning message “ cannot use a string pattern on a bytes-like object”

**To Reproduce**
Steps to reproduce the behavior:
I run juno jupyter on iPad Pro with ipados13, or iphone with ios13, simply import the module caused traceback

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.
![4

[2019-12-23 00:12] Povezi opened #111 "Add cryptography"
Any idea how go make connection to mysql via ssh tunnel? I cannot install dependancy “cryptography”

[2019-12-23 11:41] CZspf commented on #25
Is there a timeline when it will be ready?  I really need scipy on remote devices.

[2019-12-24 10:20] mvanrenselaar opened #112 "Not opening notebooks"
**Describe the bug**
After the latest update to 13.3 it wont open notebooks anymore That have been stored on a onedrive.

It did before the upgrade to latest ios version

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Open a notebook

**Screenshots**
If applicable, add screenshots or a screen recording

[2019-12-24 10:22] #112 closed

[2019-12-24 14:49] navoshta commented on #110
Thanks for reporting @CZspf — I'm assuming this is related to Juno, not Juno Connect, I will look into this.

[2019-12-24 14:53] navoshta commented on #111
Hi @Povezi, which app are you trying to connect from, Juno or Juno Connect? If it's Juno, then cryptography being not a pure Python package will need to be ported and included in the bundle first (please, submit a package request issue for this).

[2019-12-24 15:44] navoshta commented on #25
Unfortunately there is no ETA at the moment, but judging by how it's progressing I'd say it should be available early next year. I'm trying to avoid any remotely precise estimates: for example, when I was porting NumPy, I was fairly confident it was ready to ship at some point, but then it took me another month or two to make it _actually_ ready to ship. 😀

By the way, I know there are existing iO

[2019-12-25 00:16] Povezi commented on #111
I am using Juno. I understand that it does not support non-Python libraries, but it would be really useful to have possibility to connect to remote mysql databases?

Thank you

[2019-12-26 15:37] undiabler opened #113 "Floating menu makes impossible to use the app"
**Describe the bug**
Floating menu disappears and makes running cells completely impossible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to python notebook
2. Tap on edit cell (source code)
3. Tap back to hide keyboard
4. Floating menu disappears. Now you can do nothing with notebook.

**Expected behavior**
Floating menu should be fixed, or moved somewhere (header is ok).

**Screensho

[2019-12-27 15:53] navoshta commented on #113
Thanks for reporting @undiabler — I couldn't reproduce this unfortunately, so I may need some additional info from you. Juno's notebook editor should respect all software keyboard transitions, so I'm not sure off the top of my head what could go wrong. Any further details on the following will help:

1. When you say "tap back", do you mean the "Hide Keyboard" button on the on-screen keyboard?
2. D

[2019-12-27 17:25] navoshta commented on #111
Ah OK @Povezi I think I see what you mean. Is it only cryptography module that's missing, or is there anything else that is required for mysql connection? Please, add separate package requests for individual packages with native extensions.

[2019-12-27 17:29] undiabler commented on #113
1. I mean just tap on any space except code cell.
2. On any cells with editable content. Every time.
3. No, i'm using only on-screen keyboard.
4. I have installed google gboard, but there is the same problem with naitive keyboard too, attached video with illustration with native apple keyboard.

https://youtu.be/abrManih_wU

P/s Maybe it is somehow connected with new floating mode for keyboards in

[2019-12-27 17:54] navoshta commented on #113
Thanks @undiabler! I don't think it's related to floating mode: Juno should handle this gracefully and simply stick the buttons to the bottom.

I couldn't reproduce anything close to this on the same device running same iOS version, so I have a strong feeling this is related to google gboard being registered in the system, and therefore OS incorrectly reporting keyboard position and layout (even f

[2019-12-27 18:24] davidcorbin commented on #100
I know the app Textastic has SSH sessions that last relatively long compared to Juno. Might be worth checking out.

[2019-12-27 18:56] undiabler commented on #113
I've deleted all custom keyboards - same problem.
Here is the example how "buttons are sticked to the bottom" in floating mode.
![photo5201847734041161988](https://user-images.githubusercontent.com/4733217/71528923-8fe39c80-28e2-11ea-8593-5eaa1698c444.jpg)

Do you have any other languages installed in your system?

[2019-12-27 19:13] undiabler commented on #113
This option was switched on.
After disabling Keyboard Extension everything looks working even with custom keyboards.

So for me the issue now looks like:
- Juno Keyboard Extension is doing something wrong with my keyboards (maybe because of two languages)
- System is failing to reliably report current keyboard state
- Floating menu dissapears

[2019-12-27 19:35] zenware opened #114 "Assert statements have no effect"
**Describe the bug**
If you have a failing assert statement in a cell and run that cell, it doesn’t show an AssertionError

**To Reproduce**
Steps to reproduce the behavior:
1. Type ‘assert 1 == 2` into a cell
2. Run the cell
3. See nothing at all

**Expected behavior**
I should se an AssertionError

**Screenshots**
N/A, the issue is absence of info

**Environment (please complete the following in

[2019-12-27 23:03] navoshta commented on #113
Yep I have a number of international keyboards enabled (that's why I thought it's the 3rd party one).

Ah OK — thanks, I'll keep an eye on that, too. Sounds like it's some sort of a workaround for now at least!

[2019-12-28 00:49] zenware commented on #114
Also, happy holidays everyone!

[2019-12-28 03:06] zenware commented on #114
A more visual way to repro is
[code]
Or perhaps `print(__debug__)`

[2019-12-28 23:55] Povezi commented on #111
Not sure until we resolve cryptography.

I really think that mysql tunnel is essential for panadas on Juno.

Here is link to python mysql tunnel code that I want to try:

https://stackoverflow.com/questions/21903411/enable-python-to-connect-to-mysql-via-ssh-tunnelling

import pymysql
import paramiko
import pandas as pd
from paramiko import SSHClient
from sshtunnel import SSHTunnelForwarder
from os

[2019-12-29 06:43] roloow commented on #97
I'm having the same problem, I had installed Notebook Master, then I uninstall it and bought Juno, now I can only open Jupyter Files created from Juno or open them in Juno from the file explorer but inside Juno app they are not selecteable.

[2019-12-29 23:29] magicPony opened #115 "Multiple tabs support"
Multiple files opened in different tabs would be an amazing feature I think.

[2020-01-03 09:56] 100seungho opened #116 "CJK ime input"
Hello from Korea,
Currently working with juno on my iPad is so much pleasant, still Korean ime input seem bad for me.
OS: iPadOS 13.2
Device: 2017 iPad Pro 2 (10.5 inch)

[2020-01-03 09:59] 100seungho commented on #116
This is how’s it look on **Juno**
![IMG_2318](https://user-images.githubusercontent.com/42087222/71717318-10fae080-2e5b-11ea-9dd0-38c66d3a4617.jpeg)

And this is how’s it should be look like (it’s on Pythonista)
![IMG_2319](https://user-images.githubusercontent.com/42087222/71717323-16f0c180-2e5b-11ea-92ea-d3d8d93b622f.jpeg)

[2020-01-03 21:19] navoshta commented on #114
Thanks for reporting @zenware, and apologies for a late reply! Yes, you are right: interpreter is running with the `-O` flag (or rather `PYTHONOPTIMIZE` set to true) — I didn't realise this would also ignore assertions in notebooks (duh!). I'll remove this in the next release (after I make sure this doesn't introduce any side effects).

[2020-01-03 21:30] navoshta commented on #111
Ah OK @Povezi, it does seem like this will require more packages. I suggest that we revisit when `cryptography` is added — other packages will need separate tickets anyway.

[2020-01-03 21:41] navoshta commented on #97
@roloow sorry to hear that: it does seem like iOS erroneously "cached" app association it had with Jupyter notebooks. As I mentioned in other tickets, Notebook Master abuses this association by claiming .ipynb as their own proprietary file format, therefore iOS won't let any other app handle it.

Which iOS are you running? Could you please try rebooting the device and re-installing Juno from scrat

[2020-01-03 22:13] navoshta commented on #115
@magicPony Yes, this is certainly on the roadmap! 😉 Can't tell when this will be released exactly, but this will likely arrive in a form of iPadOS's multi-window support.

[2020-01-03 22:19] tkvad commented on #97
Ipad updated, Juno deleted, re-downloaded and re-installed still the same, looks like Juno is a total waste of money. As I said this was a brand new ipad and other than routine stuff like office and email apps Juno was the first thing I installed.

[2020-01-03 22:28] navoshta commented on #97
@tkvad Sorry about that — I suggest that you contact App Store support to get a refund. Something is clearly broken with file association on your device, and I can only assume it's an iOS issue that may get fixed in future betas/releases. Send me your email to contact@juno.sh, and I'll make sure to include you in future TestFlight betas (none are available at the moment, but I may start beta-testi

[2020-01-03 22:31] navoshta commented on #116
@100seungho does this happen for all text input in Juno, i.e. in both markdown and code cells? I'm assuming this is supposed to be replaced automatically as you type? I thought this has been fixed in iOS 13, could it be related to https://github.com/rationalmatter/Juno-Issue-Tracker/issues/27 perhaps?

[2020-01-04 02:49] 100seungho commented on #116
No, same problem appears both in markdown and text cells too. So I don’t think this kind of problem is related to iOS13 update. I looked up things and it’s related to NFD encoding. I know NFD is also standard protocol, but NFD encoding makes Korean synonyms and antonyms to be seperated.

[2020-01-04 08:22] aarondcopeland opened #117 "Exporting Jupyter Notebooks"
Would be nice to be able to export Jupyter Notebooks to different formats from the Juno app.

[2020-01-04 15:00] CZspf commented on #25
Looking foward to it. For me pandas, matplotlib, and scipy really tell ios devices from laptops. Good to know it is almost done.

[2020-01-05 08:50] zenware commented on #114
I think there must be side-effects, though I typically expect my playbooks to run in debug mode rather than “production” mode. 😁

Thanks for looking into this for me.

[2020-01-06 18:54] navoshta commented on #116
Hmm thanks @100seungho — perhaps it's a separate issue from #27 then. Could you please make a screen recording of how it's supposed to work (e.g. in some other app)? I'm assuming this is handled on the iOS level of text input, but I could be missing something.

[2020-01-06 18:55] navoshta commented on #117
Yep it's in development already, should be released with the next minor update of both Juno and Juno Connect.

[2020-01-06 22:49] tkvad commented on #97
Ahh well, Apple refusing to process a refund for reasons they won't explain, nevermind hopefully the next version will work!

[2020-01-07 12:40] aarondcopeland commented on #117
Hell yeah, keep up the good work man.

[2020-01-09 13:44] navoshta commented on #97
@tkvad I'll make sure to include you in Juno betas (when testing begins) so that you could try it early, too.

[2020-01-09 14:46] antoniofina opened #118 "Qiskit 0.14.1"
Qiskit

[2020-01-09 16:14] jonbjornn opened #119 "Cannot rename new or existing notebooks"
**Describe the bug**
When creating a brand new notebook, or attempting to rename an existing one, Juno gives an error with the file path:

Example:
Error renaming file: private/var/mobile/Containers/Data/Application/C8234672-AAC5-45E7-91FE-1173C58C9240/Documents/Local data/Untitled.ipynb

**To Reproduce**
Simple to reproduce, I haven’t yet been able to rename a notebook successfully. This has been

[2020-01-09 20:03] arumihsok commented on #119
I have a similar bug. I can't rename while I am editing a notebook, but I can rename if I am located on the file manager.
My device is iPad (7th generation) running iPadOS 13.3.

[2020-01-10 17:57] haselnut commented on #117
nbconvert 5.4.1 is already pre-installed in Juno. Can it, in some way, be used to export  a notebook as  a pdf for example?

[2020-01-11 11:19] adradr opened #120 "Cannot shutdown running notebooks"
**Describe the bug**
On iPad Pro 11” I am running the latest Juno Connect and cannot tap on Shutdown button in the running notebooks view. Tried on another earlier iPad Pro and same problem. Havent tried on bigger screen iPad, maybe its just a responsivity bug. Shutting down of running terminal works. Refresh button feels unresponsive in the upper right corner.

**Screenshots**
![705BDAB0-EDF6-496

[2020-01-11 23:38] navoshta commented on #118
Apparently the Qiskit package on PyPI doesn't have any source code on its own, and is rather an umbrella package that is supposed to only install its dependencies (like `qiskit-terra`, `qiskit-aer`, etc.) — so it's those extensions that need to be ported.

[2020-01-11 23:40] navoshta commented on #119
Thanks for reporting @jonbjornn, @arumihsok! I'll close this issue as a duplicate of #56.

Please, use file browser for renaming notebook for the time being; next Juno release will either have this fixed or at least renaming from notebook editor disabled.

[2020-01-11 23:40] #119 closed

[2020-01-11 23:43] navoshta commented on #117
@haselnut My guess is not yet, as even if a file gets exported somehow, Juno wouldn't know to display a sharing sheet, etc. It will be added in the next release though.

[2020-01-11 23:53] navoshta commented on #120
@adradr Could you take a look at #75 and see if this could be the same issue? If yes, please verify that shutdown buttons work on desktop, and leave a comment with your Jupyter Notebook/JupyterHub version.

[2020-01-12 12:06] antoniofina commented on #118
Thanks for your support, Alex.

In addition to the four standard qiskit elements (terra, aer, ignis and aqua), I would like also to add the qiskit-ibmq-provider package, if possible.

I saw that my request is still open (with a new name) in GitHub, so I guess that I don’t need to open a new package request. Am I right?

Best Regards,
Antonio

[2020-01-12 13:07] mohanran commented on #54
I am new to Python coding and running Juno on iPad OS. I have market_fact.csv file located at:
iCloud Drive -> Downloads -> Introduction to Pandas

When I run Jupyter notebook (1__Pandas_Basics.ipynb in the same folder as above) using Juno app and execute the following line,

import numpy as np
import pandas as pd
# reading a CSV file as a dataframe
market_df = pd.read_csv("market_fact.csv")

I ge

[2020-01-13 08:13] haselnut commented on #117
OK, Thanks a lot. Congratulations though for the great job! Juno is really fantastic!!

[2020-01-14 22:57] mppowell commented on #92
Adding another +1 to this. I would love to be able to use widgets in the Juno ecosystem!

[2020-01-14 23:50] tkvad commented on #97
Oh and just to add to this I just downloaded Juno to my iphone running IOS 13.3 and have exactly the same problem Juno can open the files that came with it but not ones sourced from elsewhere

[2020-01-15 12:38] navoshta commented on #118
Yep I just renamed this ticket to match the pattern.

I usually suggest to open a separate issue for each package, but since this ticket is primarily needed for prioritisation, it would make sense to gather everyone interested in Qiskit packages in one place here.

[2020-01-15 12:47] navoshta commented on #54
@mohanran Looks like your cwd is set to its fallback value (app's temp directory), which should only happen if Juno can't access the notebook directory. Where is your notebook and .csv are located: are they in app's iCloud directory, or somewhere else? Do you see a "locked folder" icon in the notebook editor's top bar?

[2020-01-15 12:53] antoniofina commented on #118
Thanks again, Alex.

Antonio

[2020-01-15 15:52] navoshta commented on #100
@m-yaghini @mulra02 @ccruizm Yep, looks like I was wrong, and location tracking workaround does still work for keeping background networking connections active, even on iOS 13 — thanks for bringing this to my attention! This will likely be added in the next minor Juno Connect update (1.5.0).

[2020-01-15 18:46] goodbull opened #121 "Add psutil"
Is psutil available? It offers the option to download, but says “installation from source failed” after it downloads.

[2020-01-15 19:26] mohanran commented on #54
@navoshta The notebook and the csv are both located in the iCloud Drive. I do not see locked folder icon. Moreover I am able to access other csv files within the same folder. Only this one is showing access problem.

[2020-01-15 19:28] yaroslavyaroslav commented on #54
Just wanna share, that the issue is fixed itself somehow for me.

[2020-01-15 21:07] ccruizm commented on #100
Thanks for letting us know and digging into it @navoshta !

[2020-01-16 01:30] markolonius commented on #86
I was able to get a notebook connected on paperspace gradient notebooks.

1. Start the notebook under the paperspace gradient notebook dashboard
2. Once running, open V1 (Classic) notebook that should launch Jupiter lab
3. Copy the URL and use that for the server address when adding a server to Juno
4. Delete the port number and don't forget to enable https then the server should be reachable!
5.

[2020-01-16 01:30] markolonius commented on #89
Duplicate of #86

[2020-01-16 09:48] Aandya opened #122 "How to load scipy in Juno on iPad"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2020-01-17 01:33] cheval1201 opened #123 "Loading local .csv using pandas shows git-lfs type of data, not actual contents"
**Describe the bug**
I'm using Microsoft Azure notebook on Juno Connect. When I try to load a local (uploaded on Azure Notebook server) csv file using pandas.read_csv() function, the result table includes a git-lfs type of content instead of data.

**To Reproduce**
Steps to reproduce the behavior:
1. upload a csv file on Microsoft Azure Notebook server
2. load the csv file using pandas
    e.g.) d

[2020-01-17 10:42] navoshta commented on #97
@tkvad Very odd! I'll post if I have any ideas of what could be wrong. What about other apps by the way, do they work fine on your devices? More specifically those that use their own file formats — so not PDFs or text files, but rather something like .ipynb.

[2020-01-17 10:58] navoshta commented on #121
@goodbull Unfortunately it has native extensions, so needs to be ported and embedded in the app, similar to NumPy, Matplotlib and Pandas. What happens is Juno finds a distribution that could _potentially_ work (source), tries installing from it, but then realises that installation actually involves compiling native extensions, which is not possible on iOS — so aborts and reports failure.

I'll mar

[2020-01-17 11:07] navoshta commented on #54
@mohanran @yaroslavyaroslav Judging by the intermittent nature of the issue, I'm now thinking that Juno occasionally fails to switch cwd to notebook directory, even if it has access to it. This  explains why restarting the kernel fixes it for @yaroslavyaroslav (Juno tries setting it again during kernel restart), and why @mohanran can _sometimes_ access files, and other times can't, while Juno does

[2020-01-17 11:13] navoshta commented on #86
Thanks for sharing @markolonius! Sounds like it should be _relatively_ easy to integrate with it, even better if they have some sort of API to get this endpoint URL. We're a bit busy with Juno at the moment, but Paperspace sounds like the best candidate for the next Juno Connect backed integration.

[2020-01-17 11:15] navoshta commented on #89
Yep it seems to duplicate #86, I'll close this one.

[2020-01-17 11:15] #89 closed

[2020-01-17 11:16] navoshta commented on #122
Porting SciPy is in the works, you can follow the progress here: #25. Closing this issue as a duplicate.

[2020-01-17 11:16] #122 closed

[2020-01-17 11:22] navoshta commented on #123
@cheval1201 How does this work on desktop, i.e. when you access Azure Notebooks from your desktop browser?

[2020-01-17 13:46] goodbull commented on #121
Got it, thanks! This is the only thing keeping me from exporting plot.ly graphs as images to a directory.

[2020-01-17 14:35] tkvad commented on #97
Hi,Yes most strange, can't say I've encountered problems with any other apps but will have a play over the weekend as I have a few on there that use their own rare file types.David

    On Friday, 17 January 2020, 10:42:27 GMT, Alex Staravoitau <notifications@github.com> wrote:

@tkvad Very odd! I'll post if I have any ideas of what could be wrong. What about other apps by the way, do they work fi

[2020-01-18 13:05] AG4GitHub opened #124 "cannot load from Googledrive"
**Cannot open Notebook from Google Drive**

I tried to open or import a notebook and related resources from Google drive.

Navigated to the relevant folder ; but none of the files can be selected; all greyed out. only folders are selectable.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording t

[2020-01-18 17:43] WeijieChen-Helsinki opened #125 "Could not open .ipynb file from Google drive"
I am using Juno to open .ipynb file in google drive or wherever Juno allows to store. All failed to be opened.

I checked other threads before, there were no other programming apps installed. Neither my iPhone or iPad works. I am using IPhone 6s Plus, and iPad Air 2.

![239A3B6B-5173-40CA-9EA2-5A79078A5765](https://user-images.githubusercontent.com/59842360/72667956-b4362300-3a21-11ea-9324-c916f57

[2020-01-19 23:01] nmall2020 opened #126 "Widgets - Buttons not displayed"
**Describe the bug**
installed package ipywidgets and defined several  buttons with methods ‘display’ and ‘on-click’.  However buttons are not displaying.

**To Reproduce**
Steps to reproduce the behavior:
1. Call method display for a defined button widget.

**Expected behavior**
To see the buttons displayed after code compilation

**Screenshots**

**Environment (please complete the following info

[2020-01-20 01:46] cheval1201 commented on #123
@navoshta It shows the same results when I run it on desktop. It seems the csv file I downloaded contains a git-lfs link in the first place. This issue doesn't have to do with Juno Connect, so I'll close it. Thank you.

[2020-01-20 01:46] #123 closed

[2020-01-21 09:06] m-yaghini commented on #100
Fantastic. Thanks @navoshta and others.

[2020-01-21 20:40] navoshta commented on #125
Yep unfortunately Google Drive file provider doesn't work with custom UTIs declared by other apps (e.g. Juno). Not sure why they chose to implement it that way I'm afraid, but I'm going to look into possible workarounds, if there are any on the app side of things.

Closing this issue as a duplicate of #96.

[2020-01-21 20:40] #125 closed

[2020-01-21 20:41] navoshta commented on #124
Yep unfortunately Google Drive file provider doesn't work with custom UTIs declared by other apps (e.g. Juno). Not sure why they chose to implement it that way I'm afraid, but I'm going to look into possible workarounds, if there are any on the app side of things.

Closing this issue as a duplicate of #96.

[2020-01-21 20:41] #124 closed

[2020-01-21 20:53] navoshta commented on #126
Thanks for reporting @nmall2020 — I'll close this as #92 duplicate. Both Juno and Juno Connect need improvements in how they support ipywidgets, and I'm planning to include ipywidgets by default with Juno when this support is added.

[2020-01-21 20:53] #126 closed

[2020-01-22 03:30] simardcasanova commented on #93
I have the exact same bug. It currently makes Juno Connect unusable. Any news on a fix?

[2020-01-22 03:35] stephan-jacobs commented on #105
Ah bummer. Thanks @navoshta I'll close this now

[2020-01-22 03:35] simardcasanova commented on #93
Also, in a text cell the cursor kept going at the beginning when I’m attempting to erase everything by typing repeatedly on delete. I don’t know if it’s related though.

[2020-01-27 02:33] kingtwirp opened #127 "Package install fails"
**Describe the bug**
Receive error “Failed to install_________ unable to install from source” when trying to install several packages including tables, numexpr.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to package install icon
2. Tap on package install icon
3. Enter package name (tables and numexpr)
4. Select install package
5. See error

**Expected behavior**
Install appropriate pa

[2020-01-28 18:22] navoshta commented on #105
@stephan-jacobs No worries — you can keep this one open as I've changed the issue label to "package request", in case someone else is also interested in getting this ported and embedded. If it gets enough traction, I'll prioritise it in the list of packages to include in Juno.

[2020-01-28 18:29] navoshta commented on #93
@simardcasanova No workaround for now I'm afraid, as I'm still yet to look into this. Meanwhile, if behaviour improved in recent iOS releases please let me know. This might be one of those issues which are largely out of my control (I will still try to find a workaround regardless though).

As per the cursor jumping to the beginning — probably not related, but if you could make a quick screen reco

[2020-01-28 18:45] navoshta commented on #127
@kingtwirp Both tables and numexpr have native extensions: unfortunately, due to platform restrictions only pure Python packages can be installed. Anything that requires compilation for a particular platform needs to be ported and embedded in the app, same as it's done for NumPy, Matplotlib, Pandas, etc.

You can submit package requests for the packages you want to see in Juno (a separate issue in

[2020-01-28 18:45] #127 closed

[2020-01-28 19:25] miker2 commented on #90
I'm keen to have this package as well.

[2020-01-29 05:03] chadwick-hui commented on #97
Hi,

I had similar problem as you do, only difference is that the file shown was in a different way:
![69A4B79A-6EF0-4212-956F-A27D99E26E45](https://user-images.githubusercontent.com/38255626/73329098-64bce600-42b0-11ea-8c5e-939c9aaf0de7.jpeg)

maybe you could try this:
1. Open ‘Files’
2. Go to the Folder contains the file you want to open it
3. Long Press the file you want to open
4. Press ‘Share

[2020-01-29 12:52] navoshta commented on #97
@chadwick-hui Your issue looks more like #55, could you please take a look and check if you have any conflicting apps? This didn't help @tkvad here (hence it's a separate ticket), but perhaps in your case it will.

[2020-01-29 13:11] chadwick-hui commented on #97
@navoshta thanks for the redirection. I actually got the problem solved, just trying to help @tkvad out. As this way seemed working for me :)

[2020-01-29 13:41] tkvad commented on #97
Thanks, doesn't work for me as Juno doesn't appear in the list of apps I can share it to. Looks like Apple have properly borked this!

[2020-01-29 20:26] yang-guo opened #128 "Add environment variables to notebook instance"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to add environment variables to an active notebook is to use os.environ within the notebook.  While this works, it doesn't allow you to run existing notebooks (e.g. from a repository) that depend on environment variables without adding additional cells and exposing potential secrets.

**Describe the solution

[2020-02-02 03:47] njagh opened #129 "SSL error"
I am trying to connect to an AWS DLAMI (Ubuntu 16.04) Version 26.0 but the connection isn’t working

The Jupyter notebook server says “SSL error on XX (‘127.0.0.1’, XXXXX): [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:841) when I try to connect from the app

[2020-02-05 18:06] navoshta commented on #128
Thanks for reporting @yang-guo, I will look into this.

[2020-02-05 18:13] navoshta commented on #129
Hi @njnnja, are you connecting using direct connection or port forwarding?

Looks like you are connecting to your Jupyter server over HTTPS, so I'm going to assume you connect directly. If that's the case, you likely have the SSL certificate misconfigured — please, follow [this guide](https://juno.sh/ssl-self-signed-cert/) on how you can create a self-signed certificate that will work with iOS. Ho

[2020-02-07 13:04] PyMarc2 commented on #25
Hello! Just for a monthly update, how is it looking? :) Looking forward to it!!

[2020-02-12 14:08] simardcasanova commented on #93
@navoshta Just retried to paste, still broken. Once again, without pasting, Juno Connect is unusable.

The cursor jumping seems fixed though.

[2020-02-14 05:24] nothingto opened #130 "Dark Mode - Jupyter Commands unreadable in Dark Mode"
**Describe the bug**
The menu is completely bright even in the dark theme

**To Reproduce**
Toggle Dark Mode
Go to notebook
Click the “Jupyter Commands” button

**Expected behavior**
Supposed to show a readable list of items

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (please complete the following information):**
 - Device: [e

[2020-02-16 11:51] igor040991 opened #131 "Files downloading"
Please add files downloading feature from jupyter server to ipad. When I use a browser, I can click on the file and download it. I would like to do the same in the app.

[2020-02-16 19:24] navoshta commented on #130
@nothingto Thanks for reporting — there seems to be an issue with the latest Jupyter Notebook releases. This will be fixed in the next minor Juno Connect update.

[2020-02-16 19:27] navoshta commented on #131
@igor040991 Yep this is now done, and will be available with the next Juno Connect release. 😉

[2020-02-20 07:08] igor040991 commented on #131
thank you for the good news )

[2020-02-20 07:08] #131 closed

[2020-02-23 23:53] ceyzaguirre4 commented on #120
I'm also experiencing the same problem.
Kernels can be shutdown as expected using desktop (or even on the same iPad using port another app to forward the port to Safari).
However, when trying to do the same on Juno (connect) neither the shutdown or the reload buttons do anything.

Additionally, some notebooks cannot be accesed (touching their names in the main interface does nothing) while others

[2020-02-25 16:58] navoshta commented on #120
Thanks @ceyzaguirre4, could you please check which Jupyter Notebook/JupyterHub version are you running?

[2020-02-26 18:38] John-Rule-Bose opened #132 "Pandas does not properly display data frames with complex numbers"
**Describe the bug**
Pandas supports complex numbers, and Juno [correctly] allows for the creation of data frames containing complex numbers.  However, display functions other than for a single cell do not work.

**To Reproduce**
1. Create a complex numpy array and turn it into a pandas dataframe:

import numpy as np
import pandas as pd
tmpRe = np.random.normal(size=(5,5)); #tmpRe
tmpIm = np.rando

[2020-02-26 22:34] ceyzaguirre4 commented on #120
jupyter core     : 4.5.0
jupyter-notebook : 6.0.1
qtconsole        : not installed
ipython          : 7.7.0
ipykernel        : 5.1.2
jupyter client   : 5.3.1
jupyter lab      : 1.2.6
nbconvert        : 5.6.0
ipywidgets       : 7.5.1
nbformat         : 4.4.0
traitlets        : 4.3.2

[2020-02-27 21:48] wudaudau commented on #25
Looking forward for it!!

[2020-02-27 23:08] wudaudau commented on #54
Hi,
I have ipynb file in OneDrive. How can I fix its file reading issue?
Thank you.

[2020-02-28 09:48] navoshta commented on #132
Thanks for reporting @John-Rule-Bose, I will look into this.

[2020-02-28 09:53] navoshta commented on #120
Thanks @ceyzaguirre4, and are you launching your Jupyter server as `jupyter lab` or `jupyter notebook`?

[2020-02-28 10:28] navoshta commented on #54
@wudaudau you should be able to open, run and save notebooks from OneDrive, however, granting access to notebook directory will not work. OneDrive does not allow folder access via their iOS file provider, basically — not much I can do on Juno side of things.

[2020-02-28 10:28] navoshta commented on #54
Meanwhile, @mohanran @yaroslavyaroslav, quick update on the issue. Juno 1.2 will have a few improvements in this area: it will now display cwd-related errors, and will have a new option in notebook menu, which will let you switch to an arbitrary folder on your iPad/cloud to be used as cwd for notebook. I will let you know when we start beta-testing 1.2 to add you.

[2020-02-29 18:13] jmbenedetto commented on #54
Hi, could I take part on the 1.2 test version too?

Um abraço

Benedetto
011 95782-8747
Em 28 de fev de 2020 07:28 -0300, Alex Staravoitau <notifications@github.com> escreveu:

[2020-03-04 01:42] ceyzaguirre4 commented on #120
As jupyter-notebook

I should add that I use nbextensions

[2020-03-04 17:26] wizofe commented on #43
Is there any update on that?

[2020-03-05 17:30] navoshta commented on #120
Thanks @ceyzaguirre4 — that could actually be relevant, do you have any extensions specifically for the file browser or "Running Notebooks" tab perhaps?

[2020-03-05 17:38] navoshta commented on #43
@wizofe No updates yet I'm afraid, but since Kaggle's Kernels use a highly modified Jupyter frontend, this may need to wait till Juno's notebook editor rewrite, which will give us much more flexibility with which backends we can integrate.

[2020-03-05 17:41] navoshta commented on #25
@PyMarc2 Apologies for a late reply — we're still working on it, and we're on the same stage or ironing out various issues across SciPy modules (it has many!).

I'm hoping to start beta-testing in coming weeks (depending on how bug fixing progresses), with a build that will likely be not production ready, but will help us collect more bug reports. SciPy has a lot of bits and pieces, and we may not

[2020-03-05 17:47] PyMarc2 commented on #25
Great!! Keep up the good work!! 😀

[2020-03-07 17:07] navoshta commented on #100
@m-yaghini @mulra02 @ccruizm Juno Connect 1.5 is now in beta with an option to use location in background for better SSH tunnel persistene — if anyone wants to help test it, please send the e-mail address you use with your Apple ID to beta@juno.sh!

[2020-03-07 17:09] navoshta commented on #94
@yaroslavyaroslav Juno Connect 1.5 is now in beta with keyboard navigation fixed — if you would like to help test it, please send the e-mail address you use with your Apple ID to beta@juno.sh 😉

[2020-03-07 17:11] navoshta commented on #53
@peterhob Juno Connect 1.5 is now in beta with an option to enable HTTPS for port forwarding connections — if you would like to help test it, please send the e-mail address you use with your Apple ID to beta@juno.sh 😉

[2020-03-07 19:10] peterhob commented on #53
Sounds great. Will do.😀

Thanks for making such a handy tool.

On Sun, 8 Mar 2020 at 6:11 AM Alex Staravoitau <notifications@github.com>
wrote:

[2020-03-07 23:12] yaroslavyaroslav commented on #94
I dunno where should i send bug reports for the beta, so i’m sending it to that mail yet.

With beat regards,
Yaroslav

[2020-03-08 22:25] ejhgeo opened #133 "How to import csv file?"
I’m trying to import a csv file to analyze data. I realize the file has to be in the Juno folder on the iPad otherwise Juno cannot access it. The problem is I am unable to save or move any files that are not Jupiter notebook files to the Juno folder. I’ve tried unlocking the folder with the folder button in the upper right corner from within the notebook, but still it cannot find my file to import

[2020-03-09 16:07] navoshta commented on #94
@yaroslavyaroslav Thanks! Yep, email will do.

[2020-03-09 16:10] navoshta commented on #54
@jmbenedetto Sure, I'll post here when beta for Juno is available.

[2020-03-09 16:55] navoshta commented on #133
Hi @ejhgeo, files don't necessarily need to be in Juno's folder, but you do need to explicitly provide access to _notebook_'s folder, if it happens to be outside of app's sandbox. Then you can use relative paths to access files, i.e. relative to notebook location.

For examples on how to use relative paths and open files, check out notebooks in "Introductory Notebooks" directory in Juno's on-devic

[2020-03-11 18:10] caryfitz commented on #100
This also happens with the native Juno app.

Many other apps on IOS maintain their state between invocations.

THis bug renders Juno nearly unusable for me.  If I want to collect any data, do any analysis with my browser, *anything*, I have a mini-task in front of me to re-establish my context.  Using multiple application while developing software is a basic use case.

[2020-03-11 20:15] metabacchi commented on #92
Some widgets seem to work in Juno Connect (int_slider), albeit with refresh problems. The exact same notebook does not display the slider in Juno.

[2020-03-11 23:50] navoshta commented on #100
@caryfitz I'd usually suggest opening a separate issue for Juno — however, it's not necessary here as this behaviour has already been reported in #48, #79 and #83.

The good news is that Juno 1.2 will remain in background for a bit longer, and even when restarted will attempt to restore its context, just like what you are describing. I can add you to TestFlight when Juno 1.2 is in beta so that you

[2020-03-12 02:59] LukaPitamic commented on #92
yes!!!!
Juno's value increases 100x if `ipywidgets` are implemented. Speed and efficiency of data analysis is capped without customisable UI which `ipywidgets` so elegantly solve.

[2020-03-12 03:32] caryfitz commented on #100
Yes, please add me to the beta.

Cary.

[2020-03-12 15:33] ceyzaguirre4 commented on #120
Even after disabling all extensions the problem persists.

[2020-03-13 00:18] navoshta commented on #92
Thanks @metabacchi, @LukaPitamic — worry not, ipywidgets are certainly on the TODO list! 😉

Meanwhile, perhaps you could provide code examples of where ipywidgets currently fail (and how they are expected to behave)? This would help with development/testing a bit, but either way ipywidgets are on the roadmap, and I'm planning to start looking into them shortly.

[2020-03-13 03:50] LukaPitamic commented on #92
@navoshta great, you don't know how so may of us are looking forward to this.
How are they expected to behave:

1. the **ipywidgets** imports without errors by enterpreting the code
`import ipywidgets as widgets`
2. however in Jupyter Notebook or Jupyter Lab additional extension is loaded:
Notebook: `jupyter nbextension enable --py widgetsnbextension`
JupyterLab: `jupyter labextension install @jup

[2020-03-13 18:00] metabacchi commented on #92
Juno Connect:
(the slider is there, with limited functionalities: no label in dark more, no sliding - you can only click on the slider to move the cursor there)
<img width="810" alt="Screenshot 2020-03-13 at 18 53 18" src="https://user-images.githubusercontent.com/57687483/76647206-9f2acb80-655c-11ea-8329-b19b7cd093ba.png">

Juno:
(no slider at al)
<img width="810" alt="Screenshot 2020-03-13 at 18

[2020-03-14 18:44] LukaPitamic commented on #92
@metabacchi WTG! I wasn't aware slider is actually rendered if Juno is connected to outside Jupyter server. We're not that far from we want to be, huh? Thumbs up @navoshta

[2020-03-15 23:37] navoshta commented on #92
Thanks @LukaPitamic, @metabacchi — this helps a lot!

[2020-03-17 12:28] ho-oto opened #134 "Local port forwarding through a jump server"
I desire to connect with my jupyter server through a jump server.

Now, I make SSH tunnel by using [Blink Shell](https://apps.apple.com/jp/app/blink-shell-mosh-ssh-client/id1156707581) (in which I can configure proxy command like `ssh -CW %h:%p foo`) and use Juno with Direct connection mode. But, it is troublesome...

[2020-03-22 19:33] navoshta commented on #93
@simardcasanova @dbrehmer I know this issue has been reported for Juno, but it should now be fixed in latest Juno Connect beta (1.5.1) — let me know if you folks would like to be added to Testflight (and send me your Apple IDs to beta@juno.sh). Alternatively, I can let you know when there's a Juno beta to test.

[2020-03-22 19:35] navoshta commented on #82
@jceresearch I know this issue has been reported for Juno, but it should now be fixed in latest Juno Connect beta (1.5.1) — let me know if you would like to be added to Testflight (and send me your Apple ID to beta@juno.sh). Alternatively, I can let you know when there's a Juno beta to test.

[2020-03-22 20:37] navoshta commented on #134
Hi @ho-oto — thanks for reporting, I'll see what we can do here. I suppose meanwhile you could try doing this by somehow establishing a tunnel from the jump server to final destination _first_, and then connecting via tunnel to that jump server? I'm not 100% sure this will work though, just something off the top of my head.

Either way, I will see if this is something we could add in Juno Connect.

[2020-03-23 03:48] pkuk opened #135 "Korean issue"
When entering Korean, the following problems occur

Normal result : “한국어 입력이 이상해요”

`print('ㅎㅏㄴㄱㅜㄱㅇㅓ ㅇㅣㅂㄹㅕㄱㅇㅣ ㅇㅣㅅㅏㅇㅎㅐㅇㅛ') `

[2020-03-23 11:12] jceresearch commented on #82
Thanks Alex, perhaps for the Juno beta?, I am not using the Connect lately
:)
Cheers!
JC

On Sun, Mar 22, 2020 at 7:35 PM Alex Staravoitau <notifications@github.com>
wrote:

[2020-03-23 11:13] navoshta commented on #82
@jceresearch Sure, I'll post here when Juno beta is available.

[2020-03-24 00:04] dnigendac opened #136 "Errors installing BeautifulSoup"
**Describe the bug**
Can't install beautifulsoup4

Seems like an issue with [how BeautifulSoup4 detects Python 3](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#problems-after-installation).

However installing BeautifulSoup4 on Mac (`pip3 install beautifulsoup4`) and manually copying the `bs4` directory to Juno's `site-packages` works without issues.

**To Reproduce**
Steps to reproduce t

[2020-03-27 15:40] hingsar opened #137 "Connection failure in iPadOS 13.4 using self signed SSL cert"
**Describe the bug**
Connection failure in iPadOS 13.4 using self signed SSL cert.
I followed your doc to setup cert. It worked well in iPadOS 13 to 13.3, but failed in 13.4. I tried re-installed my cert which didn’t work either.

I suspect Apple changed their security policy again just like iPadOS 13, but didn’t find any doc in apple’s website.

**Environment (please complete the following inform

[2020-03-27 16:57] navoshta commented on #136
Thanks for reporting @dnigendac — this is a bug in Juno, I'm afraid. It grabs the first available Python-only source-only wheel instead of trying to find the Python 3 one. This is fixed now, and will be released in Juno 1.2. I can let you know when Juno beta becomes available, in case you would like to help test it. 😉

[2020-03-27 17:01] navoshta commented on #135
Thanks for reporting @pkuk — looks like it's a duplicate of #116? Also, could you please confirm it's reproducible on iOS 13, i.e. not related to #27?

Finally, if you could please make a recording of how it's supposed to work / how it actually works, that would help a lot — but I'll look into this regardless. Was hoping that those kind of issues got fixed with the iOS 13 update, but apparently no

[2020-03-27 17:29] dnigendac commented on #136
Great to know, thanks! Would be happy to test 😄

[2020-03-27 19:13] webcontrols opened #138 "Please add yfinance"
**What is the name of the package?**
Yfinance for stock market data from yahoo

[2020-03-27 19:13] webcontrols opened #139 "Add requests"
Requests package for bringing in data from web services

[2020-03-27 19:14] webcontrols opened #140 "Add urllib"
URL parsing dependent on requests package

[2020-03-28 16:59] PyMarc2 commented on #25
I’m ready to test in pre pre alpha production launch ahaha

[2020-03-28 18:09] enochling opened #141 "Packages installed disappeared after a while without using"
**Describe the bug**
I installed several packages via the built in installer. Yet after quitting Juno app for a while (like switching to other apps and opening Juno app again with logo loading), the packages installed were gone and I needed to install again.
**Expected behavior**
I suppose it was designed to have installed packages stayed as they are. installing the packages one by one every time

[2020-03-30 13:41] rohitsrao opened #142 "Juno Connect keeps getting killed in background when switching to another app for more than a few seconds"
**Describe the bug**
I am connecting to a remote jupyter server on my laptop via local port forwarding. If I open another app and come back to Juno Connect, the app has disconnected from the server and needs to reconnect and I need to load the notebook again. Unsaved progress is lost.

**To Reproduce**
Just switch to another app for more than a few seconds.

**Expected behavior**
Expected program

[2020-03-30 15:22] navoshta commented on #137
@hingsar I've tried re-creating a certificate and it seems to still work on iPadOS 13.4. Apple did change a few things in iOS 13, but this has been taken care of in the instructions. Could you please try following again — also please make sure to enable full trust to installed certificates after installing them (that's an extra step after the usual iOS confirmation dialogues to install it first).

[2020-03-30 15:54] navoshta commented on #138
@webcontrols Yfinance seems to be a pure Python package, so you should be able to install using Juno's package installer. Please, mind that it won't install dependencies automatically.

Closing this issue for now — if you identify a dependent package with native extensions that need to be ported, please, open a new issue for it.

[2020-03-30 15:54] #138 closed

[2020-03-30 15:55] navoshta commented on #139
@webcontrols You should be able to install `requests` as is with Juno's package installer. Please, mind that it won't install dependencies automatically though. Closing for now, let me know if it doesn't work for you.

[2020-03-30 15:55] #139 closed

[2020-03-30 15:57] navoshta commented on #140
@webcontrols I managed to successfully install `urllib` with Juno's package installer — perhaps some dependencies with native extensions are missing? If so, please open a separate issue for whichever package can't be installed.

[2020-03-30 15:57] #140 closed

[2020-03-30 16:11] navoshta commented on #141
@enochling Yep, installed packages shouldn't disappear, of course. Are these packages' files actually gone from _/site-packages_ directory, as in, you can't import them in notebooks?

Please, mind that Juno's package installer doesn't keep track of previously installed packages; it will install replacing whatever is currently already in _/site-packages_ (see [here](https://juno.sh/juno-pypi-packag

[2020-03-30 16:29] navoshta commented on #142
Thanks for reporting @rohitsrao, the SSH tunnel disconnecting has been discussed here: #100, it will be addressed in Juno Connect 1.5 via location tracking. Let me know if you would like to try Juno Connect 1.5 beta and see if it improves things for you.

That said, it's odd that your unsaved changes are lost, as Juno Connect should save changes automatically when entering background — I'll look i

[2020-03-30 16:33] rohitsrao commented on #142
Oops. My bad. Didn’t search thoroughly. Have just signed up for beta. Will report back.

[2020-03-30 16:58] webcontrols commented on #140
The app couldn’t find URLLIB it finds URL but fails to install.Please see attached

[2020-03-30 17:38] webcontrols opened #143 "Failure to install URL python package (Failure from Source)"
**Describe the bug**
Failure to install URL python package. Failure to install from source

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main screen in Juno app
2. Tap on Package Installer icon
3. Type in “URL” hit search
4. Click on install package

**Expected behavior**
Package is installed successfully
![28B014F7-0F91-4863-A6E2-D3AB4C6045AF](https://user-images.githubusercontent.c

[2020-03-31 07:18] navoshta commented on #140
@webcontrols Actually, urllib is a part of standard library now, so should be available without installation. Which error exactly are you getting?

[2020-03-31 07:38] navoshta commented on #143
@webcontrols This package is not pure Python, i.e. has native extensions, and therefore needs to be compiled and embedded in Juno, same as NumPy, Matplotlib and Pandas — I'll update the ticket to reflect that this is a package request.

[2020-03-31 08:19] rohitsrao commented on #142
Problem still persists. I fired up Juno connect and switched to YouTube for a few seconds. When I came back to Juno Connect the app had to reconnect to my jupyter server again.

[2020-03-31 10:57] navoshta commented on #142
@rohitsrao Does the location workaround help at all? You can enable it in app settings.

[2020-03-31 12:22] rohitsrao commented on #142
Yes it does. I put the app in background for 5 and 12minutes and it was still active in the background. Thanks!

Would have been nice to have a small welcome screen showing what is new in the app as I had no idea something had changed in the settings app.

Also how much of a battery drain is this going to cause and is there no better workaround than having to keep using location services ?!

[2020-04-03 15:27] navoshta commented on #142
@rohitsrao Great, glad it works! Yep a "What's New" screen makes sense, I was planning to add something like this eventually. As per battery drain — I'd say yes, it will likely consume battery a bit more agressively, so make sure to disconnect port forwarding connections when you don't need them anymore.

I don't think there's a better workaround for now unfortunately, as iOS is pretty strict with

[2020-04-03 15:27] #142 closed

[2020-04-04 02:07] jguerra-astro opened #144 "Add astropy"
Hi, I think astropy would be a a really useful package to be included in Juno.

https://www.astropy.org/
https://github.com/astropy/astropy

[2020-04-07 02:18] CLFV opened #145 "Local Port Forwarding Authentication Failure"
I've been successfully using Juno Connect and local port forwarding to connect to a Jupyter server I have running on an Ubuntu 18.04 LTS machine and I recently installed a similar setup on a Raspberry Pi 4 (running Raspbian Buster).

I'm able to connect to the Jupyter server on the pi locally from the pi itself and I'm also able to connect to it from a Mac on the local network after forwarding por

[2020-04-07 12:28] navoshta commented on #145
@CLFV There is an issue in Juno Connect that could result in similar symptoms — could you please send your email to beta@juno.sh? I'll add you to Testflight so that you can give Juno Connect 1.5 a go, it's currently in beta and it should have this issue resolved.

[2020-04-07 22:23] CLFV commented on #145
Thanks - the Juno Connect 1.5 beta has fixed the bug.

[2020-04-07 22:23] #145 closed

[2020-04-08 10:25] navoshta commented on #25
Good news, everyone! SciPy is looking good in general, and while there are still a few random crashes, it should be ready for beta while we fix those.

Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it!

[2020-04-08 10:49] navoshta commented on #136
Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! It should fix a few issues around PyPI installer.

[2020-04-08 10:51] navoshta commented on #114
@zenware Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! New version should now allow assert statements.

[2020-04-08 10:51] navoshta commented on #110
@CZspf Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! It should fix several issues around matplotlib animation module, among other things.

[2020-04-08 10:53] navoshta commented on #93
@simardcasanova @dbrehmer Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it, and if you haven't joined the Juno Connect beta already. Juno 1.2 will have the same behaviour around edit menu as Juno Connect 1.5.

[2020-04-08 10:55] navoshta commented on #88
@gsportelli Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! Although it will likely still get purged by the OS while in background (even if a bit less aggressively), Juno will now attempt to fully restore its context when reopened, making this process more seamless.

[2020-04-08 10:55] navoshta commented on #83
@jceresearch Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! Although it will likely still get purged by the OS while in background (even if a bit less aggressively), Juno will now attempt to fully restore its context when reopened, making this process more seamless.

[2020-04-08 10:56] navoshta commented on #82
@jceresearch Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it!

[2020-04-08 10:56] navoshta commented on #79
@jmbenedetto Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! Although it will likely still get purged by the OS while in background (even if a bit less aggressively), Juno will now attempt to fully restore its context when reopened, making this process more seamless.

[2020-04-08 10:58] navoshta commented on #47
@dnigendac Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! Delete cell shortcut is now "Shift + D" instead of "D" or "DD" — you can see all key bindings while pressing Command key.

[2020-04-08 10:59] navoshta commented on #48
@Rygor83 Juno 1.2 is now waiting for TestFlight review, and should be available in the next few days — please send an e-mail to beta@juno.sh if you would like to help test it! Although it will likely still get purged by the OS while in background (even if a bit less aggressively), Juno will now attempt to fully restore its context when reopened, making this process more seamless.

[2020-04-10 01:09] dnigendac commented on #136
Thanks for adding me, looking good to me on 1.2!

[2020-04-10 17:52] RavinderSinghPB commented on #109
OpenCv is very important, as it provide image processing, real-time photo capturing and analysis.

[2020-04-10 18:04] navoshta commented on #136
Great, thanks for verifying! I'll close the issue when 1.2 is released in the App Store.

[2020-04-10 18:09] dnigendac commented on #47
Works! Shame it can't be "DD" like in normal Jupyter, but now it's harder to fat-finger delete a cell, which is great.

[2020-04-10 18:14] navoshta commented on #47
@dnigendac Yep I'm still hoping to get back to it and add a proper "DD" shortcut, but this will involve a bit more work I'm afraid (as far as I know, iOS doesn't natively handle key bindings with multiple keys, so I will need to implement manual handling of this). I thought I'd just make it a bit harder to hit erroneously for now.

[2020-04-10 20:53] austingreisman opened #146 "Cannot connect to Jupyter Server over VPN"
**Describe the bug**
I have a remote Jupyter Server which I am connecting to using a VPN. Using Termius, I can manually port forward and SSH into my remote machine (while my VPN is connected). However, using your app, I get a “Authentication Failed” using the same credentials and ports.

**To Reproduce**
Steps to reproduce the behavior:
I cannot give the server for security reasons but I’ll genera

[2020-04-11 02:51] austingreisman opened #147 "Dark mode contrast issues with command palette"
**Describe the bug**
The command palette options displayed are a light shade of grey. It’s very hard to see the options.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Dark mode
2. Open Notebook
3. Press “p”
4. See error

**Expected behavior**
Colours of text have high contrast. (Works fine in light mode)

**Screenshots**
Can’t seem to attach photos at the moment.

**Environment (plea

[2020-04-11 03:22] austingreisman commented on #146
I worked around the issue by using a private key instead of the password... Not sure if that means this should be closed.

[2020-04-11 03:32] austingreisman opened #148 "Add support for Shortcuts"
**Is your feature request related to a problem? Please describe.**
Would be nice to have the ability to automate opening and connecting to servers via Shortcuts or even if Juno Connect / Juno is listed as an application that can be opened with Shortcuts.

**Describe the solution you'd like**
Easier: Add Juno to shortcut as an app!
Harder: Allow for specific connection tuning within shortcut as par

[2020-04-11 03:34] austingreisman commented on #147
![IMG_0009](https://user-images.githubusercontent.com/16636670/79034436-d1dbda00-7b83-11ea-8e33-1bbb1ef3cea3.png)

[2020-04-13 13:25] navoshta commented on #147
Thanks for reporting @austingreisman — this should work fine on recent Jupyter Lab/Notebook releases, but not sure for older ones. Which version are you running?

[2020-04-13 13:28] navoshta commented on #146
Hi @austingreisman, this looks similar to a Juno Connect bug that has been recently fixed in  beta  (see #145) — would you like to try Juno Connect 1.5 beta and see if it fixes your issue? If that's OK please send an email to beta@juno.sh.

[2020-04-13 15:56] austingreisman commented on #146
Sure! Email sent.

[2020-04-14 21:41] mp2011 opened #149 "Simpy fails while running import simpy"
**Describe the bug**
Simpy package fails when running import simpy

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install simpy 4.0.0
2. Open a Jupyter notebook session
3. Write import simpy
4. Execute Run Cell
5. A series of error is displayed

**Expected behavior**
Cell should be executed without errors.
<img width="834" alt="Immagine PNG" src="https://user-images.githubuserc

[2020-04-15 00:19] Arjitc12 opened #150 "Unexpected Behaviour in pynb"
**Describe the bug**
\b while being used in pynb shows behaviour of a backspace.

[code]
but rather it prints

 working similar to a backspace.

![image](https://user-images.githubusercontent.com/28424828/79285937-ab4bd500-7edc-11ea-857c-18d3f5e08768.png)

**Environment :**
 - Device: [iPhone 7]
 - iOS version: [e.g. iOS 13.3.1]
 - App version [1.2.0(5156)]

[2020-04-15 12:28] mp2011 commented on #149
Installing an older version 3.0.11 apparently solved the problem.

[2020-04-16 21:41] navoshta commented on #150
@Arjitc12 That's an interesting observation, I didn't notice this before — but it looks like Jupyter has the same behaviour on desktop (as well as Python interpreters in general). Could you please explain further why it should be `HELDO`?

[2020-04-16 22:16] navoshta commented on #149
@mp2011 Thanks for reporting, this is a bug in Juno. Looks like `pkg_resources` doesn't always find packages installed from wheel distributions — I'll take a look.

[2020-04-17 00:48] Arjitc12 commented on #150
@navoshta
\b works in a way to overlap characters
If it is
`print(“HELLO\b\bD”)`
Then cursor would move two characters back ie it will reach HEL**L**O and then overwrite the characters after O which is in this case D.
Similarly, `print(“HELLO\b\b\bD)` would produce
`HEDLO`

[2020-04-18 16:27] 87bdharr opened #151 "Documentation mistype : https://juno.sh/ssh-tunnel-to-jupyter-server/"
**Describe the bug**
I think there’s a typo in your guidance documentation for connecting to Juno via ssh: https://juno.sh/ssh-tunnel-to-jupyter-server/.

“Now detach from this session by pressing Ctrl + D, and then pressing B“. I believe to detach a tmux session the command is Ctrl + B then D.

[2020-04-22 06:11] PowderHan opened #152 "Add **torch** and **torchvision**"
Can you add torch and torchvision in Juno? As I know, more and more people use JupyterNotebook to learn Machine Learning, and PyTorch is really useful, I know many friends want to use Juno in iPad Pro to code, but it can’t use PyTorch, this is really regrettable. So can you make it pre-installed? Thank you very much.

[2020-04-22 20:53] navoshta commented on #150
Ah OK that makes sense @Arjitc12.

I saw that you opened an issue with Jupyter (https://github.com/jupyter/notebook/issues/5381), which was a good call I think: Juno embeds standard Jupyter for the backend, so if/when this issue is fixed there, it will be picked up in Juno, too.

[2020-04-22 20:53] #150 closed

[2020-04-22 21:05] navoshta commented on #151
Thanks @87bdharr, should be fixed now! 🤦‍♂️😁

[2020-04-22 21:05] #151 closed

[2020-04-22 21:31] navoshta commented on #152
@PowderHan PyTorch has been requested here: https://github.com/rationalmatter/Juno-Issue-Tracker/issues/35 — I'll close this issue as a duplicate if you don't mind.

[2020-04-22 21:31] #152 closed

[2020-04-22 23:49] PowderHan commented on #35
Really need PyTorch. hope it.

[2020-04-24 06:34] danbricedatascience commented on #3
Hi, What is the status for Scikit-Learn ? will it be part of Juno 1.2 ?

[2020-04-24 11:20] navoshta commented on #3
@danbricedatascience Not in 1.2 I'm afraid, but it will get released in one of the follow-up releases. Scikit-learn is going to be our next priority when SciPy is out the door.

[2020-04-25 18:33] franz101 opened #153 "Add copy line by holding the ALT Key + Down"
I love coding on the iPad there are a few things that I miss. Currently most valuable for me would be to show the contextual help menu from Jupyter Lab. Also I can not duplicate a line by holding the alt key. And I can not move it as well by holding the ALT key (See google Colab). The other thing i noticed there is now git integration currently :(
Is that planned?

All the best,
Franz

[2020-04-30 15:40] navoshta commented on #153
Hi @franz101 — please, create separate issues for each suggestion, otherwise it would be very hard to keep track of those. I'll rename this issue to focus on text editing shirtcuts, but please feel free to create separate tickets to discuss other things.

Yep, I plan to reuse something from Jupyter. IIRC there's contextual help in Jupyter Notebook, too — and it does work in Juno Connect, although

[2020-05-03 09:15] JaeungHyun commented on #135
@navoshta
Here i recorded that problem.
I hope it can be fixed soon :)

https://youtu.be/bJRJpvSHJzo

[2020-05-03 19:56] ancientbuho opened #154 "Access to folders is lost after killing the app"
**Describe the bug**
After granting access to a folder using the document picker, then killing Juno, access to the folder is lost.

Access to the folder should be saved (via a [bookmark](https://developer.apple.com/documentation/uikit/view_controllers/providing_access_to_directories)) so that it can be restored when the app relaunches.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a f

[2020-05-04 23:07] navoshta commented on #154
Thanks for reporting @ancientbuho! Yep you are right, it's been implemented a while back, but hasn't been released yet. It's coming in Juno 1.2, which will remember cwd and directory permissions for each notebook. It is currently in beta — please send an e-mail to beta@juno.sh if you would like to help test it, or simply would like to take an early look, and I'll you to our TestFlight. 😉

[2020-05-04 23:49] ancientbuho commented on #154
@navoshta I emailed to get access to the beta builds via TestFlight. Thanks!

[2020-05-05 00:12] ancientbuho commented on #154
@navoshta  This is working in 1.2.2 correctly, permissions get restored on re-launch. 👍🏻

[2020-05-06 12:36] diije opened #155 "Connection to private notebook server fails"
Hi!

I just downloaded Juno Connect to edit and run notebooks from a private server on an iPad mini.

The remote server is running behind Nginx as a reverse proxy with HTTP authentication: I added a `user:pass` string at the beginning of the "Address" field when configuring the server with direct connection (which means the full address looks like `https://user:pass@host.name/notebook`).
The addre

[2020-05-07 08:39] draco67p commented on #135
same issue.

[2020-05-07 08:46] draco67p commented on #135
https://youtu.be/21S1TTFUvOE
here is more information.

[2020-05-07 09:41] smkirby commented on #115
This would be excellent - I currently find myself (reluctantly) switching back to using safari for Jupyter notebooks because I often need to see two notebooks side by side (although even switching quickly between them in full screen would help).

[2020-05-07 14:33] navoshta commented on #155
Hi @diije! Judging by the symptoms, it seems like it's the notebook's kernel that can't connect. Usually this happens when any part of the connection journey involves SSL and an untrusted certificate (for example, a self-signed one). Jupyter uses web sockets for kernel connection, and if you are connecting to notebook server via HTTPS, sockets will try to use SSL, too. Now, due to iOS/iPadOS secur

[2020-05-07 14:37] navoshta commented on #25
SciPy 1.4.0 is now available to everyone as Juno 1.2 is now live on App Store. Thank you for your patience! 🎉

[2020-05-07 14:37] #25 closed

[2020-05-07 14:39] navoshta commented on #53
Juno Connect 1.5 is now live on App Store, so closing the issue. 🚀

[2020-05-07 14:39] #53 closed

[2020-05-07 14:40] navoshta commented on #80
Now that iPadOS allows configuring Caps Lock as Esc on a system level, I don't think it's worth it implementing this in the app — so closing the issue. Feel free to reopen if I'm missing anything though.

[2020-05-07 14:40] #80 closed

[2020-05-08 04:24] kerryeva opened #156 "Completer suggestions not responding to touch"
**Describe the bug**
Update to 1.5.4, ios 13, ipad mini5.
I can not choice the keyword-alternative by finger touching. But use pencil can did choice.

**Expected behavior**
Make a choice not just by pencil but also by finger touch.

**Environment (please complete the following information):**
 - Device: [iPad mini5] [iPad pro 12.9]
 - iOS version: [iOS 13.2][iOS 13.1.2]
 - App version [1.5.4]

[2020-05-08 15:29] navoshta commented on #79
Juno 1.2 is now live on App Store — although OS may still kill the app while in background (it's just the way iOS and iPadOS handle 3rd party apps), Juno will now re-launch faster and, more importantly, will attempt to restore its context, including open notebook, directory permissions and even interpreter session (imported modules and variables).

I'm closing this issue for now, as there is not m

[2020-05-08 15:29] #79 closed

[2020-05-08 15:30] navoshta commented on #83
Juno 1.2 is now live on App Store — although OS may still kill the app while in background (it's just the way iOS and iPadOS handle 3rd party apps), Juno will now re-launch faster and, more importantly, will attempt to restore its context, including open notebook, directory permissions and even interpreter session (imported modules and variables).

I'm closing this issue for now, as there is not m

[2020-05-08 15:30] #83 closed

[2020-05-08 15:30] navoshta commented on #88
Juno 1.2 is now live on App Store — although OS may still kill the app while in background (it's just the way iOS and iPadOS handle 3rd party apps), Juno will now re-launch faster and, more importantly, will attempt to restore its context, including open notebook, directory permissions and even interpreter session (imported modules and variables).

I'm closing this issue for now, as there is not m

[2020-05-08 15:30] #88 closed

[2020-05-08 15:31] navoshta commented on #154
Closing the issue as Juno 1.2 is now live on App Store. 🚀

[2020-05-08 15:31] #154 closed

[2020-05-08 15:33] navoshta commented on #149
@mp2011 This should now be fixed — Juno 1.2.2 is live on App Store

[2020-05-08 15:33] #149 closed

[2020-05-08 15:34] navoshta commented on #147
This should be fixed in Juno Connect 1.5 (now live on App Store)

[2020-05-08 15:34] #147 closed

[2020-05-08 15:34] navoshta commented on #130
This should be fixed in Juno Connect 1.5 (now live on App Store)

[2020-05-08 15:34] #130 closed

[2020-05-08 15:36] navoshta commented on #117
Export menu is now available in Juno 1.2 and Juno Connect 1.5 (both live on App Store). Mind that for Juno Connect it will use the available exporters on your Jupyter server, i.e. you will be able to use the same export options that normally work when you connect to your server elsewhere.

[2020-05-08 15:36] #117 closed

[2020-05-08 15:36] navoshta commented on #114
This should be fixed in Juno 1.2 (now live on App Store)

[2020-05-08 15:36] #114 closed

[2020-05-08 15:36] navoshta commented on #110
This should be fixed in Juno 1.2 (now live on App Store)

[2020-05-08 15:36] #110 closed

[2020-05-08 15:45] navoshta commented on #100
The background location workaround is now available in Juno Connect 1.5 (live on App Store). It is an opt-in feature, and is not enabled by default.

Please, mind that Juno Connect will try to automatically re-connect to last server the next time it's launched. If it happens to be an SSH server and location access is enabled, you may find Juno Connect a bit too persistent. However, Juno Connect wi

[2020-05-08 15:45] #100 closed

[2020-05-08 15:45] navoshta commented on #93
This should now be fixed in Juno 1.2 and Juno Connect 1.5 (live on App Store).

[2020-05-08 15:45] #93 closed

[2020-05-08 15:46] navoshta commented on #82
This should now be fixed in Juno 1.2 and Juno Connect 1.5 (live on App Store).

[2020-05-08 15:46] #82 closed

[2020-05-08 16:05] navoshta commented on #156
Thanks for reporting @kerryeva — I'm assuming this is related to completer suggestions?

[2020-05-08 16:17] jceresearch commented on #83
Thanks! I ve been using the beta and indeed it recovers and the experience is much better... i could actually complete a routine.
That said it is still a noticeable limitation, i have to run again the cells.  i hope ios fixes it... i code little snippets in the ipad and i do a lot of googling to find out answers and my way around, the app gets killed a mere few seconds after leaving it. the only w

[2020-05-09 02:52] kerryeva commented on #156
yes, when I touch the suggestions list , Juno will shows select, select all, comment, etc. not input my choice.

[2020-05-09 14:08] navoshta commented on #156
@kerryeva OK got it, this will be addressed in a follow-up release soon.

[2020-05-09 16:22] navoshta commented on #83
Thanks @jceresearch — sure, in-app browser makes sense I suppose, and I'll see how this could be added. I doubt it will be easier to use than Safari in slide-over/split-screen modes though, but it could become a configurable option, for instance.

[2020-05-09 17:06] jceresearch commented on #83
I agree,  it would be a workaround till ios becomes a better multitasking device, for now we are stuck with those split view and floating,
i personally find the floating windows a pain, too narrow for understanding pieces of code when word wrapped or too tiny zoom; i end up screwing the gestures all the time (invoking, swiping out, and back in), same with trying to activate and adjust the split vi

[2020-05-09 17:10] dljthomas1 opened #157 "Juno doesn’t seem to be able to access locally installed fonts"
**Describe the bug**
Juno doesn’t seem to be able to access local installed fonts on the iPad. When I create a matplotlib plot, for example, I can’t even use default fonts like Arial.

**To Reproduce**

[code]
**Screenshots**
![IMG_0041](https://user-images.githubusercontent.com/48061064/81480224-24122880-9220-11ea-98ad-5b2a5d07c02a.jpeg)

**Environment (please complete the following information):

[2020-05-11 15:06] diije commented on #155
Hi @navoshta,

That's quite odd because I wasn't using SSL between the proxy and Jupyter, and a Letsencrypt certificate for the proxy itself.
However, I followed the steps on https://juno.sh/ssl-self-signed-cert/ but that didn't change anything.

Is there any debug mode I could activate or something similar, in order to get more details on what's going on?

Thanks!

[2020-05-11 15:52] navoshta commented on #113
Hi @undiabler — could you please check if this is now working in Juno Connect 1.5? A few things around how keyboard is handled have been updated and fixed, so I'm hoping it improved or fixed your issue, too. 🤞

[2020-05-11 18:25] haselnut opened #158 "Package installer icon missing!"
I upgraded to Juno 1.2.2 (5298) on my iPad Pro iOS 13.4
and to 1.2.3 (5304) on my iPad mini 4 iOS 13.3.
On both systems the icon of the package installer (on the upper corner right) has dissapear.
I have no way to install other pakages. Am I missing something here?
Thanks in advance

[2020-05-12 01:59] Neny90 opened #159 "Add **scikit-learn**"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

[2020-05-12 06:18] haselnut commented on #159
Thanks for you anwswer Neny90. I finally found the package manager under the options that
appear when one clicks on the notebook name. I looked at different places and did not find it the
first.
I know that extra packages should be pure python.

[2020-05-12 06:58] haselnut commented on #159
astropy would be nice to have!

[2020-05-12 12:18] Neny90 commented on #159
Yeah, I tried searching for scikit-learn but they are not supported even though it is a pure python package. I also tried to unlock whl package and page contents in Juno’s site-packages directory but got an error that scikit-learn was not built properly :(

[2020-05-12 12:26] Neny90 commented on #159
Clearer instructions for manually installing pure python packages would be nice

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-12 14:26] navoshta commented on #159
Hi @Neny90, scikit-learn does seem to have native extensions, so needs to be pre-compiled. There is already a ticket for it here: https://github.com/rationalmatter/Juno-Issue-Tracker/issues/3 (I'll close this one as duplicate). There are instructions on installing packages that are linked from the app's package installer (https://juno.sh/juno-pypi-package-installer/), although perhaps there's a be

[2020-05-12 14:26] #159 closed

[2020-05-12 15:44] haselnut commented on #144
Totally agree with @jguerra-astro

[2020-05-12 16:23] navoshta commented on #156
This should now be fixed in both Juno and Juno Connect.

[2020-05-12 16:23] #156 closed

[2020-05-13 04:59] tolgadiz opened #160 "Add Statsmodels"
I know this may be a niche request but I think adding Statsmodels module would be very helpful for those of us that work with statistical models. Since scipy has already been implemented, I imagine this module can be added without a lot of work.

PyPI link: [https://pypi.org/project/statsmodels/](https://pypi.org/project/statsmodels/)
Github link: [https://github.com/statsmodels/statsmodels](https

[2020-05-13 12:22] vinodkotagiri opened #161 "No package downloader"
**Describe the bug**
Package installer not available after recent update

**To Reproduce**

**Expected behavior**
Install additional libraries using the provided installer

**Screenshots**
![8A4A019C-80F5-4C76-A3E9-F4B7A7B4779C](https://user-images.githubusercontent.com/64140279/81811276-00aded00-9542-11ea-8db3-19c3eb56022f.png)

**Environment (please complete the following information):**
 - Devi

[2020-05-13 17:05] navoshta commented on #161
Hi @vinodkotagiri, package installer is available via notebook menu — tap notebook title in the editor and select Install Python Package.

The package installer button used to be in the file browser, but there were a couple of issues with that component (and 3rd party developers can't really customise it much), so I thought it would make sense to be able to install a missing package without leavin

[2020-05-13 17:05] #161 closed

[2020-05-13 18:58] navoshta commented on #157
Thanks for reporting @dljthomas1, I will need to look into this!

I'm not surprised that other apps embedding Matplotlib show the same behaviour: Matplotlib source has a handful of places that don't work on iOS, and every port needs to patch them one way or another. One of those places is Matplotlib's font manager, which IIRC starts a separate process to list and index available fonts using `fontc

[2020-05-13 19:02] navoshta commented on #160
Yep, it's certainly on the list. 👍

[2020-05-14 03:27] thipokKub opened #162 "Add lxml"
Please add lxml support for xml parsing

Official site: https://lxml.de/
Official PyPi: https://pypi.org/project/lxml/
Official Github: https://github.com/lxml/lxml

[2020-05-14 03:32] thipokKub commented on #162
It seems like there is an open issue a few months ago

https://github.com/rationalmatter/Juno-Issue-Tracker/issues/66

Closing due to duplicate issue

[2020-05-14 03:32] #162 closed

[2020-05-14 21:52] navoshta commented on #155
Sorry @diije, there is no debug mode I'm afraid, although since you are connecting directly, you could use Safari (or perhaps even some HTTP client?) to verify URLs are accessible and trusted.

Hmm yeah, I agree that Letsencrypt certificate should probably do the trick... Perhaps this behaviour is due to the proxy or HTTP auth? I recommend you to try and switch off HTTPS on entire route, just to v

[2020-05-14 22:31] navoshta commented on #162
Yep you are right @thipokKub — LXML is already on the list 😉

[2020-05-15 11:55] pchronz commented on #35
I’m looking really hard for a justification to buy Juno. PyTorch would be it!

[2020-05-15 13:09] undiabler commented on #113
Confirmed, on 1.5.5 (5304) everything works fine.
There is no smooth iOS animation for the floating buttons when keyboard appears (with keyboard extension on), but main problem was solved, buttons don't disappear. Thanks!

[2020-05-15 13:09] #113 closed

[2020-05-16 02:20] kerryeva opened #163 "The function ‘select all’ seems not work"
**Describe the bug**
touch and hold, then shows ‘select, select all...’. Touch ‘select all’, the cursor moves to end of cell. Not select anything.

p.s.And I think ‘select a line‘ is more useful than ‘select all’

**Environment (please complete the following information):**
 - Device: [iPad Pro 12.9, iPad mini5]
 - iOS version: [iOS 13.2]
 - App version [1.5.5]

[2020-05-16 15:17] Ripwords commented on #155
@navoshta Hi, I just configured everything today, and even after following your website's instructions to allow my iPad to sign the certificate, the warning for Invalid SSL certificate is still there is there anything i can do?

[2020-05-16 15:23] Ripwords commented on #155
@navoshta Hi, I just configured everything today, and even after following your website's instructions to allow my iPad to sign the certificate, the warning for Invalid SSL certificate is still there is there anything I can do? I have also checked and confirmed that the problem has something to do with the certificate as normal HTTP works fine.

[2020-05-18 08:14] diije commented on #155
Hi @navoshta

Just tried and everything works fine without the HTTP auth. This seems to be the real issue, and not SSL certificates.
However I can't let the auth disabled for obvious security reasons.
Is there a way to get it working inside Juno Connect?

I did that and was prompted for HTTP Auth, but then had the same issue with failed connection.

Thanks for your help.

[2020-05-18 21:40] navoshta commented on #155
Hey @Ripwords, I've responded in the original e-mail thread — hope you don't mind.

@diije OK, thanks for checking. Sounds like HTTP Basic Auth is somehow interfering with how iOS verifies certificates for SSL. Could you please try to access your server in Safari, and check if kernel connects after you're prompted for login/password?

Unfortunately, this is either a bug in Juno Connect, or just od

[2020-05-18 21:43] navoshta commented on #163
Thanks for reporting @kerryeva — yep this will be fixed in a follow-up release shortly. Ping me at beta@juno.sh if you would like to take an early look when beta becomes available.

[2020-05-22 00:55] marshal0224 opened #164 "Please Include Seaborn"
Hi,

I love the Juno app, but it would be great if you guys could include seaborn in the package list!

Regards,

[2020-05-22 08:16] navoshta commented on #164
Hi @marshal0224, Seaborn seems to be a pure Python package, so you should be able to install whichever version you prefer via package installer. Or are there some issues with it perhaps?

<img width="543" alt="Screenshot 2020-05-22 at 09 15 28" src="https://user-images.githubusercontent.com/1111935/82646608-cb259580-9c0c-11ea-802f-1f466406657c.png">

[2020-05-22 09:12] JacobShin0601 commented on #66
is this issue resolved?

[2020-05-22 12:54] navoshta commented on #66
@JacobShin0601 No, it's still open. There are a couple of other libraries we would like to add to Juno before starting on LXML, but it's certainly high on the list of priorities.

[2020-05-23 00:40] rayandaod opened #165 "Error "Failed to install llvmlite""
**Description**
Hello, I get the following error when trying to import the package llvmlite in Juno : "Failed to install llvmlite 0.32.1 - Install from source failed". Do other people have that error too ? Otherwise, is there a way to fix it pls?  Thank you

**Environment:**
 - Device: iPad Pro 11" (2018)
 - iOS version: iPad-OS 13.3.1
 - App version : 1.2.4

[2020-05-23 10:00] marshal0224 commented on #164
Oh, Gee, I did not realize the app came with a package installer! Now I like the app even more. I have been able to install seaborn with no issue. Great work making this app!

[2020-05-23 10:00] #164 closed

[2020-05-23 20:19] navoshta commented on #165
Hi @rayandaod — you can only install pure Python packages due to platform restrictions, and llvmlite has native extensions that need to be compiled and embedded in the app. This qualifies as a package request, but I'm not sure this is something that can be done in case of llvmlite at all, to be honest. This llvmlite package seems to be a wrapper around llvm or something like that? So not sure this

[2020-05-23 20:21] navoshta commented on #94
The fix should now be available on App Store, too.

[2020-05-23 20:21] #94 closed

[2020-05-23 20:24] navoshta commented on #163
This issue should now be fixed (and text selection greatly improved in general) in Juno 1.2.4 and Juno Connect 1.5.6 available on TestFlight (not on App Store yet).

[2020-05-24 12:52] rayandaod commented on #165
Thank you for your answer! I’ll try to use another package in the mean time.

[2020-05-25 01:15] ToCkie opened #166 "uncertainties package fails on import"
**Describe the bug**
```uncertainties``` package fails to load with python 3 kernel.

**To Reproduce**
Steps to reproduce the behavior:
1. install the ```uncertainties``` package version ```3.1.2``` or ```3.1.1```
2. ```import uncertainties``` will result in the following error message:
[code]

**Expected behavior**
The package should load and work. (This should be doable since ```uncertainties```

[2020-05-25 14:25] John-Rule-Bose commented on #132
Can confirm that this is fixed on latest beta, 1.2.5.  Thanks!

[2020-05-26 13:04] navoshta commented on #166
Hi @ToCkie — looks like it's the installation that is the problem here. Uncertainties is a Python 2 package, which relies on starting an external process during installation to convert itself to Python 3. This doesn't sound like an optimal installation approach (and also it isn't possible on iOS due to platform limitations) — luckily, it has been raised in their repo already, and they seem to agre

[2020-05-26 13:04] #166 closed

[2020-05-26 13:11] wolf71 opened #167 "Add Biopython"
Please add Biopython(https://biopython.org/) in Juno.

[2020-05-26 13:14] wolf71 opened #168 "Add Biopython"
Please add Biopython(https://biopython.org/) in Juno.

[2020-05-26 13:14] #167 closed

[2020-05-26 13:16] wolf71 opened #169 "Add Biopython"
Please add Biopython(https://biopython.org/) .

[2020-05-26 13:16] #168 closed

[2020-05-26 13:54] navoshta commented on #169
Thanks for reporting @wolf71! Looks like there is already an open ticket for it (reported by you some time earlier? 🙃) — see https://github.com/rationalmatter/Juno-Issue-Tracker/issues/28. I'll close this one as a duplicate if you don't mind.

[2020-05-26 13:54] #169 closed

[2020-05-28 02:25] #136 closed

[2020-06-01 03:43] notiiz opened #170 "Add **cvxpy**"
**cvxpy**
Please check “cvxpy” package cannot install, How can I do ?

![1E185979-E363-4C35-BA53-0BBB56FB5426](https://user-images.githubusercontent.com/66234577/83374054-a394b100-a3f4-11ea-8418-5404b5c8cfbe.jpeg)

[2020-06-04 13:05] navoshta commented on #170
Thanks for reporting @notiiz, `cvxpy` seems to have native extensions, so it needs to be ported and embedded in the app, similar to SciPy, Matplotlib and Pandas.

[2020-06-05 16:00] 7points opened #171 "package-installation failure"
**Describe the bug:**
iapws is pure python code.
When trying to install the package, the following message appears:
! Failed to install iapws 1.4.1
Installation from source failed

**Environment (please complete the following information):**
 - Device: Ipad pro version 1
 - iOS version: 13.5.1
 - App version: 1.2.5 (5382)

[2020-06-06 11:06] NawfalTachfine opened #172 "Juno connects to server but not to kernel"
I am setting up a Python development environment using the Blink shell, a DigitalOcean droplet and Juno Connect. I’m using an 11” 2018 iPad Pro with iOS 13.5.
I followed the instructions in the official guide to setup SSH port forwarding and produce the self-signed SSL/TLS certificate.
Juno connects to the server but cannot reach the notebook kernel. I get the red warning strip on top, saying “Ser

[2020-06-07 08:34] lebigot commented on #166
Version 3.1.4 has universal wheels. Does this solve issue https://github.com/lebigot/uncertainties/issues/106?

[2020-06-07 08:43] lebigot commented on #166
For reference: uncertainties now include universal wheels, which should solve the problem.

[2020-06-07 17:27] navoshta commented on #166
Thanks @lebigot — uncertainties seem to install fine now, and the universal wheel is getting correctly picked up as preferred distribution. Looks like their dependency `future` fails to install though, but I will need to look into this (and perhaps simply bundle it in the app).

[2020-06-08 02:51] notiiz commented on #170
I tried to add cvxpy from pypi to site-packages but have error _cvxcore ,
please suggest me how to fix it.

On Thu, 4 Jun 2020 at 20:06, Alex Staravoitau <notifications@github.com>
wrote:

[2020-06-08 07:16] lebigot commented on #166
Thanks for the feedback.

`future` is a new dependency I just added to the code (as there is now a single code base for Python 2 and 3). I am understanding that `future` requires `setuptools`, so that would be another dependency too.

[2020-06-08 08:29] navoshta commented on #170
@notiiz you won't be able to install it, because it's not a pure Python package. It has native extensions, so in order to be available in Juno it needs to be ported and embedded in the app, similar to how it's done for other packages with native extensions (i.e. not pure Python): NumPy, SciPy, Matplotlib, Pandas, etc.

[2020-06-09 16:24] navoshta commented on #171
Hi @7points — apologies for a late reply, I had too look into this a bit further. So, you are right: it should install without issues, but it currently doesn't because of a bug in Juno. ☹️ This applies to _some_ packages that only come as source distributions, and which try to use other packages during installation. A fix will be released in the next Juno update, meanwhile please install manually

[2020-06-09 16:35] navoshta commented on #166
Yep, makes sense @lebigot — I've now also identified an issue that prevented `future` from installing in Juno, which will be fixed in the next app update. When it's released, Juno users will be able to install `uncertainties` and all dependencies in the app. 🎉

[2020-06-09 17:31] navoshta commented on #172
Hi @NawfalTachfine — apologies for a late reply.

Is it accessible without SSH tunnel, i.e. by simply using server's address? Does the kernel connect in Safari, too? Also, could you please clarify if you are connecting to your Jupyter server directly (i.e. direct connection in Juno Connect), or via port forwarding?

You typically don't need HTTPS if you connect via port forwarding, although nothin

[2020-06-14 15:34] lmatute commented on #160
Would like to second the request ( Statsmodels)

[2020-06-17 11:19] navoshta commented on #146
Hopefully this has been fixed in a recent release — please feel free to reopen if the issue still persists.

[2020-06-17 11:19] #146 closed

[2020-06-17 11:21] navoshta commented on #137
@hingsar Closing this for now — feel free to reopen if you need any further assistance (or send an e-mail to help@juno.sh and I'll be happy to help).

[2020-06-17 11:21] #137 closed

[2020-06-17 11:21] navoshta commented on #132
The fix has also been released to App Store in a recent update.

[2020-06-17 11:21] #132 closed

[2020-06-17 11:21] navoshta commented on #163
This should now be fixed on the App Store, too.

[2020-06-17 11:21] #163 closed

[2020-06-17 11:22] navoshta commented on #129
@njagh Closing this for now — feel free to reopen if you need any further assistance (or send an e-mail to help@juno.sh and I'll be happy to help).

[2020-06-17 11:22] #129 closed

[2020-06-17 11:23] navoshta commented on #77
Package installer should now display info for `dash-renderer` correctly.

[2020-06-17 11:23] #77 closed

[2020-06-17 11:25] navoshta commented on #60
This should now be fixed — also in the version available on the App Store.

[2020-06-17 11:25] #60 closed

[2020-06-17 11:26] navoshta commented on #56
This should now be fixed.

[2020-06-17 11:26] #56 closed

[2020-06-17 11:28] navoshta commented on #51
This should now be fixed in both apps, including versions available on the App Store.

[2020-06-17 11:28] #51 closed

[2020-06-18 22:52] MarconiS opened #173 "Add rasterio"
Hi! First of all awesome job in making and supporting Juno!

Name of the package: Rasterio

Link of the package documentation: https://rasterio.readthedocs.io/en/latest/

I think it would be awesome to have support for geospatial packages, especially because I understand you are already planning to add tensorflow and sklearn libraries.

[2020-06-19 14:34] navoshta commented on #173
Thanks for reporting @MarconiS, looks like it also has a native dependency of [GDAL](https://gdal.org/) — I would typically suggest submitting a separate package request for it, but I'm not sure if that library is used on its own in Python/Jupyter. Either way, hopefully we'll get to both eventually. 🙂

[2020-06-19 15:08] MarconiS commented on #173
Awesome, thanks! Yeah, I think that most geo-python packages are heavily depending on GDAL. Installing GDAL will probably be quite challenging, therefore I definitively see value in submitting it as a separate package. :)

[2020-06-19 15:15] MarconiS opened #174 "Add GDAL"
GDAL ( https://pypi.org/project/GDAL/) is the core library for pretty much any geospatial - gis library in python. Again, thanks for the amazing job you all are doing in developing Juno!

[2020-06-19 17:48] navoshta commented on #92
@ekul00 @reichardtj @LukaPitamic @metabacchi @mppowell `ipywidgets` are now available in Juno 1.2.6, which is out on TestFlight — please ping me on beta@juno.sh if you would like to help test it! 🙃

[2020-06-20 16:27] JaeungHyun opened #175 "Dracula theme support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Hello,
I think most developer prefer dracula theme for their IDEs.
I hope Juno supports dracula theme soon

Thanks!

[2020-06-21 07:14] edinghsu31124 opened #176 "Allow installing packages with optional native extensions"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

Hi, I tried to install the “simplejson” package in Juno. It failed to install it. It gives me a feedback of “installation from sources failed. C

[2020-06-22 17:58] ekul00 commented on #92
Brilliant thanks @navoshta that’s great news. I’d like to have a poke around with that in the next week or so. I’ll email you :)

[2020-06-23 08:56] navoshta commented on #92
Ipywdigets are now available in Juno 1.2.6, which is out on App Store! 🎉

If something is not working as expected, please open a new issue or ping me on feedback@juno.sh. 🙃

[2020-06-23 08:56] #92 closed

[2020-06-23 08:57] navoshta commented on #3
Scikit-learn is now available in Juno 1.2.7 available on TestFlight — please send an e-mail to beta@juno.sh if you're not on our beta channel, but would like to help test it. 🙂

[2020-06-24 01:32] Delta22627 opened #177 "AttributeError: module 'os' has no attribute 'fork'"
**Describe the bug**
Show ```AttributeError: module 'os' has no attribute 'fork'``` instead of printing the results.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Environment (please complete the following information):**
 - Device:  iPad Pro 11" gen 1
 - iOS version: iPadOS 13.5.1
 - App version 1.2.6 (5446)

[2020-06-24 21:43] navoshta commented on #175
Thanks for reporting @JaeungHyun — yep I do plan to add more themes to Juno apps in future, will make sure to include a few options. 🙂

[2020-06-24 21:47] navoshta commented on #176
Looks like Simplejson is, in fact, a pure Python package, or rather has an option to be installed as a pure Python package. Although this should be possible to do in Juno's package installer, currently it fails due to an unrelated error — I will update the issue title and will look into how this can be enabled.

Meanwhile, you should be able to install Simplejson manually: install on your desktop

[2020-06-24 22:02] navoshta commented on #177
Hi @Delta22627, I'll try to make the error a bit more user-friendly — however, I'm afraid you wouldn't be able to spawn new processes anyway, due to OS restrictions. Neither iOS nor iPadOS currently allows multi-processing.

[2020-06-24 22:02] #177 closed

[2020-06-25 09:40] navoshta commented on #171
@7points this should now be fixed in latest Juno beta (1.2.7) — ping me at beta@juno.sh if you're not on our TestFlight and would like to participate.

[2020-06-25 13:58] Sven-git opened #178 "Add regex"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

I would like to install nltk and all packages it depends on. Regex is one of those, but there might be others.

[2020-06-25 14:00] Sven-git opened #179 "Find word"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

A tool that allows the user to find a word in a text and puts the cursor there would be an essential programming tool.

[2020-06-25 14:02] Sven-git opened #180 "Debugger"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

A visual Python debugger or another easy way to debug would be very useful. Key features would be breakpoints, stepping through code and view

[2020-06-25 17:32] TomdeGraaf opened #181 "Working directory"
**Describe the bug**
Often, but not always, when I open an notebook file from a folder, and call on for instance other files that live in the same folder, the files are not found. Then when I change working dir to the same folder the notebook is in (which I think already WAS the working dir when I open the notebook there), everything works and files are found.

**To Reproduce**
Steps to reproduce

[2020-06-29 12:16] navoshta commented on #181
Thanks for reporting @TomdeGraaf — you are right that Juno should switch to notebook's directory as cwd automatically. To be precise, the logic is as follows:

1. If notebooks is opened for the first time, and is in a directory which Juno has access to, notebook's directory becomes notebook's cwd.
2. If notebooks is opened for the first time, and Juno _doesn't_ have access to the directory (say, y

[2020-06-30 00:18] sandeepmistry opened #182 "AWS SageMaker Notebook Support"
**Is your feature request related to a problem? Please describe.**
I'm currently using [AWS SageMaker Notebook](https://docs.aws.amazon.com/sagemaker/latest/dg/nbi.html), however I'm unable to use them with Juno Connect on my iPad.

I believe it's because the AWS SageMaker web console attempts to open the Jupyter notebook in a new window.

**Describe the solution you'd like**

The ability to use J

[2020-07-04 06:44] multinormal opened #183 "Add keyboard shortcut to run all cells"
While there is a keyboard shortcut for running the current cell, there does not appear to be one for running all cells (i.e., from first to last, sequentially). This would be incredibly useful for getting real work done.

I suggest the shortcut Command+Shift+R or Command+Option+R.

It may be sensible to add UI for this, too. For example, a long press on the run button could bring up a pop-up menu

[2020-07-04 13:31] dkirkby opened #184 "Juno sometimes crashes on launch"
Just installed Juno yesterday from the app store.

**Describe the bug**
When returning to an earlier Juno session, using the icon from the home screen, the program immediately exits and I am back at the home screen.  Touching the Juno icon a second time works and displays the correct nb but with a restarted kernel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new notebook
2. Execut

[2020-07-04 13:33] verde2006 opened #185 "Google Colab Jupyter Notebook"
**Describe the bug**
Unable to aaccess jupyter files as of July 3rd. See screenshot error message %

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Browse
2. Under Locations, select Google Drive
3. Once inside, click or find Colab folder
4. Select notebook

**Expected behavior**
I expected to at least open the file but cannot open any.
**Screenshots**
Attached

**Environment (please co

[2020-07-05 00:43] dkirkby commented on #184
A bit more info: I have experienced 2 crashes like this since I installed for the first time yesterday.  Both were after the iPad had been closed for a while, in addition to running other apps.

Here is an asciidoc of the nb I had open, in case that's relevant:
[code]

[2020-07-06 10:28] navoshta commented on #182
Thanks for reporting @sandeepmistry, I'll take a look — if it's something minor, I'll update the way Juno Connect handles new tabs/windows to support SageMaker, too (although we do have plans to integrate with SageMaker in a more user-friendly manner, eventually).

[2020-07-06 10:41] navoshta commented on #183
Thanks for reporting @multinormal — yep the keyboard shortcut is missing, but I'll add it. The UI you have described is already available in both Juno and Juno Connect. 😉 The pop-up menu will let you switch default run button action (e.g. run and select next, run all cells, etc.).

[2020-07-06 10:49] navoshta commented on #185
Unfortunately, this is due to Google Drive choosing _not_ to integrate with the iOS Files app in its file provider. Not much Juno can do on its side without them integrating from their end first, I'm afraid — see discussion here: https://github.com/rationalmatter/Juno-Issue-Tracker/issues/96 (I'll close this issue as a duplicate, as both are about Google Drive not letting Juno open .ipynb files).

[2020-07-06 10:49] #185 closed

[2020-07-06 10:57] navoshta commented on #184
Thanks for reporting @dkirkby! Looks like Juno is crashing when returning from background just before it gets suspended by the OS — I will look into this.

[2020-07-07 14:09] mohabouje opened #186 "Add cryptography"
I’m trying to install several packages from pip that rely on the cryptography package but somehow Juno does not allow me to install the package. It does mention that there is no supported distribution. I’ve tried several versions, no success so far.

Juno; 1.2.6
iPad Pro 2020

[2020-07-09 08:45] svjack opened #187 "Add script edit version of Juno Connect"
Your app is so perfect to perform remote coding to a jupyter server.
But when i want to write a complete project of myself, i can’t edit the script directly,
only i can do is use ipynb converter of jupyter or other packages to apply
the ipynb to script transformation.
Or i must use vim with some plugins to have code completion. it’s so awful.
Can you provide a script edit version of Juno Connect.