[2020-07-13 13:36] navoshta commented on #186
Thanks for reporting @mohabouje — cryptography has native extensions, which need to be ported to iOS and embedded in the app bundle, similar to what we did with NumPy, Pandas, Scipy etc. to get them to work. I'll change this issue labels to a package request.

[2020-07-13 13:38] navoshta commented on #186
Actually sorry, I just realised there is already an open ticket for `cryptography` package — see #111. I'll close this one as a duplicate.

[2020-07-13 13:38] #186 closed

[2020-07-13 13:46] navoshta commented on #187
Thanks for reporting @svjack — I'm assuming you are talking about text-based files support? If that's the case then there is already a ticket for it (see #46), and yes it's on the roadmap (although I don't have ETA, sorry). Let me know if it's the same feature request, and I'll close this issue as a duplicate. And apologies for inconvenience meanwhile, I understand that it woud be neat if you coul

[2020-07-13 13:58] TomdeGraaf commented on #58
Half a year later, I note that there is still no good R solution in iOS, and the only acceptable workaround - which was Azure Notebooks in Juno Connect, is ending soon since Azure Notebooks is ending soon.

So I'd like to put my vote in for R support!! I love the Juno interface and it would be great for R

[2020-07-13 14:19] argenismartinez opened #188 "Add **regex**"
**regex**
For nltk package to be imported successfully, regex python package needs to be available.

I have installed nltk package through Juno installer but when importing, I am getting a error stating that there is no regex module.

Steps to reproduce:
- Use Juno Package installer to install nltk
- Import nltk to a notebook
- Error message should show saying that there is no regex module

Regard

[2020-07-15 14:03] zekekoch commented on #188
just hit this one myself. thanks!

[2020-07-15 14:09] zekekoch opened #189 "Add **pyhive**"
**What is the name of the package?**
Hi, loving Juno so far.

I'd like to use presto and hive from 'pyhive'. presto seems to have a dependency on 'past.builtins' and hive has a dependency on 'thrift' (references from TCLIService). Neither of those packages will install (they might have c code in them).

[2020-07-17 12:25] thipokKub opened #190 "Add PIL"
Try to read jpg image using `matplotlib.pylot.imread` and got the following error thrown

[code]

[2020-07-18 18:24] risa opened #191 "Authorisation to Azure notebooks via institutional login"
When authorizing to Azure notebooks, I want to use my university Microsoft account. Into the login page I enter my university email (you can try e.g. somebody@upol.cz). I get redirected to the university page, which responds with HTTP 401 and expects the browser to raise a login dialog. Juno connect does not display this dialog, so the login is not possible.

**To Reproduce**
Steps to reproduce th

[2020-07-18 18:30] risa commented on #191
However I just found out that the Azure notebooks are being retired soon, so I do not know if it is worth solving anyway :-(

[2020-07-19 00:33] jmbenedetto commented on #160
+1

[2020-07-19 17:06] navoshta commented on #188
Yep thanks @zekekoch — I'll close this issue as a duplicate, feel free to upvote #178 instead.

[2020-07-19 17:06] #188 closed

[2020-07-19 17:11] navoshta commented on #189
Apologies @zekekoch, closed by accident — I may need to look into this. Not sure yet how portable are the packages that `pyhive` provides a Python interface for.

[2020-07-19 17:24] navoshta commented on #191
Thanks for reporting @risa — yes you are right, Azure Notebooks will get decomissioned soon, unfortunately... I'll look into this in case it's something easy to fix though. Meanwhile, I'd give CoCalc a go, or if your university is using Azure Notebooks specifically, let me know what they plan to switch to when AN are retired.

[2020-07-20 16:43] wb19529 opened #192 "Cannot open Jupyter extension files after iOS update 13.6"
**Describe the bug**
I cannot longer able to open Jupyter files (extension .IPYNB) after I upgraded iOS to version 13.6; the files can be locally saved on my iPad or on iCloud Drive, it doesn’t matter.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Juno for Jupyter
2. Tap on any file with extension .IPYNB, but all of them are dimmed (so, not able to tap on them).
3. No error, just fi

[2020-07-24 13:38] navoshta commented on #192
Hi @wb19529 — looks very odd! I have tried iOS 13.6 and iOS 14 beta, and it seems to be working fine on both. In fact, looks like in your case notebook file type association is broken entirely: there isn't even a Jupyter icon on the file, which Juno provides if the document type is associated with it — if you haven't already, try restarting device and re-installing Juno from scratch.

Have you ins

[2020-07-24 14:21] wb19529 commented on #192
Hi Alex:

	Yes, my issue was exactly the same as #55: I had the “Notebook Master for Jupyter” installed, but the funny thing is: I had that installed maybe like a year ago (way before I installed Juno, but it showed now, after iOS 13.6 update), but anyhow, that was my exact issue. I deleted the app, restarted the iPad, and now I’m able to see the Notebook files again, etc.

	Thanks again for your

[2020-07-27 01:39] Molin-L opened #193 "Code Completion UI Error"
**Describe the bug**
When I run the first line of code, the code completion panel pop at the left-top of notebook.

**To Reproduce**
Simply run the first code block.

**Expected behavior**
It should not appear.

**Screenshots**

![IMG_0151](https://user-images.githubusercontent.com/25400909/88495601-54ad6700-cfb2-11ea-9f58-024c6c56e2c7.png)

**Environment (please complete the following information

[2020-07-27 13:00] nipunbatra commented on #105
+1

[2020-07-27 14:39] navoshta commented on #192
Awesome — glad it's resolved!

[2020-07-27 14:39] #192 closed

[2020-07-28 13:11] navoshta commented on #176
This should now be fixed in Juno 1.2.8 — you should now be able to install `simplejson` via Juno's package installer, as well as other packages where native extensions are optional.

[2020-07-28 13:11] #176 closed

[2020-07-28 13:11] #171 closed

[2020-07-28 13:13] navoshta commented on #3
Juno 1.2.8 has been released to App Store — it now comes with Scikit-learn pre-installed. 🎉

[2020-07-28 13:13] #3 closed

[2020-07-28 15:01] nipunbatra commented on #61
Look forward to the multi-window support. Many thanks for the awesome work :)

[2020-07-28 15:01] nipunbatra commented on #61
Look forward to the multi-window support. Many thanks for the awesome work 🥇

[2020-07-29 07:51] dimapaloskin commented on #178
Seems it's possible to use a monkey patch to run `nltk`.
Not sure if this works in all cases but looks like basic operations works fine.

[code]

[code]

[code]

[code]

[code]

Of course  it's not the solution for this particular issue

[2020-07-29 08:44] kadaliao opened #194 "IndentationError"
Always get `IndentationError: unindent dose not match any outer indentation level`, and then I have to reinput those lines one by one, very frustrating.

I'm using iPad Pro with Magic Keyboard.

![image](https://user-images.githubusercontent.com/7401626/88778132-b2ac9b00-d1ba-11ea-8844-801407173904.png)

[2020-07-29 09:22] argenismartinez commented on #178
It's a workaround, but a pretty nice one. I will def try it out.

[2020-07-29 09:23] argenismartinez commented on #178
It's a workaround, but a pretty nice one. I will def try it out.

[2020-07-29 15:01] zekekoch commented on #194
I had the same problem on two lines.

[2020-07-29 15:09] zekekoch commented on #189
pyhive imports two packages that aren't supported (maybe for backwards compatibility with python2.

from past.builtins import basestring
from future.utils import with_metaclass

I replaced  future.utils with six (which also implements with_metaclass) and replaced a single line that used basestring with

        elif isinstance(obj, (str, unicode)):
            return self.escape_string(item)

I've

[2020-07-30 15:18] nipunbatra opened #195 "Add **FBProphet**"
FBProphet from Facebook is a very useful package. It depends on pystan and cython.

[2020-07-30 15:32] nipunbatra commented on #195
Closing as the request for FBProhet already exists.

[2020-07-30 15:32] #195 closed

[2020-07-31 02:17] tlockney opened #196 "Attempting to install iniconfig appears to work, but doesn't actually install"
**Describe the bug**
I'm trying to install iniconfig (in order to use PyTest), but despite the install appearing to work through the package manager, it never actually gets installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Install from PyPI menu
2. Enter 'iniconfig'
3. Click on 'install iniconfig 1.0.0'
4. Open Files.app and navigate to the Juno site-packages folder
5. Note th

[2020-07-31 14:08] navoshta commented on #193
Thanks for reporting @Molin-L, I will look into it! Does this happen on every notebook, or just this one, or maybe intermittently on various notebooks?

Either way it's a bug of course — notebook is in command mode and shouldn't display code completion at all.

[2020-07-31 14:51] navoshta commented on #194
Interesting — thanks for reporting @zekekoch and @kadaliao! From the screenshot it looks like the code is correctly indented. Do you see this with every notebook, or only with specific ones? Could you send me a notebook that shows this error by any chance? Perhaps there are some odd Unicode whitespace characters in it, or something like this.

[2020-07-31 14:58] navoshta commented on #196
Hi @tlockney — I've tried and it seems to install OK for me. Could you please try importing it, to verify it's indeed not installed, and not some bizarre Files caching issue? This package seems to only consist of a single `iniconfig.py` file btw, which should be placed as `site-packages/iniconfig.py`.

[2020-07-31 15:30] m-rossi opened #197 "External monitor support"
**Is your feature request related to a problem? Please describe.**
This is not a problem, just a feature suggestion.

**Describe the solution you'd like**
The opened notebook scales well on external monitors and AirPlay receivers and is useful for teaching and/or meetings.

This feature request applies to both Juno and Juno Connect.

[2020-07-31 16:33] Molin-L commented on #193
Hi Navoshta!

Yes, it happens in every notebook, not just this one. Especially `torch`, because there three options for code completion. I mean it may happen in any block as long as it triggers code completion.

Check this screen record on google drive:
[screen record](https://drive.google.com/file/d/1UYWybmOyzhMVxO8H7GrauNCLFUF7V9uj/view?usp=sharing)

Here are some tips for reproduction:
1. _Rest

[2020-08-02 06:42] kadaliao commented on #194
@navoshta I see it in every notebook, matter what its content is. Just like @zekekoch gets this problem with two lines code.

Seems like there is something is wrong with `<tab>` key and the auto indent stuff.

When I copy the content of the cell to other editors like 'Vim', it actually shows odd whitespaces.

By the way, my device and os:

- iPad Pro 2020, 12.9 ich
- iPadOS 13.6

I haven't used Ju

[2020-08-05 14:23] navoshta commented on #193
Thanks for the detailed info @Molin-L — looks like completion suggestions are arriving with a slight delay from the server's kernel, when notebook is already in command mode. Juno Connect should ignore those delayed suggestions, I'll fix this in the next update.

[2020-08-05 14:51] navoshta commented on #194
Thanks @kadaliao — yep, the problem is that the notebook has non-whitespace characters, which look like ordinary whitespace. More specifically, correct lines all consist of U+0020 (SPACE) characters, whereas the lines that Python is complaining about are, in fact, a combination of U+0020 (SPACE) and U+00A0 (NO-BREAK SPACE) characters.

Now we simply need to figure out how those non-breaking space

[2020-08-05 16:05] kadaliao commented on #194
@navoshta

It happens when I try to unindent by deleting spaces with `<Ctrl-h>` key combo.

[video screen capture](http://st.kada.ink/juno_unindent_demo.mp4)

I use Ctrl key almost everywhere..., please fix it :) 😂

[2020-08-06 00:19] kadaliao commented on #194
And also with the iPhone version Juno, you will get the Indent problem even if you are using `<delete>` key.

[2020-08-07 21:29] matthewcmead opened #198 "Recent Update Deleted Juno Folder / Reinstall Does not Correct This and Nothing Works"
**Describe the bug**
The recent update to Juno has resulted in my Juno folder on my iPad disappearing.  All notebooks have been lost.  All Juno files have been lost.  All manually installed pypi packages have been lost.  This is a huge loss of work and time.  I have recreated the Juno folder, at which point it shows up with the correct icon, but new notebooks cannot be created or executed.  I have

[2020-08-08 14:14] xandorlv opened #199 "Cannot install regex package"
**Describe the bug**
Search for regex in packages, try to install, get error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment

[2020-08-09 18:20] KaraRyougi commented on #109
It seems opencv-python 3.4.10.37 is on the package manager. However, I failed to install it. It says “Installation from source failed”.

[2020-08-10 20:28] antony-frolov opened #200 "Kernel not starting"
**Describe the bug**
A clear and concise description of what the bug is.
Was trying to open a file in a folder named in Russian and the Python kernel didn’t start

**To Reproduce**
Steps to reproduce the behavior:
1. Go to folder name in Russian
2. Tap on any ipython notebook
4. See kernel loading forever

**Expected behavior**
For the kernel to start

**Screenshots**
If applicable, add screenshot

[2020-08-11 15:01] navoshta commented on #198
Hi @matthewcmead — apologies you are experiencing this. Most likely this is an iOS glitch unfortunately, where Files app occasionally won't display some apps' folders (even though they are still safe and are in place). If you realise that Files app or file browser in Juno doesn't display "Juno" directory in your on-device storage, try restarting the device, which usually helps.

Upon updating the

[2020-08-11 15:42] navoshta commented on #194
Thanks for looking into this further @kadaliao — I managed to reproduce it, looks like a WebKit and/or CodeMirror issue. I will see how I can workaround this!

[2020-08-12 08:01] JoernBrauns opened #201 "Self-hosted CoCalc integration"
**Is your feature request related to a problem? Please describe.**
When using the official CoCalc integration, the projects are nicely displayed in a native list view. Also, the opening of a notebook directly enables the CoCalc Classical Juypter Notebook fallback.

When a self-hosted CoCalc instace is added in Juno Connect by "Add Jupyter Server", only a webview of the project list is displayed an

[2020-08-14 14:00] navoshta commented on #199
Thanks for reporting — closing this as a duplicate of #178 package request.

[2020-08-14 14:00] #199 closed

[2020-08-14 14:04] navoshta commented on #109
@KaraRyougi Yep, package installer shows all packages that are available on PyPI — although you won't be able to install those with native extensions. Unfortunately, there is no reliable way to tell if a package has native extensions, apart from downloading and attempting to install, this is why Juno can't simply filter out incompatible packages automatically.

[2020-08-15 01:26] lmatute opened #202 "Add QuantLib"
Would be ideal to also  QuantLib module available

[2020-08-18 15:02] navoshta commented on #200
Thanks for reporting @antony-frolov, I will take a look! Most likely this is related to how Jupyter handles file paths. I'm pretty sure I've tried it with non-English Unicode characters before, and it seemed to work... Perhaps something changed in iOS 14 — I will investigate.

[2020-08-18 15:30] navoshta commented on #201
Hi @JoernBrauns — that's an interesting use case, thanks for reporting! You won't be able to do this right now I'm afraid: Juno Connect is using CoCalc API to access projects and launch projects, and I'm not sure if it is at all available in self-hosted CoCalc instances. If it is, and if there is a significant demand for this, we should be able to find a way to allow adding a self-hosted CoCalc se

[2020-08-18 15:48] navoshta commented on #202
Thanks for reporting @lmatute — I'm assuming you mean Juno, not Juno Connect? I will convert this issue to a package request.

[2020-08-18 16:47] lmatute commented on #202
Yes, Juno

Luis

[2020-08-21 16:16] ghost opened #203 "Add pyreadstat"
**Describe the bug**
pyreadstat is a simple package with no dependencies other than pandas itself, and it ‘claims’ to be available. Yet installation of any version of it fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'install package'
2. type pyreadstat and try to install
4. See error

**Expected behavior**
Installation of package so I can read SPSS file (.sav)

**Screenshots**

[2020-08-24 22:54] navoshta commented on #203
Thanks for reporting @TomdeGraaf, `pyreadstat` seems to have native extensions, so it needs to be ported and embedded in the app binary — I will change this issue to package request.

The reason Juno claims it's available is because `pyreadstat` has a source distribution, alongside wheels for specific platforms. Unfortunately, there is no reliable way to tell if a package has native extensions, ap

[2020-09-01 05:16] jayweiler commented on #86
Just curious if this integration is still on the roadmap? Thanks!

[2020-09-02 00:12] xxsl opened #204 "Local port forwarding insecure exposing jupyter notebook port"
**Describe the bug**
I found that if I use the Local port forwarding, iPhone will listen a new port (in my case 49831) on 0.0.0.0 and forward all traffic to jupyter server port (default 8888).

This behavior will be a big security hole as most of time user mobile phone will be in WiFi lan (Also in some country mobile provider even give each 4G link a dedicated public ip !), bad guy can then connec

[2020-09-10 16:36] navoshta commented on #204
Apologies for a late reply @xxsl — thanks for reporting, this will be fixed in the next release. Yes, Juno Connect binds a random available port while establishing a tunnel, and looks like the library we are using binds on `0.0.0.0` by default (which is quite surprising, frankly). Once again, thanks for reporting!

[2020-09-10 17:43] navoshta commented on #86
@jayweiler Yep, certainly — although I still don't have ETA I'm afraid. There are a number of other features we planned for Juno Connect first, but when we get to adding new integrations, Paperspace will likely be the first one we will look into.

[2020-09-11 07:41] NawfalTachfine commented on #172
I changed my setup so I cannot reproduce this anymore. Thanks!

[2020-09-11 07:41] #172 closed

[2020-09-12 18:05] navoshta commented on #204
This should be fixed in Juno Connect 1.5.11, which is now live on App Store.

[2020-09-12 18:05] #204 closed

[2020-09-16 07:19] sjcorp commented on #11
I tried running pip freeze > requirements.txt and it gave me an error saying 'shell commands are restricted'. This is a fairly basic requirement, in order to deploy the notebook, say on Heroku. Can you please consider adding this feature. Thanks.

[2020-09-17 12:25] navoshta commented on #11
Yep, thanks for reporting @sjcorp — sounds like it's more the case of missing `pip` rather than shell commands in general.

[2020-09-19 16:04] SanderPaekivi opened #205 "Error installing package Gensim"
I am having a blast using Juno - its truly great stuff, lets me run full on machine learning even, on the tablet! Just had to add this cheer for the devs.

The problem i encountered however is related to downloading one specific package: “gensim”. It fails to install it, even older versions of it. Other packages i have needed were installed smoothly.

To reproduce:
0. I open my jupyter file,
1. i

[2020-09-24 12:45] navoshta commented on #205
Looks like gensim has native extensions, and therefore needs to be ported first, and then embedded into the Juno bundle (similar to NumPy, SciPy, etc.) — I will update this issue type to a "package request". Thanks for reporting!

[2020-09-26 13:26] MarcoLeder opened #206 "Bokeh library"
Dear Juno devs

Nice app, however, I am not able to install bokeh 2.x.x library.

This should however work, since I was able to install it in Pythonista3 (which indicates that it is a pure-python library).

As far as I am concerned, the error lies in the pillow imaging library.

Thank you for taking the time to solve this
Best, Marco Leder

[2020-09-27 07:59] MarcoLeder commented on #175
Hello - I also have something which would fit in:

Is it possible to have the same code marking (like the colors) as when opening Jupyter in the webbrowser? I have gotten quite used to the look and now with Juno Connect I am not able to tell commands and arguments appart as good as when using the Webbrowser. Could you please enable this option so it just takes over the colorsheme 1:1?

Best regard

[2020-09-30 10:33] navoshta commented on #206
Hi @MarcoLeder — yep, looks like it has a dependency on Pillow, which has native extensions and needs to be ported first. There is already a ticket for it #190, so most likely when it's resolved, bokeh should just start working right away. I'll keep this issue open for now, just in case.

I don't have any ETA for PIL (#190) I'm afraid, but we will likely start looking into it shortly after we incl

[2020-09-30 10:53] navoshta commented on #175
@MarcoLeder Yep I agree that when theme support is added, a default Jupyter colour scheme should be an option.

[2020-09-30 21:11] Ishanthecoder commented on #11
I was trying to follow along with a lab and needed to install these (i just pasted the code below). Juno says "Shell commands are disabled in Juno" when i try to run it, any work around?

!pip install lenskit
!pip install -U numba

import lenskit.datasets as ds
import pandas as pd

!git clone https://github.com/chrash-course-ai/lab4-recommender-systems.git
data = ds.MovieLens('lab4-recommender-sys

[2020-10-04 21:33] navoshta commented on #11
@Ishanthecoder Looks like the commands are trying to install lenskit and numba packages. Unfortunately, those either have native extensions, or depend on packages with native extensions, so you won't be able to install them due to OS restrictions, I'm afraid. To make those available in Juno, we may need to port them and embed in the app binary — please, submit package requests for the packages tha

[2020-10-05 07:30] simondamkjaer commented on #66
+1

[2020-10-08 18:15] jplasser opened #207 "When I switch from another app to Juno always get to see the „Juno-hourglass“."
**Describe the bug**
Switching from another app to Juno one has to wait before Juno gets productive. It displays the Juno hourglass (whatever this is called).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Juno and a Notebook, run some cells
2. Switch to another app(s), do something
3. Switch back to Juno after some time
4. See the "hourglass" and wait before Juno opens the Notebook

*

[2020-10-14 18:33] navoshta commented on #207
Hi @jplasser — I'm afraid this is due to how iOS treats 3rd party apps in general (see #48 and #83, for example). In short, OS only lets 3rd party apps like Juno remain in background for a little bit, suspending them after some (brief) period. When Juno is back on screen, it will try to do its best to restore your context back to where it was. I understand it's not ideal, and we're hoping to impro

[2020-10-14 19:11] jplasser commented on #207
Thanks for your answer! Let's hope iOS/Apple change this in future.
Juno is one of my favorite apps!

[2020-10-15 12:04] odie2630463 opened #208 "Plotly can't work in Juno Connect"
Hi Juno dev

Plotly can work on safari with my iPad Pro , but can't draw plot in Juno Connect
Hope can fix it , thanks a lot

**Environment (please complete the following information):**
 - Device: iPad Pro 12.9
 - iOS version: iOS 14.2
 - App version: latest

[2020-10-15 14:40] odie2630463 commented on #208
Hi , all
I fixed this problem by change render on iPad Pro

[code]

[2020-10-16 00:03] muammar opened #209 "Failed to display notebook"
**Describe the bug**
Any time I try to open a notebook (or create one), I receive an error: `Failed to display notebook`.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a server.
2. Tap on existing notebook or create a new one.
3. Juno connect reports `Failed to display notebook`.

**Expected behavior**
Reder a notebook to interact with.

**Environment (please complete the follow

[2020-10-16 00:50] muammar commented on #209
JFTR, I just verified I had the certificate correctly installed on my iPad. I can confirm that I can interact with the notebook on the Safari web browser.

[2020-10-16 01:13] muammar commented on #209
I fixed it; after verifying that the certificate was correctly installed, I found this error on my server:

[code]

After a ` pip install nbconvert`And cleaning the cache of the connection, the problem got fixed.

[2020-10-16 01:13] #209 closed

[2020-10-16 15:33] navoshta commented on #207
Thanks @jplasser 😇 — I'll close this issue for now, but feel free to reopen or create a new one if you realise Juno doesn't restore its context when it should, for example.

[2020-10-16 15:33] #207 closed

[2020-10-16 15:52] navoshta commented on #208
Great, glad you worked it out @odie2630463 — this does indeed look like a plotly configuration issue. I'll close the issue for now. 🙂

[2020-10-16 15:52] #208 closed

[2020-10-16 15:53] navoshta commented on #209
Great! Glad you fixed it @muammar 🙂

[2020-10-23 10:38] Cybergloker opened #210 "Add **XGBoost**"
Could you please integrate the XGBoost library to Juno?
https://xgboost.readthedocs.io/en/latest/python/index.html

This is not pure python library so I can not include it by myself.
This library is needed for popular learning course named Python for Data Analysis.
I’m learning it using your tool.

[2020-10-23 12:20] craldaz opened #211 "How to delete Jupyter servers?"
I’m not sure if this is a bug because just starting with Juno connect.

But  I created a bunch of Jupyter servers to try to get it to connect and now I can’t figure out how to delete the ones that were bad.

Your help is appreciated.

[2020-10-23 15:02] navoshta commented on #211
Hi @craldaz — you should be able to delete/edit connections if you swipe left on the item in the list of servers. I'll think of a way to make this a bit more intuitive (or perhaps at least mention this in the FAQ!).

[2020-10-24 09:04] fasfcastro opened #212 "CoolProp - Fluid Properties"
**Describe the bug**
The installation of the Coolprop module is successful but then Juno does not recognise the module when trying to load it.

**To Reproduce**
Steps to reproduce the behavior:
1. install CoolProp module
2. load module using "from CoolProp.CoolProp import *"
4. See error

**Expected behavior**
Recognise the module

**Screenshots**
If applicable, add screenshots or a screen recordi

[2020-10-25 05:32] mmymoney opened #213 "Package installer is not present for use"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (ple

[2020-10-25 17:44] navoshta commented on #212
Thanks for reporting @fasfcastro — looks like CoolProp is not a pure Python package and has native extensions, so it needs to be ported, rebuilt and embedded in the app binary. I've updated this issue so that it's a package request.

[2020-10-26 20:53] craldaz commented on #211
Thank you! It works :)

[2020-10-26 20:53] #211 closed

[2020-10-28 03:48] christopherseaman opened #214 "Add google-cloud-bigquery"
Requesting support or inclusion of `google-cloud-bigquery[pandas]`

The google-cloud-bigquery package does not successfully load using `%load_ext google.cloud.bigquery` or `from google.cloud import bigquery` even when all dependencies are present in site-packages bc it depends on a newer version of six than included in Juno. There may be a workaround for this using `require`, but I couldn't convin

[2020-10-28 17:08] craldaz commented on #181
Hi @navoshta I'm a new user to Juno, I'm working on an iPad Pro 12.9 Inch 2020. Just to be clear -- Juno should be able to run from other directories like Dropbox, ICloud, etc?

Because if that is so then I can't get it to work. When I type os.getcwd() in a notebook running on Dropbox or anywhere else, it always give /private/var/mobile/Containers/Data/Application/FB.../Caches

What is the meaning

[2020-10-30 15:57] navoshta commented on #213
Apologies @mmymoney, I'm not sure I understand what is exactly the issue with the package installer. Could you please explain further? Perhaps you have a screenshot of what exactly doesn't work as you expect?

[2020-10-30 16:23] navoshta commented on #214
Thanks for reporting @christopherseaman — am I correct assuming that the outdated version of `six` is the only issue that prevents `google-cloud-bigquery` from getting imported correctly?

I'll certainly try to upgrade it in next release (hopefully there won't be any dependency issues with Jupyter or Juno internals). Meanwhile, I'm not sure myself how you could force Python to use the one in /site

[2020-10-30 16:36] navoshta commented on #181
Yes, but you need to explicitly grant access to those directories (or anything outside of app's sandbox) by tapping the "lock" button in the top bar. Also, some cloud storage providers will not support this — e.g. Dropbox, although iCloud should work fine.

Yep, this is means Juno couldn't get access to notebook's directory, and had to set your cwd to a fallback value (`/Temp`).

Yes, opening note

[2020-10-30 17:35] caseydierking opened #215 "Add Pymongo"
**pymongo**
Humbly requesting that pymongo be installed. https://pypi.org/project/pymongo/. It would make it possible to interact with mongodb databases from my phone. Allowing my phone to be an extension of my computer when it comes to running script.s

[2020-10-31 04:43] christopherseaman commented on #214
Thanks for the quick response.

I'll admit that I haven't run down the list of deps to see what else may need to be upgraded. Obviously, if you can get either of those load statements running without error, that'd be a great start. I installed a working set of site-packages on Ubuntu 18.04 (closest match to Juno versions I could find) and put it in the cloud to make it easier to get onto the iPad;

[2020-11-01 01:10] dhruvmittal opened #216 "Juno connect moves blocks in and out of screen as I type"
**Describe the bug**
Blocks in notbook move on and off screen for each character typed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any jupyter notebook
2. Tap on a block
3. Try to type
4. See error

**Expected behavior**
I expect the block to remain onscreen as I type.

**Screenshots**

https://imgur.com/a/X5EP20T

**Environment (please complete the following information):**
 - De

[2020-11-05 08:29] method-marco opened #217 "Help functions not working"
**Describe the bug**
The help() function is not working correctly. Sometimes the output is not shown.

**To Reproduce**
Execute:
	help(abs)

**Expected behavior**
Prints the help for the abs function

**Environment (please complete the following information):**
 - Device: iPad Pro 12" 2020
 - iOS version: iOS 14

[2020-11-06 16:40] navoshta commented on #214
No worries @christopherseaman — I'll add an internal task to update `six` and will leave this issue as is for now.

Also, I've tried to prepare a environment.yml file with the packages that come with Juno pre-installed — perhaps you will find it useful. It lists `pip`, which is in fact not available in Juno, but only because some packages are not available in `conda`, so you would need `pip` to pr

[2020-11-06 16:42] navoshta commented on #216
Thanks for reporting @dhruvmittal — looks like a bug in auto-scrolling, I will look into it.

[2020-11-06 16:47] navoshta opened #218 "Add SfePy"
https://github.com/sfepy/sfepy
https://sfepy.org/doc-devel/index.html

[2020-11-06 16:53] navoshta commented on #217
Thanks for reporting @method-marco — I'm assuming this is for Juno, not Juno Connect? Could be something with how we embed those modules then.

[2020-11-06 17:08] method-marco commented on #217
Yes, it’s with Juno and not with Juno Connect. I can reproduce it with builtins and other imports.

[2020-11-18 05:02] christopherseaman commented on #214
Started from a clean slate and used your environment.yml. Looks like `six` was the only package with a version conflict (1.12 → 1.15, but 1.13 should suffice).

[code]

[2020-11-22 14:48] ozsilahtar opened #219 "Ipynb files are grayed out. I tried everything on your forums but it does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (ple

[2020-11-22 15:21] navoshta commented on #219
Hi @ozsilahtar, you probably saw this already, but just in case please take a look at #55 — perhaps you have another app installed, which is abusing iOS file association? A likely candidate is [Notebook Master](https://apps.apple.com/app/id1326802832).

[2020-11-22 15:56] navoshta commented on #214
Thanks for checking @christopherseaman — I'll make sure to update `six` in the next Juno release. I don't have any ETA for it I'm afraid, but hopefully it will arrive in a matter of weeks alongside LXML addition to Juno.

[2020-11-27 11:19] Hans0124SG opened #220 "Unable to connect to remote Jupyter Lab server"
I just purchased Juno Connect and trying to connect to the remote server in my university. I am connecting to my school’s VPN and am able to ssh into the server via Terminus. However, when I try to connect to the Jupyter Lab server, I get the below message:
<img width="678" alt="PNG image" src="https://user-images.githubusercontent.com/18539093/100443754-3f258680-30e5-11eb-92ba-c6492b769129.png">

[2020-11-28 13:42] rg2212 opened #221 "Scikit-surprise"
Scikit-surprise

[2020-11-30 16:00] navoshta commented on #221
Thanks for reporting — I'll leave this open for now, although it seems that it _should_ work as is. Installation in Juno fails, because `setup.py` attempts to install NumPy for some reason (even though compatible version of NumPy is already available in Juno) — and that's where it fails. I would try installing manually, by copying Python source to `/site-packages`.

[2020-11-30 16:12] navoshta commented on #220
Hi @Hans0124SG — can you check if there are any messages in Jupyter console, if you have access to it?

It looks like Juno Connect is trying to load an HTTPS address rather than HTTP, which is the default for port forwarding connections. When you typically connect to this server on desktop, which address do you use in your browser after SSH tunnel is established? Is it `http://localhost:8000`, or

[2020-12-01 01:55] Hans0124SG commented on #220
I use http://localhost:8000. Sorry I don't have the access to the Jupyter console.

[2020-12-01 02:20] #220 closed

[2020-12-02 14:19] navoshta commented on #220
Hope you got it resolved @Hans0124SG — alternatively, feel free to reach out to help@juno.sh, and I'll try to assist further.

[2020-12-02 14:20] Hans0124SG commented on #220
Dear Alex,

Yeah I have got it solved, it was to due the server issue. Thanks a lot!

Best Regards,
Wang Han
On 2 Dec 2020, 10:20 PM +0800, Alex Staravoitau <notifications@github.com>, wrote:

[2020-12-08 14:16] svjack opened #222 "Ngrok colab connection not passd"
I use colab-ssh to establish a ssh connection with google colab,
and can register to remote colab docker linux cmd
and i install jupyter lab to establish a notebook server.
but i can’t reach the location in juno connect
and jupyter lab receive request successfully as the pics
describe

![B797A483-CE01-479D-A4ED-445A167DAA9A](https://user-images.githubusercontent.com/27874014/101494860-d1117700-39a

[2020-12-13 12:07] kappesLab opened #223 "Text alignment in markdown tables"
**Describe the bug**
Text inside cells of markdown tables is not aligned according to the chosen settings

**To Reproduce**
Insert under the header of the table for example the following line:
:—- |:—-: |:—-
does not produce the expected results.

**Expected behavior**
The first of the table should have the text aligned to the left, the middle column aligned to the center and the third aligned to

[2020-12-13 12:40] kappesLab opened #224 "Enable Split View mode"
I would like to have the possibility to view both Juno and Safari on iPad at the same time.

This would be very useful in order to make full and optimal use of Juno's (Jupiter's) extraordinary capabilities.

[2020-12-14 17:50] navoshta commented on #222
Apologies for a late reply @svjack — I'm not familiar with colab-ssh, is your server operating with a standard Jupyter frontend, or is it using something modified, i.e. something like Google's Colaboratory UI? Can you access it in Safari using the same address?

Juno Connect works with JupyterLab in compatibility mode, which means that whenever it detects that it's connecting to JupyterLab, it tri

[2020-12-14 17:52] navoshta commented on #224
Hi @kappesLab, this should be possible in both Juno and Juno Connect — both apps support iPadOS's split screen mode. Please, reopen and let me know if I misunderstood your request, or if it's not working for you.

[2020-12-14 17:52] #224 closed

[2020-12-14 18:00] navoshta commented on #223
Thanks for reporting @kappesLab — looks like it's a bug of a particular version of Jupyter Notebook that Juno embeds, and is fixed in recent releases. I will see if it can be upgraded in Juno, too.

[2020-12-15 06:28] kappesLab commented on #224
Thank you for the quick response. You did not misunderstand, it was my mistake. It confirms that the Split View works.

[2020-12-19 05:54] gra88hopper opened #225 "Package installation issues"
**Describe the bug**
(Please keep in mind I’m a beginner in python so I’ll try to describe best I can. Thanks)
1.Every time I open the file the urilib3 and chardet packages need re install or else they are not recognized (tho I installed them countless times). Didn’t notice this issue with other packages.
2. I can install the package afterhours from package search but it’s not REALLY installing. I

[2020-12-26 13:56] jfield12050 opened #226 "Turtle 🐢 Import"
**Describe the bug**
A clear and concise description of what the bug is.
The turtle 🐢 module cannot be imported.

**To Reproduce**
Steps to reproduce the behavior:
1. import turtle

**Expected behavior**
A clear and concise description of what you expected to happen.
So just work like basic Python.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

[2020-12-28 19:32] hschellman opened #227 "Editable configurations"
**Is your feature request related to a problem? Please describe.**
I just started using juno connect and so far have created 3 profiles trying to connect to my server.  There seems to be no way to view or edit a profile (port connection) once it is set up.  Not being able to even view  what failed means I keep repeating mistakes

**Describe the solution you'd like**

I’d like a way to view the con

[2020-12-29 00:52] M3SHack opened #228 "When I try to open a new document my iPad is not able to do so."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (ple

[2020-12-29 00:55] M3SHack opened #229 "I get a prompt saying:"
Failed to open notebook
The operation couldn't be completed. (Com.apple.DocumentManager error 1.)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If

[2020-12-29 01:36] #193 closed

[2020-12-31 15:34] navoshta commented on #225
Thanks for reporting @gra88hopper and apologies for a late reply, a couple of follow-up questions:

What do you mean exactly by not recognized: does importing them in a notebook give you an error? Does it go away after you re-install?

Can you import it in a notebook successfully? Or is it giving you some kind of error?

This seems like a separate issue not related to installing, but I'll take a l

[2020-12-31 15:36] navoshta commented on #226
Hi @jfield12050 — based on the app version I'm assuming you mean Juno, not Juno Connect, so I updated the labels.

Looks like Turtle is based on Tkinter. Tkinter is not available for iOS, and porting it won't be easy either: it's a desktop UI framework, which relies on desktop interactions and interface components. Those will be hard to translate to iOS and touch screens. For Jupyter, I usually re

[2020-12-31 15:38] navoshta commented on #227
Hi @hschellman — you should be able to edit or delete existing configurations by swiping it in the list, swipe will reveal available actions (e.g. edit, delete or disconnect active SSH tunnel).

[2020-12-31 15:40] navoshta commented on #228
Thanks for reporting @M3SHack — what is exactly the problem? Does it give you an error, or what exactly happens? Are you trying to create a new document from Juno's file browser, in Juno's directory, or somewhere else?

[2020-12-31 15:41] navoshta commented on #229
Hi @M3SHack — is this related to the issue you submitted earlier, #228, or is it a separate one?

[2020-12-31 16:21] gra88hopper commented on #225
Hey thanks for reply

Thing is it’s installed all the other packages without me getting the error of them nit existed.

With urlib3 and chardet I need to re-install every time I open it. Otherwise I get the error.

Apparently after hours package was abandoned so that’s probably why it’s not working.

And the freeze loading screen happens after I minimize it to use the browser or discord and try to

[2021-01-01 14:31] M3SHack commented on #228
I am able to create a new document, but once it is made it grays out and will not allow me to do anything with it. Furthermore, once the file is made a pop up will appear stating that the file can not be opened.

[2021-01-01 19:37] #228 closed

[2021-01-01 19:38] #229 closed

[2021-01-05 21:20] MrJaba opened #230 "Juno App Crashing"
**Describe the bug**
Juno Crashing, and also an incident of hanging.
I've had Juno crash about 5 times in 2 days of use in different scenarios.

Scenario 1: Outright crash. The application has been moved from a background app to a foreground app in split screen mode with Apple Books. This has caused a crash twice, and a complete hang once (app had to be killed and then restarted). I've noticed tha

[2021-01-06 13:10] jfield12050 commented on #226
Thanks

From: Alex Staravoitau <notifications@github.com>
Sent: Thursday, December 31, 2020 10:37 AM
To: rationalmatter/Juno-Issue-Tracker <Juno-Issue-Tracker@noreply.github.com>
Cc: Field, James (US) <James.Field@L3Harris.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [rationalmatter/Juno-Issue-Tracker] Turtle 🐢 Import (#226)

Hi @jfield12050<https://github.com/jfield12050> —

[2021-01-06 14:33] kar-man opened #231 "App keeps loading forever"
App keep refreshing after minimizing

**To Reproduce**
Steps to reproduce the behavior:
1. Minimize Juno app
2. Wait for few seconds
3. Open Juno app
4. App takes significant amount of time in refreshing

[2021-01-06 14:34] kar-man opened #232 "Add **fbprophet**"
https://facebook.github.io/prophet/docs/quick_start.html

[2021-01-06 14:52] digitaldust opened #233 "cannot open ipynb files"
I have some ipynb files on google drvie that I open and modify using VSCode on my macbook. When I try to access them from Juno, all I see is a greyed file without any icon, and Juno won't open it.

I don't have any other programming app on my iPad.

I am running an iPad Pro 4 gen, with iOS 14.2

[2021-01-06 17:53] digitaldust commented on #233
It might be related to issues with Google Drive, I cannot create notebook from Juno when I am in Drive, I get the error below:

Fail to open notebook
The operation couldn’t be completed.
(com.apple.DocumentManager error 1)

[2021-01-08 17:22] navoshta commented on #225
Hmm that's odd — I've tried installing and importing urllib3, and it seems to be working fine without reinstalling every time. Could you please share the error you are getting? Are you installing it via package installer, i.e. searching for "urllib3"? If you go to the /site-packages directory, do you see the urllib3 sources there?

[2021-01-08 17:24] navoshta commented on #231
Hi @kar-man — I'm afraid this is due to how iOS treats 3rd party apps in general (see #48 and #83, for example). In short, OS only lets 3rd party apps like Juno remain in background for a little bit, suspending them after some (brief) period. When Juno is back on screen, it will try to do its best to restore your context back to where it was. I understand it's not ideal, and we're hoping to improv

[2021-01-08 17:30] navoshta commented on #233
Hi @digitaldust — yes looks like Google Drive doesn't integrate well with the iOS's Files app, and for some reason doesn't let 3rd party apps edit .ipynb file format. I'll close this issue as a duplicate of #96, as this also seems to be Google Drive related.

Ideally, Google would fix this in their iOS integration, but I do plan to look into alternative approaches as well (as there are other, even

[2021-01-08 17:30] #233 closed

[2021-01-08 17:31] navoshta commented on #230
Thank you for the detailed steps @MrJaba, this is very helpful! I will need to look a bit closer into this, thanks for reporting.

[2021-01-09 07:32] kar-man commented on #231
Yes, most of the times it restores to the last session. But sometimes it keeps loading forever. Need to quit and reopen. I didn't see such issues with apps like Carnet or Pythonista 3 etc. Anyway if possible please fix these issue. Thanks

[2021-01-10 17:18] navoshta commented on #231
Thanks for reporting @kar-man — yep I've received a couple of similar reports regarding Juno getting stuck on loading, and will look into this. I can't find a relevant open GitHub issue, so will leave this one open and will edit the title.

[2021-01-11 05:10] vphadke96 commented on #11
I’m having trouble with installing pytorch. Any suggestions for the same?

[2021-01-11 11:34] navoshta commented on #11
@vphadke96 You can't install pytorch I'm afraid, but there is a package request for it already: #35

[2021-01-20 22:12] talexxx opened #234 "Juno shows empty docstring"
**Describe the bug**
I would expect to get the docstring for python functions when pressing "shift+tab", instead the docstring window pops up but it is empty. This is a key functionality for me. Looking for feedback if this is something that can be fixed or it is not planned...

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new notebook in Juno
2. write print(3)
3. move cursor betwee

[2021-01-22 06:17] campmans opened #235 "Inserting words with swiping on GBoard iOS not working"
In the browser it is possible to insert swiped words. In Juno Connect only the first letter appears.

[2021-01-22 11:52] navoshta commented on #234
Thanks for reporting @talexxx, I will look into this — this is probably related to #217, too.

[2021-01-28 09:34] navoshta commented on #235
Thanks for reporting @campmans — you are right, looks like QuickPath is not working either. I'll look into this.

[2021-01-31 10:02] JonGretar commented on #58
Would love for this to become a feature one day.
I believe R has now been ported to arm.

[2021-02-04 01:56] pumplerod opened #236 "Side panel for servers does not close."
**Describe the bug**
I can no longer get a full window of my Jupyter session.  The left side panel showing optional servers to connect with always remains open.  Is there a way to close that?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to local jupyter server
2. The side panel does not go away

**Expected behavior**
I expect, once I’m connected that the side panel for server options w

[2021-02-05 01:20] sprague252 opened #237 "Add requests"
The `requests` package is an HTTP library with much of the functionality of curl. According to the documentation, it was once included in a python runtime app for iOS. Right now, it is not possible to install requests on Juno because it requires the `cryptography` package, which is not supported on Juno.

https://requests.readthedocs.io/en/master/

[2021-02-05 17:19] navoshta commented on #236
Thanks for reporting @pumplerod — does the panel remain open even when you edit a notebook? The left panel should remain visible in file browser only, and only if there is enough space for it (e.g. it will collapse on iPhone, or if you open Juno Connect in split-screen mode).

[2021-02-05 17:22] navoshta commented on #237
@sprague252 We are planning to add `cryptography` soon regardless, but it seems to be optional when installing `requests`. Did you try installing it in Juno, and it gave you an error? Or did you get an error when you tried to import the installed module, or something like that?

<img width="565" alt="Screenshot 2021-02-05 at 17 21 16" src="https://user-images.githubusercontent.com/1111935/10706702

[2021-02-05 19:37] sprague252 commented on #237
I was not aware that cryptography was optional. Sorry. I was installing the requests dependencies and stopped when cryptography was not available. Regardless, you should consider making requests one of the built-in packages.

I will try installing requests without cryptography and let you know.

[2021-02-07 04:11] sprague252 commented on #237
I was able to install requests without the cryptography module, and it works fine for my purposes. Thanks for your help.

[2021-02-07 04:11] #237 closed

[2021-02-08 09:14] harveydov commented on #115
This would be a huge one for me. Look forward to this. Keep up the good work. Thanks

[2021-02-08 09:28] harveydov opened #238 "Azure Notebooks option missing"
**Describe the bug**
In the main sidebar, I only see three cloud computing options, Azure notebooks is not one of them. Inside the settings, under ‘Hide Cloud Services’ Azure notebooks appears and is not ticked.

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall and Re-Install app (optional but tried)
2. Open the app

**Expected behavior**
Four options should be displayed as per scree

[2021-02-11 03:11] kar-man opened #239 "Can’t change NotebookApp.iopub_data_rate_limit"
NotebookApp.iopub_data_rate_limit

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

**To Reproduce**

When I run large data set

**Expected behavior**
Should be able to change the limit.

**Screenshots**
![image](https://user-images.gi

[2021-02-12 16:31] navoshta commented on #237
Glad you managed to install it @sprague252 — the idea is to ship Juno with as few pre-installed packages as possible, because pre-installed packages can not be upgraded/downgraded currently. So if a package can be installed without issues via package installer, I'd rather let the user install it and choose whichever version they want. But I do have plans to improve this by suggesting to install co

[2021-02-12 16:34] navoshta commented on #238
Apologies @harveydov, I may need to update screenshots on the website — Azure Notebook has been discontinued by Microsoft, and is no longer available (neither in Juno Connect, nor on desktop), so I had to disable it in the app. I'll also clean up remaining references to Azure Notebooks in the app, thanks for reporting.

[2021-02-12 16:34] #238 closed

[2021-02-12 16:37] navoshta commented on #239
Thanks for reporting @kar-man, I will look into this! Do you have any idea how big of a dataset it should be for me to reproduce the issue? Perhaps you can think of some publicly available dataset that I can try?

Also, what exactly where you trying to do with it — print the dataset in cell output, or simply manipulate it? I suppose this shouldn't be an issue if you're just working with the datase

[2021-02-12 17:36] sprague252 commented on #237
Thanks again! It is working without any issues for my purposes.

[2021-02-12 21:52] Dolamitex opened #240 "App won’t load imported filled"
![9ADBF0A5-A8DF-48D8-B4A3-5BB20CFD5E0C](https://user-images.githubusercontent.com/78985642/107826103-5d844100-6d28-11eb-9202-c54d8d65c9db.png)

iPhone 12 pro iOS 14.5 beta with no other jupyter apps. When I try to open the file whether from iCloud or from my phone it displays a loading ring and then stalls until I close and reopen the app. I tried re installing and no luck.

[2021-02-13 14:34] harveydov commented on #238
Thanks for the clarification @navoshta

[2021-02-16 11:38] navoshta commented on #240
Thanks for reporting @Dolamitex — does it mean that you can't open _any_ notebooks at all? Or do they still work in some locations? Does it work if you just create a new notebook, instead of opening a new one?

Looks like Jupyter runtime is running OK, but it fails to load notebook editor, which is odd and something I haven't seen anywhere yet (I've tried 14.5 beta, too). Do you have anything in y

[2021-02-16 18:49] jjay0258 commented on #182
what is the progress on this issue?

[2021-02-19 13:18] navoshta commented on #182
Apologies @jjay0258, I didn't get a chance to look into this yet. Porting more libraries to Juno is the main priority right now, although we do work on some Juno Connect specific features as well in the meantime.

[2021-02-20 18:18] navoshta commented on #66
LXML is now available in a TestFlight build for Juno 1.3.0 — if anyone would like to help test it, please reach out to beta@juno.sh, and I'll add you to our beta list. 😉

Thanks everyone for your patience!

[2021-02-20 18:20] navoshta commented on #200
@antony-frolov This should now be fixed in the most recent beta build, Juno 1.3.0 on TestFlight. If you're not on our TestFlight and would like to help test Juno, please ping me at beta@juno.sh, and I'll add you to our beta list. 😉

[2021-02-20 18:21] navoshta commented on #214
Apologies it took a while @christopherseaman — I've updated `six` in the most recent beta build, Juno 1.3.0 on TestFlight. If you're not on our TestFlight and would like to help test Juno, please ping me at beta@juno.sh, and I'll add you to our beta list. 😉

[2021-02-22 16:04] christopherseaman commented on #214
Thanks for the follow-up. Emailed to request access.

[2021-02-24 01:56] DannyYaodong opened #241 "Jupyter nbextensions"
Hope to add the auto-generated table of content function like nbextensions (https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/toc2/README.html)

[2021-02-24 01:58] DannyYaodong opened #242 "Statsmodels"
I know the "statsmodel" is not a pure python package. However, this module is heavily used in data analysis. Hope you can add it.

[2021-02-26 16:02] navoshta commented on #241
Thanks for reporting @DannyYaodong — I will look into this. This may take a while though, as Juno would likely need to display a native dialogue with the TOC, but perhaps this could be done alongside some other functionality we had planned.

[2021-02-26 16:02] navoshta commented on #242
Closing this issue as it duplicates #160 — statsmodels is on the list, and we will be getting to it soon. 😉

[2021-02-26 16:02] #242 closed

[2021-02-28 18:32] baus8650 opened #243 "Installed packages not found"
**Describe the bug**
After using the built in package installer to install the music21 package, I was notified that the install was successful but when trying to import the package the notebook indicates that the module was not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for music21 in the package installer
2. Click install
3. Return to notebook and run “from music21 import

[2021-03-02 16:06] navoshta commented on #190
Pillow (PIL fork) will be available in the next TestFlight build for Juno 1.3.1 (currently in review) — if anyone would like to help test it, please reach out to beta@juno.sh, and I'll add you to our beta list. 😉

[2021-03-02 16:08] navoshta commented on #206
@MarcoLeder Pillow (PIL fork) will soon be available in Juno beta — ping me at beta@juno.sh if you would like to help test it, and I'll add you to our TestFlight. 😉

[2021-03-02 16:15] navoshta commented on #243
Hi @baus8650, what does the error message say exactly?

Please, mind that Juno's package installer will _not_ install dependencies automatically. Perhaps `music21` is missing some dependencies?

[2021-03-02 16:25] baus8650 commented on #243
Thank you so much for your reply and the reminder about the dependencies. Looks like installing the dependencies manually solved the missing module problems but now I am getting the attached error message. I’m sure it’s some form of user error (relatively new to this kind of stuff). If you have any suggestions that would be wonderful, but if not I completely understand!

Thank you again!

[2021-03-03 11:08] navoshta commented on #243
Hi @baus8650 — sorry I can't find the attachment, could you post the error message again please? Perhaps safer to add it via comment on GitHub issue page.

[2021-03-03 13:10] baus8650 commented on #243
So sorry about that! The error miraculously solved itself so I’m all set. Thank you so much for your time and your help! This app is wonderful!

Tim

[2021-03-04 13:01] navoshta commented on #243
No worries — glad you sorted it out! 🙃

[2021-03-04 13:01] #243 closed

[2021-03-11 12:00] zherebin opened #244 "Add **PyGraphviz*, **nxpd*"
Couldn't install PyGraphviz (https://pypi.org/project/pygraphviz/) - Installation from source failed - and nxpd (https://pypi.org/project/nxpd/) as parts for networkx (https://networkx.org).
Maybe I did it wrong?
Thx in advance.

[2021-03-12 17:01] navoshta commented on #244
Thanks for reporting @zherebin — please create a separate ticket for each library, it's easier to keep track of them that way. Although I think `nxpd` is pure Python (it probably has more complex dependencies though), so you probably don't need to create an issue for it.

Looks like `PyGraphviz` has native extensions and needs to be ported and embedded into Juno. Also, most recent release of `PyGr

[2021-03-13 06:46] christopherseaman commented on #214
Tested loading the google-cloud-bigquery module and it worked!

Actually querying is running into an error with pyarrow but that _may_ be solvable with some site-packages work.

[2021-03-13 07:31] JCalaunan opened #245 "Cannot load notebook on Google drive, file is not selectable."
**Describe the bug**
Trying to access notebook in google drive, but cannot open it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open iPad
2. Sync Google Drive
3. Open Juno
4. Scroll to Google drive folder with notebook file, on Juno
5. Unable to select notebook as it is grey out.

**Expected behavior**
I was expecting to be able to open the notebook and run it locally.

**Screenshots**

[2021-03-15 09:49] #245 closed

[2021-03-15 18:32] navoshta commented on #214
Thanks for verifying @christopherseaman — I'll close this issue, but feel free to open a new one if you find that `google-cloud-bigquery` has some other dependencies which are unavailable.

[2021-03-15 18:32] #214 closed

[2021-03-15 18:37] navoshta commented on #245
Hi @JCalaunan — yep, this is a known issue I'm afraid. Juno integrates with the file system via Apple’s Files app, and some cloud storage providers don’t integrate with Files in full for some reason. Usually you can still open notebook documents, but Google Drive specifically seems wildly misconfigured, and doesn't even let you open file formats not on the Google's "allowed" list. Hopefully, they

[2021-03-21 00:18] electronhead opened #246 "Collapse code cells in Juno"
In order to present just a UI implemented in a notebook, I'd like to have control over the collapsing of code cells. I haven't found a way to do this within the Juno UI.

I can collapse code cells with Jupyter Lab on a Mac, but also haven't found a way to collapse code cells in VS Code on the Mac.

I noticed a Juno issue mentioning nbextensions. Is this related to code cell visibility in Juno? Cou

[2021-03-21 20:38] navoshta commented on #246
Hi @electronhead — I'm assuming you are talking about collapsing the cells themselves, not the cell output? I.e. this is what a collapsed/hidden cell looks like in JupyterLab:

<img width="170" alt="Screenshot 2021-03-21 at 20 32 06" src="https://user-images.githubusercontent.com/1111935/111920029-a09ea600-8a84-11eb-99a5-ce6e7a32b4e1.png">

Unfortunately, as far as I'm aware this functionality is

[2021-03-22 01:17] electronhead commented on #246
Yes, collapsing the code cells so that, for the most part, only the UI remains. Thank-you for leaving this open as a feature request.

[2021-03-29 18:45] navoshta commented on #160
Statsmodels will be available in the next TestFlight build for Juno 1.3.3 (currently in review) — if anyone would like to help test it, please reach out to beta@juno.sh, and I'll add you to our beta list. 😉

[2021-03-29 18:46] navoshta commented on #99
Cvxopt will be available (alongside statsmodels) in the next TestFlight build for Juno 1.3.3 (currently in review) — if anyone would like to help test it, please reach out to beta@juno.sh, and I'll add you to our beta list. 😉

[2021-04-08 13:19] capaldo commented on #29
Any update on this? I really enjoy using the app but was hoping for the ability to customize/have more granular control.

[2021-04-11 15:24] navoshta commented on #29
Sorry @capaldo — no news on this one yet. I wouldn't rule out allowing notebook UI customisation in some obscure way in future, but I still don't have a good plan on how this will work. It may be a bit more complicated than it seems, as these customisations would undoubtedly clash with some of Juno's own ones under the hood, and Juno won't be very helpful in telling you what exactly got broken.

[2021-04-13 14:44] thipokKub opened #247 "Add QuantEcon"
QuantEcon (Quantitative Economics) is a code library for quantitative economic modeling in Python

References
- [Github](https://github.com/QuantEcon/QuantEcon.py)
- [Official Website](https://quantecon.org/quantecon-py/)
- [PyPI](https://pypi.org/project/quantecon/)

[2021-04-15 11:19] navoshta commented on #247
Thanks for reporting @thipokKub — looks like QuantEcon itself is a pure Python package, so there is no need to embed it in Juno. However, one of its dependencies is numba package, which *does* have native extensions. Juno seems to support all other QuantEcon's dependencies, so I will rename this issue to adding numba instead.

[2021-04-16 07:41] Minion3665 opened #248 "Juno cannot connect to notebook server"
**Describe the bug**
I can’t connect to notebook server

**To Reproduce**
Steps to reproduce the behavior:
1. Open a notebook
2. See error

**Expected behavior**
I expected the app to connect to the notebook server, allowing me to use a jupyter notebook.

**Screenshots**
![0330E3B4-F774-4F67-B2AB-7868D14E5B12](https://user-images.githubusercontent.com/34243578/114989195-1a149300-9e8f-11eb-950e-4b0

[2021-04-18 04:41] dps999 commented on #133
Hi,
I'm trying to read the file by relative path from local drive Juno folder.
But it not found. Could you help me?
![image](https://user-images.githubusercontent.com/1697478/115134512-74415f80-a019-11eb-8c4e-9971058d34f2.jpeg)
![image](https://user-images.githubusercontent.com/1697478/115134516-79061380-a019-11eb-8b26-e1ec7b1d5981.png)

[2021-04-18 06:07] vsprasannaa commented on #118
Hi, I still am not able to install qiskit via Juno. :-( For example, I try installing qiskit-aer (0.8.1 as of April 2021), and it downloads and then complains that the installation from source failed.

[2021-04-18 12:37] vsprasannaa opened #249 "Qiskit 0.25"
I already found one request for qiskit, but since it is a year old and the comments there did not help (which said that we install each of the modules separately, for example, qiskit-aer, but that does not work either for me! :-( ), may I request you for qiskit 0.25?

[2021-04-19 09:23] navoshta commented on #230
Hi @MrJaba — crash in Scenario 1 should be (hopefully) fixed, or at least appear way less frequent in the recent Juno beta releases, please let me know if you would like to give it a go, and I will add you to our TestFlight (I may need your email address, so you can ping me at beta@juno.sh).

As per insert image dialogue, I couldn't reproduce this crash I'm afraid. Do you get it every time with th

[2021-04-19 17:07] navoshta commented on #248
Thanks for reporting @Minion3665 — am I correct assuming you're using beta? Does this happen every time, or only with some notebooks, e.g. in some directories? Any chance there are Unicode characters in the notebook path?

[2021-04-19 17:21] navoshta commented on #133
Hi @dps999 — is your SimTest.ipynb in the same directory as the raw.tsv file?

[2021-04-19 17:24] navoshta commented on #249
Closing as a duplicate of #118 — I will update the original ticket when there are any updates (I didn't get to Qiskit yet, sorry).

[2021-04-19 17:24] #249 closed

[2021-04-19 19:41] navoshta commented on #86
Juno Connect 1.6.3 adds experimental Paperspace Gradient support — it's currently in beta, but if you would like to help test it, please send an email to beta@juno.sh and I will add you to our TestFlight! 😉

[2021-04-19 19:41] navoshta commented on #182
Juno Connect 1.6.3 adds experimental Amazon SageMaker support — it's currently in beta, but if you would like to help test it, please send an email to beta@juno.sh and I will add you to our TestFlight! 😉

[2021-04-21 07:40] antoniofina commented on #118
Thanks for the info. Hope the issue will be cleared ASAP.
Regards,
Antonio Fina

[2021-04-21 08:02] vsprasannaa commented on #118
Dear Alex Staravoitau,
Thanks for the email. Looking forward to your update on porting Qiskit.
Regards,
Prasannaa

On Wed, Apr 21, 2021 at 1:15 PM antoniofina ***@***.***>
wrote:

[2021-04-24 06:55] Minion3665 commented on #248
Yes, it happens on every notebook as far as I know. I don't think there are any unicode characters in the path name: even when I create a notebook in 'on my iPad' or in 'iCloud drive' it doesn't seem to work.

[2021-04-25 04:55] KudosPower commented on #109
@navoshta Currently, OpenCV is not available in PYPI in Juno anymore. Will it be added after solving? It’s one reason that I decide to buy Juno with more cost instead of other apps. I’m looking forward to getting a solution to this OpenCV installation issue in Juno.

[2021-04-25 05:06] KudosPower opened #250 "Add Kivy"
**Kivy**
I try to install Kivy from PyPI in Juno. It’s available but it shows “Failed to intall Kivy 2.0.0.” as attached screen. How can I install it?

![IMG_0392](https://user-images.githubusercontent.com/83152477/115981480-54cca880-a5be-11eb-86b0-0f15ab3efa67.png)

[2021-04-29 17:17] navoshta commented on #248
Thanks @Minion3665 I will look into this, and hopefully this will be addressed in the next beta build. Meanwhile, I suggest that you try to reinstall the app from scratch (also from TestFlight) and see if this fixes the issue.

[2021-04-29 17:19] navoshta commented on #109
@KudosPower OpenCV is still not available in Juno, although it's certainly on the roadmap (I don't have ETA I'm afraid). I do plan to look into it sooner rather than later though.

[2021-04-29 17:23] navoshta commented on #250
Hi @KudosPower — the error means that this package has native extensions, and can't be installed due to platform restrictions. Typically, this means that you need to raise a package request in this tracker, and we will port the package by building its native extensions and embedding it in Juno. However, I'm not sure this can be done for Kivy, as it's effectively a GUI framework (as far as I can te

[2021-04-29 20:48] Minion3665 commented on #248
Alright so I've taken a look at stuff further and realised something else that may be relevant: this is an iPad owned by my school, and they require a global HTTP proxy in order to access the internet. Could it be that Juno is going through that and therefore not being able to find its server?

[2021-05-03 21:08] navoshta commented on #248
@Minion3665 I'm not sure, but that's a great guess — in theory local traffic shouldn't go through a proxy I suppose, but it seems like it does in this case. Actually, it seems like it's specifically the socket that can't connect, which Jupyter uses to communicate with the kernel. I will need to simulate this proxy behaviour and look deeper into this — thanks for the info, and let me know if you se

[2021-05-12 20:01] navoshta commented on #170
@GreekQuant I still didn't get to it I'm afraid, however latest Juno beta comes with cvxopt library pre-installed — perhaps this can be used instead? Apologies if this isn't relevant, I'm not sure how cvxopt and cvxpy are related.

By the way, if anyone would like to help test cvxopt (or any of the other new packages), please send an email to beta@juno.sh and I will add you to our TestFlight.

[2021-05-12 20:19] nataliaalvarezb opened #251 "Add spiceypy"
spiceypy

https://pypi.org/project/spiceypy/

[2021-05-12 20:23] GreekQuant commented on #170
@navoshta thank you very much for the reply.

It's a very useful package for convex optimisation. It is able to implement different algorithms (ECOS, SCS, OSQP) including cvxopt so I presume -with the very humble knowledge compared to that of yours- that a first step has been taken.

Apart from the above thanks very much for the excellent effort the team has put for us - iPad users - in order to c

[2021-05-12 20:23] GreekQuant commented on #170
@navoshta thank you very much for the reply.

It's a very useful package for convex optimisation. It is able to implement different algorithms (ECOS, SCS, OSQP) including cvxopt so I presume -with the very humble knowledge compared to that of yours- that a first step has been taken.

Apart from the above thanks very much for the excellent effort the team has put for us - iPad users - in order to c

[2021-05-18 15:14] #227 closed

[2021-05-18 15:15] navoshta commented on #236
Closing this issue for now, but feel free to reopen and submit a new one if the panel remains open when you edit a notebook.

[2021-05-18 15:15] #236 closed

[2021-05-18 15:16] #191 closed

[2021-05-18 15:17] navoshta commented on #182
Experimental SageMaker support has been released to App Store, so I'm closing this ticket for now — feel free to reopen or submit a new one if you spot any issues with it.

[2021-05-18 15:17] #182 closed

[2021-05-18 15:17] navoshta commented on #86
Experimental Paperspace Gradient support has been released to App Store, so I'm closing this ticket for now — feel free to reopen or submit a new one if you spot any issues with it.

[2021-05-18 15:17] #86 closed

[2021-05-18 15:18] navoshta commented on #106
Juno Connect should support ECDSA keys for SSH connections now.

[2021-05-18 15:18] #106 closed

[2021-05-18 15:19] navoshta commented on #134
Instruction added to Juno Connect FAQ: https://juno.sh/troubleshooting-juno-connect#can-i-connect-to-a-jupyter-server-sitting-behind-another-gatewayproxy-machine

[2021-05-18 15:19] #134 closed

[2021-05-21 05:12] Peter230655 opened #252 "PYDY"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.
PYDY seems to be a very powerful addition to the powerful SYMPY, available on JUNO.
I tried to install PYDY, but failed.

[2021-05-21 05:30] MarcoLeder commented on #206
Thank you ever so much and that you thought of me! Eycited to try it soon!

Best regards
Marco Leder

On Thu, 20 May 2021, 21:15 Alex Staravoitau, ***@***.***>
wrote:

[2021-05-22 19:02] f1se4 commented on #160
Hi ++++1 :D

In fact all requirements of the packages seems to be possible to install, so it should be something ‘near’ to be implemented or possible to be implemented by installing the package.

[2021-05-26 12:40] #234 closed

[2021-05-26 12:41] navoshta commented on #217
Juno 1.3 with a fix is now live on App Store 🚀

Looks like Jupyter doesn't work well with `help()` in general, so I suggest that you use a built-in magic `?`, e.g.:

[code]

...Or just put your cursor to the abs function, tap the screen and select 'Help'.

[2021-05-26 12:41] #217 closed

[2021-05-26 12:42] navoshta commented on #219
Closing for now, but feel free to reopen or submit a new issue if you are still experiencing this issue with the latest release.

[2021-05-26 12:42] #219 closed

[2021-05-26 13:04] navoshta commented on #66
Juno 1.3 with LXML is now live on App Store 🚀

[2021-05-26 13:04] #66 closed

[2021-05-26 13:04] navoshta commented on #190
Juno 1.3 with Pillow is now live on App Store 🚀

[2021-05-26 13:04] #190 closed

[2021-05-26 13:04] navoshta commented on #111
Juno 1.3 with Cryptography is now live on App Store 🚀

[2021-05-26 13:04] #111 closed

[2021-05-26 13:05] navoshta commented on #99
Juno 1.3 with Cvxopt is now live on App Store 🚀

[2021-05-26 13:05] #99 closed

[2021-05-26 13:06] navoshta commented on #160
Juno 1.3 with Statsmodels is now live on App Store 🚀

[2021-05-26 13:06] #160 closed

[2021-05-26 13:06] navoshta commented on #178
Juno 1.3 with Regex is now live on App Store 🚀

[2021-05-26 13:06] #178 closed

[2021-05-26 13:07] navoshta commented on #206
Juno 1.3 with Bokeh is now live on App Store 🚀

[2021-05-26 13:07] #206 closed

[2021-05-26 13:08] navoshta commented on #200
Juno 1.3 with a fix is now live on App Store 🚀

[2021-05-26 13:08] #200 closed

[2021-05-26 13:09] f1se4 commented on #160
Yeahhhhhhhhhhhhhhhhhhhhhhhhh!! It works perfect :)

[2021-05-26 13:12] navoshta commented on #183
Juno 1.3 with a new key shortcut is now live on App Store 🚀 — use Control+Shift+Alt+Enter to run all cells (seems like this key combination is already used to run all cells in several alternative Jupyter editors, hence the choice).

[2021-05-26 13:12] #183 closed

[2021-05-26 13:14] navoshta commented on #84
Juno 1.3 with PyYAML is now live on App Store 🚀

[2021-05-26 13:14] #84 closed

[2021-05-26 13:15] navoshta commented on #40
This should be resolved now (apologies for a super-late reply!).

[2021-05-26 13:15] #40 closed

[2021-06-13 08:48] ShunOtsuka opened #253 "cannot connect Cocalc,"
**Describe the bug**
I cannot connect Cocalc, although I can connect via Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environm

[2021-06-14 12:22] navoshta commented on #253
Thanks for reporting @ShunOtsuka — this has been addressed on the CoCalc's side, so it should be working again now. 🚀

[2021-06-14 12:22] #253 closed

[2021-06-19 06:27] SakamotoYuki opened #254 "Is Tensorflow available on Juno?"
I am on the verge of purchasing the app, I am wondering if tensorflow is available on Juno, the last issue was created in 2019, and there hasn’t been an update.
I am also wondering if there is a list of supported packages. on the juno doc it says “only pure Python packages are supported”
So I’m not sure which ones are already ported/being ported

thanks

[2021-06-20 05:44] phd84 opened #255 "Add TENSORFLOW"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

[2021-06-21 11:47] navoshta commented on #254
Hi @SakamotoYuki! TensorFlow is still not supported I'm afraid — adding TF is an ambitious project, and I haven't got to it yet I'm afraid. When there are some developments in that area I'll make sure to update the original GitHub issue, so you can just subscribe to that.

As per packages currently available, there is a list of the most popular packages that have been 'ported' here: https://juno.s

[2021-06-21 11:47] #254 closed

[2021-06-21 11:54] navoshta commented on #255
Closing as a duplicate of #39 — I know it's been a while, but including TF is an ambitious project, which I haven't got to yet I'm afraid.

[2021-06-21 11:54] #255 closed

[2021-06-26 21:21] mattabott opened #256 "Add Tensorflow.keras"
Please add the Tensorflow.keras extension. It could be very useful for machine learning!

[2021-06-29 08:10] knagaiwa commented on #109
Please add the OpenCV in Juno. How is the progress?

[2021-06-29 15:54] navoshta commented on #109
@knagaiwa I haven't started on it yet I'm afraid, but I will make sure to update this issue when there is some progress, or when it's ready to test in Juno beta.

[2021-06-29 15:55] navoshta commented on #256
Thanks for reporting @mattabott — I'll close this as a duplicate of #8. When there is any progress with Keras, I'll make sure to update the original issue.

[2021-06-29 15:55] #256 closed

[2021-06-30 23:01] mattabott commented on #256
Thank you!

[2021-07-03 20:51] timarnold opened #257 "Return button does nothing on iPad with Magic Keyboard on iOS Beta"
**Describe the bug**
When editing a code cell, I push the return key on my magic keyboard. Nothing happens.

**To Reproduce**
Open a code cell. Hit return

**Expected behavior**
A newline is produced

**Actual Behavior**
The cell loses focus

Note: the software keyboard seems to work fine.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Enviro

[2021-07-04 23:55] knagaiwa commented on #109
Thank you for teaching me very kindly. I'm hopeful about that.

[2021-07-06 12:00] navoshta commented on #257
Thanks for reporting @timarnold — this indeed seems like an iPadOS 15 beta issue. I'm planning to look into this soon (unless Apple fixes this in the next beta).

[2021-07-09 21:59] tojasonk opened #258 "Can’t Rename Juno (Jupyter) Files"
**Describe the bug**
There’s no way for me to rename a file.  There’s no option in the Juno app to do so.  And when I go into the Files app and rename it, Juno won’t re-open it after the rename.  I just get an internal server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new file; enter some text or code
2. Save it and exit to the Files app (by hitting “Notebooks”)
3. Renam

[2021-07-12 14:27] racoonfused opened #259 "Juno captures keystrokes wrong"
**Describe the bug**
When I use enter key - instead of starting a new line of code, I close the block (just as I would with § key (my esc))

**To Reproduce**
Simply try to use “enter” key during writing your code

**Expected behavior**
Just start a new line, like a good ol’ enter key should.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Envi

[2021-07-12 14:56] navoshta commented on #259
Thanks for reporting @racoonfused — this very much looks like a beta bug, but I've implemented a temporary workaround in Juno 1.3.9, which should be now available on App Store. Let me know if you spot any issues in the new build!

[2021-07-12 14:56] #259 closed

[2021-07-12 14:56] navoshta commented on #257
I've implemented a temporary workaround in Juno 1.3.9, which should be now available on App Store. Let me know if you spot any issues in the new build!

[2021-07-12 14:56] #257 closed

[2021-07-13 07:11] racoonfused commented on #259
Now it works just fine. Thank you so much!

Regards, Krzysztof Zbińkowski

[2021-07-14 12:04] kadaliao commented on #259
I’ve updated to version 1.3.9, the enter key works just fine but Cmd+A/V/C don’t.

[2021-07-14 12:06] racoonfused commented on #259
I see, but I can manage.
The lack of the enter key was much worse than cmd+a/c/v

Regards, Krzysztof Zbińkowski

[2021-07-15 19:27] Denko opened #260 "Add requests"
**What is the name of the package?**
A name or link to the Python package you think should be pre-installed in Juno. Mind that you can install pure Python packages from PyPI in Juno — those that can be successfully installed won't be embedded in the app.

[2021-07-15 19:29] Denko commented on #260
Can it be that you don’t support requests? This would make my iPad useless!

[2021-07-15 20:56] navoshta commented on #260
Please see #237 — you can install `requests` (and any other pure Python package) using Juno's package installer: tap notebook name in the editor's top bar -> _Install Python Package_.

[2021-07-15 20:56] #260 closed

[2021-07-18 13:45] Axcyn commented on #136
Hello,
I reopen the ticket because with the latest version of Juno 1.3.9 I can’t install Beautiful Soup on my iPad Pro 12.9" with iPadOS 14.6.

I’m not a regular user of Juno nor an advanced user in Python so maybe I did something wrong. Below is what I did :

When I tried to install the package using the built-in installation manager I got the following error : `Failed to install bs4 installation

[2021-07-18 14:00] Axcyn opened #261 "Can’t install Beautiful Soup"
Hello,

I also commented this issue here : [Errors installing BeautifulSoup](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/136) in case the thread need to be merged.

I’m not a regular user of Juno nor an advanced user in Python so maybe I did something wrong. Below is what I did :

**Describe the bug**
Installation with built-in manager or manual installation failed

**To Reproduce*

[2021-07-18 14:14] navoshta commented on #261
Hi @Axcyn — please make sure you install it as `beautifulsoup4` (i.e. from here: https://pypi.org/project/beautifulsoup4/#description) — _not_ as `bs4` or `bs`.

Placing files into _site-packages_ should also work, but you do need to unarchive them first, as `.whl` is a zip compressed archive.

[2021-07-18 14:14] #261 closed

[2021-07-18 15:41] navoshta commented on #136
Hi @Axcyn — I've responded in the new ticket, let me know if you still have any issues.

[2021-07-19 19:47] Axcyn commented on #261
Hello @navoshta ! It worked I downloaded a wrong package `bs4`

Thank you !

ps: the manual install worked well too

[2021-07-20 14:14] navoshta commented on #259
Yep there are still some issues with hardware keyboards in iPadOS 15 beta — as @kadaliao pointed out, Cmd+X/C/V don't work, and arrow cells navigation doesn't seem to work either. I've looked into it, but the issue appears to be somewhere deeper in WebKit, and is most likely a beta bug or a combination of bugs — I'm really hoping Apple will fix this in later betas!

I couldn't find a reasonable wo

[2021-07-21 09:14] Peter230655 opened #262 "FENICS"
FENICS is a library to integrate partial differential equations.
I feel, that with numpy and scipy and sympy already available in JUNO, this would be a valuable addition

[2021-07-22 21:07] SeanMaths4EAL opened #263 "Can't connect to CoCalc"
**Describe the bug**
Juno Connect won't connect to my CoCalc account.
I just get 'Failed to retrieve account information'

**To Reproduce**
I've tried logging out, deleting and reinstalling the app, "Clear all sessions"

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your pr

[2021-07-22 21:59] SeanMaths4EAL commented on #263
It's finally managed to open it. I wonder if its an issue with the large number of projects (given that I'm using it for teaching, so there's a lot of student projects).

[2021-07-23 09:30] navoshta commented on #263
Hi @SeanMaths4EAL — typically, this can happen when your CoCalc session expires, but logging out and it again should resolve this. Sounds like this didn't help at all in your case, which is a bit worrying!

Either way, glad it's working now — perhaps this was just a temporary glitch on CoCalc. Feel free to reopen this ticket if the issue comes back.

[2021-07-23 09:30] #263 closed

[2021-07-23 14:15] Peter230655 opened #264 "sdeint"
This is a package to integrate stochastic differential equations. It says it is 100% PYTHON, but if I try to install, I get the message:
Failed to install sdeint 0.2.2. Installation from source failed.

If it is 100% python, should it not work?

Thanks for any help!

[2021-07-23 22:04] AquibaB opened #265 "Add fmp_python"
Thanks!

https://pypi.org/project/fmp-python/#description

[2021-07-27 10:26] Peter230655 opened #266 "Questions"
JUNO has libraries like scipy, simpy, sympy, numpy, etc - which is GREAT
Can I get the latest versions simply by down loading them, or will you have to issue an update of your app, containing the latest versions?

Thanks!

[2021-07-27 17:17] tojasonk commented on #258
Well, I’m definitely opening and saving files to iCloud.  Not sure if it’s a location thing or not, but I could try it.  I also don’t have the option in Juno to rename the notebook; I thought I saw it once when I first opened the app, but then it seemed to disappear.  That’s what led me to rename it in the Files app itself.

I took the files that Juno wouldn’t open and opened them in Carnets plus

[2021-07-28 23:23] lmatute commented on #232
I add a vote to this request!

[2021-07-28 23:25] lmatute commented on #210
I second this request. Would be a great addition

[2021-07-29 08:19] manentai commented on #96
Let’s hope this integration from Google and Dropbox will happen at some point and I hope you will let your users know. Thanks for your explanation @navoshta

[2021-07-29 11:00] JaeungHyun commented on #135
![image](https://user-images.githubusercontent.com/17588101/127480572-d566890c-8cd2-4d21-939c-f1bdfd0d0c94.png)![image](https://user-images.githubusercontent.com/17588101/127480593-4c975aef-6ca2-4799-91fe-d339e2e39822.png)

Hello again.

I think it may be jupyter's problem..

In native UI(?), input korean is fine.

[2021-07-29 12:15] 61675 opened #267 "juno file server error"
on ipad juno.  i created a new notebook.
then tried to do a change directory to the
numbers directory.

got

500 server error

now get this whenever i start juno again and open
existing notebooks and immediately get this error

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior

open juno
open new notebook
enter some python
change directory to ipa

[2021-07-30 18:50] alexstaravoitau commented on #258
Thanks @tojasonk — I'll look into this. The option in Juno I was referring to is in the notebook editor itself: if you tap notebook name in the top bar, there should be an option to rename it. Although file browser in Juno also allows renaming using standard iOS UI (hence this could be confusing). And please let me know if you can think of anything else that could help me reproduce this.

[2021-07-30 18:53] alexstaravoitau commented on #264
Thanks for reporting @Peter230655 — I'll check why it returns an error, meanwhile I suggest that you try installing it manually. It does look like a pure Python package, so should probably just work if you unpack it into _site-packages_ folder.

[2021-07-30 18:57] alexstaravoitau commented on #265
Hi @AquibaB — this looks like a pure Python package, so you should be able to install it using Juno's package installer (keep in mind you need to install dependencies manually though). Feel free to reopen this ticket if it doesn't work (I've tried briefly and the package seemed to import OK).

[2021-07-30 18:57] #265 closed

[2021-07-30 19:01] alexstaravoitau commented on #266
Hi @Peter230655 — this depends on the package I'm afraid. Anything that comes pre-installed (like SciPy or NumPy) can only be updated with the app. All packages that you install manually (e.g. sympy) you can update, either by replacing whatever files you have in _site-packages_, or with Juno's package installer (it overwrites any existing files whenever installing anything).

[2021-07-30 19:06] alexstaravoitau commented on #135
@JaeungHyun — yes, looks like it's one of the internal component Jupyter is using. I was hoping this would get fixed with the recent release, where I've updated a bunch of internal components, including those that Jupyter relies on. But sadly looks like it's still there. Apologies it's taking so long, I do hope to get to it soon.

[2021-07-30 19:12] alexstaravoitau commented on #267
Thank you for reporting @61675 — I _think_ this should be fixed in the next release. I don't have any ETA when it will become available, but you can send me an email to help@juno.sh, and I'll add you to our TestFlight (it will appear there first).

[2021-07-31 09:18] Peter230655 commented on #266
Dear Alex,

Thanks, clear!

On Fri 30. Jul 2021 at 21:01 Alex Staravoitau ***@***.***>
wrote:

--
Best regards,

Peter Stahlecker

[2021-07-31 09:20] Peter230655 commented on #264
Dear Alex,

Thanks!
What do you mean by ‚installing manually‘?

I only know how to install with the ‚Install Python Package‘, which JUNO
provides.

On Fri 30. Jul 2021 at 20:54 Alex Staravoitau ***@***.***>
wrote:

--
Best regards,

Peter Stahlecker

[2021-07-31 20:43] vinaykudari opened #268 "!Failed to display notebook"
**Describe the bug**
When I try to open notebook which is hosted in the cloud (Jupyter Lab) I get 'Failed to display notebook' error. The same notebook can be accessed via Safari on the same iPad

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Tap on <Jupyter Server Name> (HTTPS) (Tried via SSH Port forwarding too)
3. Select notebook
4. Notebook loads half
5. See error 'Failed

[2021-08-01 21:57] alexstaravoitau commented on #264
@Peter230655 Looks like SDEINT's installer attempts to spawn a new process during installation, which is not possible due to OS restrictions — so even though it's a pure Python package, Juno installer can't seem to handle it I'm afraid.

That said, you should be able to install it manually: what I mean by that is that you download the package from PyPI as a .tar.gz archive (i.e. from https://pypi.

[2021-08-01 22:05] alexstaravoitau commented on #268
Hi @vinaykudari — looks worrying, but I couldn't reproduce this I'm afraid. Could you please check what version of Jupyter is running on your server, and also if there are any error messages in the Jupyter console (i.e. in the terminal where Jupyter is running)?

[2021-08-01 22:06] #266 closed, assigned to nobody

[2021-08-02 06:08] vinaykudari commented on #268
@navoshta thanks for your suggestion its an [issue](https://github.com/jupyter/nbconvert/issues/1430#issuecomment-872039410 ) with nbconvert 6.1.0, downgrading to 5.6.1 fixes the issue.

[2021-08-02 06:08] #268 closed, assigned to nobody

[2021-08-02 18:25] Peter230655 commented on #264
Worked perfect, thanks!
Stupid question: There were also files like LICENCE, readme.txt and
similar, without ending in .py
I could not get them into JUNO, does this matter?

On Sun 1. Aug 2021 at 23:57 Alex Staravoitau ***@***.***>
wrote:

--
Best regards,

Peter Stahlecker

[2021-08-05 22:05] ag-odonnell opened #269 "Add ARCH"
**ARCH**
Trying to install ARCH. It renders as a useable package on the Install Python Package but returns "Failed to install arch 5.0.1" when clicking install.

I reached out to @juno.sh and received the feedback: "You may want to open a package request for any missing libraries"

I think that means open a ticket like this.

[2021-08-07 09:19] campmans commented on #235
Is there anything I can do to help you resolve this issue?

[2021-08-09 11:31] alexstaravoitau commented on #264
I think it should be OK for this particular package (although more generally packages can have some aux files they would rely on).

[2021-08-09 11:31] #264 closed

[2021-08-09 12:20] Yashk1997 commented on #164
Hello,

I don't really know how to download the seaborn package on Juno. I did try to used the Pyhton package installer but it does not seem to find the seaborn package.

Best regards,
Yash Kapoor ![image](https://user-images.githubusercontent.com/88632932/128705162-e65bbf5d-4652-45b4-a849-a0cffc4adee0.png)

[2021-08-09 12:49] alexstaravoitau commented on #164
@Yashk1997 What happens when you tap in the text field to bring the focus to it, and hit return? Doesn't it load the package details?

[2021-08-09 13:00] Yashk1997 commented on #164
It does not respond basically, even when I hit return.

[2021-08-09 13:03] alexstaravoitau commented on #164
@Yashk1997 What iPadOS is installed on your device? Does this happen with the on-screen keyboard, or a hardware keyboard, or both? This seems like an issue not related to seaborn to be honest, so I suggest that you submit a separate issue and we can discuss there.

[2021-08-09 13:04] Yashk1997 commented on #164
I was able to fix it, it seems that for some reason Juno is not responding to the physical keyboard like to Copy, paste or enter it is only responding to the digital keyboard. I hope this can be fixed

[2021-08-09 13:07] Yashk1997 commented on #164
That's correct I would raise it next time but just to mention it only happens on the physical keyboard.

[2021-08-09 13:44] alexstaravoitau commented on #235
Apologies it's taking a while @campmans — I managed to reproduce this, so it should be OK.

This issue is likely related to an internal component that Jupyter is using (CodeMirror), which doesn't work well with some iOS features, like QuickPath and IME input used in Chinese/Korean/Japanese keyboards. I'm hoping to find a workaround for Juno, as it doesn't seem likely CodeMirror will fix this anyti

[2021-08-09 13:44] campmans commented on #235
At the moment I'm on holiday.

I will be back around 25 August 2021.

Thank you for your understanding.
Tony Campmans.

[2021-08-09 13:47] alexstaravoitau commented on #164
@Yashk1997 Sure I'll be happy to fix, but I may need some additional details like iOS version, version of Juno and what kind of keyboard you have connected. This will help a lot.

[2021-08-09 14:19] Yashk1997 commented on #164
IPAD OS 15
Bluetooth apple keyboard
Juno 1.3.9

[2021-08-10 07:27] Peter230655 commented on #264
Thanks! It seems to work fine.
I tried to 'drag and drop' these fines into the folder site-packages. This
worked well with files ending in .py, but it would not accept other files,
such as .txt.
How would I get such files into site-packages?
Thanks!

On Mon 9. Aug 2021 at 13:31, Alex Staravoitau ***@***.***>
wrote:

--
Best regards,

Peter Stahlecker

[2021-08-11 14:29] lmatute opened #270 "Add graphviz"
**Is your feature request related to a problem? Please describe.**

The graphviz module installs without problems on Juno. The following creates a graphviz object:

[code]

[code]

**Describe the solution you'd like**

I would like to be able to display graphviz images

[2021-08-13 09:25] alexstaravoitau commented on #267
@61675 Juno 1.3.10 is now available on TestFlight, which should *hopefully* fix this. Please let me know if it still happens in 1.3.10 — reopen the issue and I will investigate further.

[2021-08-13 09:25] #267 closed, assigned to nobody

[2021-08-13 09:29] alexstaravoitau commented on #259
@racoonfused @kadaliao Juno 1.3.10 is now available on TestFlight, which should fix the remaining shortcuts — please, let me know if you spot any that still won't work.

[2021-08-13 15:06] alexstaravoitau commented on #270
@lmatute The `graphviz` package on PyPI is only a Python interface for the Graphviz library that needs to be installed in your system. When you request to display its output, installed package attempts to spawn a new process and silently fails, as iOS doesn't allow creating new processes, neither it has Graphviz library installed anyway.

I will change this issue to a package request, which means

[2021-08-13 18:53] lmatute commented on #270
Ok, great. Thanks for your attention.

Luis

[2021-08-14 14:14] odie2630463 opened #271 "reconnect looping"
**Describe the bug**
Restart kernel cause “connecting, connected ” and “kernel ready” looping forever

**Environment (please complete the following information):**
 - Device:  iPad Pro 12.9
 - iOS version: iOS 15 beta 5
 - turn off icloud privacy
 - use http and ssh connection have same issue

[2021-08-15 19:21] alexstaravoitau commented on #271
Thank you for reporting @odie2630463 — sounds like it's likely a network connectivity issue. Does this happen with every server / cloud service, or only with a particular one? If you don't use any cloud service, you can try the demo notebooks (i.e. *Try Jupyter* tab): they are powered by Binder under the hood. Also, if you could try connecting to the same server on another network, that would help

[2021-08-26 06:41] JoviKoh opened #272 "Add pmdarima"
I was trying to install pmdarima in Juno. I clicked install but it does not show up in site-packages like it should. Hence, I am not sure what is the problem here.
![14208251-68B0-4207-9C28-3567E78F8B22](https://user-images.githubusercontent.com/80265984/130913718-b8c87a5a-2eae-48b9-a3a7-5a3d949d92bf.png)

Thanks in advance.

[2021-08-28 06:08] behnamgit commented on #32
Any progress on this?

[2021-08-30 14:30] KarateKat94 opened #273 "Pyomo not downloading to Juno; error from source"
**Describe the bug**
A clear and concise description of what the bug is.

Cannot download any version of the pyomo python package to the iPad Pro app on Juno; says there is an error downloading it from the source. Pyomo appears to be python based, so I don’t know what the issue is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See er

[2021-09-02 22:07] alexstaravoitau commented on #272
Thanks for reporting @JoviKoh — just to clarify, judging by the Cython dependency, the package would not work anyway, as it seems to have native extensions, which it probably attempts to build as a part of installation process (iOS does not allow this). It's curious why Juno reports installation of successful though, I'll take a look.

[2021-09-02 22:43] alexstaravoitau commented on #32
@behnamgit No progress yet I'm afraid, we're working our way through a (long) backlog of package requests, and prioritise those that are requested most often. It's on the list though, and we will get to it eventually — apologies it's taking a while. 😔

[2021-09-02 22:48] alexstaravoitau commented on #273
Thanks for reporting @Brian-Blood — judging by the wheels available on PyPI for `pyomo`, it does have native extensions, although perhaps they are optional. I suggest that you try installing it manually (i.e. download source and unzip to *site-packages*), if it's indeed pure Python then it could be merely an installation issue, and you should be able to get it to work.

[2021-09-14 03:24] cpedia opened #274 "can't install pyfolio, empyrical and all libraries of quantopian"
**Describe the bug**

I tried two ways to install these packages to juno, but all failed.

pyfolio:
https://github.com/quantopian/pyfolio

empyrical:
https://github.com/quantopian/empyrical

These two libs work for quantitive analysis,  they are pure python libs.

[2021-09-15 00:41] tojasonk commented on #258
Yeah, not sure what it is.  When I install Juno new and the Welcome to Juno notebook opens up, the Rename option is in the toolbar.  But, once I go to create my own, it disappears.

[2021-09-15 09:51] jfincham opened #275 "Faster linear algebra back-end"
**Is your feature request related to a problem? Please describe.**
Linear algebra, e.g. `np.linalg.solve` is slow (iPad Pro 12.9 2020) compared to desktop or Android solutions.

**Describe the solution you'd like**
From `numpy.show_config()` it looks like Juno isn’t using OpenBLAS or similar back-ends. Is it possible to improve this?

[2021-09-17 09:44] lmatute opened #276 "Coloring in Pandas DataFrame no longer working"
The coloring of columns in a pandas dataframe no longer works with the latest update. This used to work fine before:

Example:

import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 100, size=(5, 4)), columns=list("ABCD"))
df.style.background_gradient(cmap="Blues")

[2021-09-17 10:31] alexstaravoitau commented on #258
@tojasonk OK I *think* I figured it out: you won't see 'Rename' option for notebooks outside of Juno's directory (i.e. outside of app's sandbox), as you don't have enough permissions from the OS to rename notebook file at this point. However, if you later grant access to notebook directory (folder-with-a-lock icon in the top bar), you should be able to rename the notebook too, but Juno doesn't dis

[2021-09-17 11:09] alexstaravoitau commented on #274
Thanks for reporting @cpedia — yes these packages seem a tad outdated, and they don't provide platform wheels (.whl distributions). Juno attempts to install from source, but fails because installer relies on features not available on iOS.

I'll see if I can come up with a reasonable workaround, meanwhile I suggest that you install these packages manually, by downloading the source distribution fro

[2021-09-17 11:11] cpedia commented on #274
Thanks for the reply, I will try to use the source code.

[2021-09-17 11:17] alexstaravoitau commented on #275
Thank you for reporting @jfincham — had no idea these options existed! I will be upgrading NumPy soon, so will make sure to enable a faster backend. OpenBLAS should already be available in Juno from SciPy, but I think I may need to re-built NumPy to get it to use it.

Can you suggest a way to quickly benchmark NumPy installations, to make sure it indeed uses a faster backend?

[2021-09-17 11:18] alexstaravoitau commented on #276
Thank you for reporting @lmatute, I will look into this. There has been few slight changes in how Pandas data frames are rendered, probably this is what broke the coloring.

[2021-09-17 11:22] alexstaravoitau commented on #174
GDAL should now be available in the last TestFlight build of Juno (1.3.12). Please let me know if you spot any issues — if you're not on TestFlight and would like to help test it, ping me at beta@juno.sh.

[2021-09-17 11:22] alexstaravoitau commented on #67
PyProj should now be available in the last TestFlight build of Juno (1.3.12). Please let me know if you spot any issues — if you're not on TestFlight and would like to help test it, ping me at beta@juno.sh.

[2021-09-17 11:23] alexstaravoitau commented on #90
Shapely should now be available in the last TestFlight build of Juno (1.3.12). Please let me know if you spot any issues — if you're not on TestFlight and would like to help test it, ping me at beta@juno.sh.

[2021-09-17 11:25] alexstaravoitau commented on #116
Korean IME input has been improved in the last TestFlight build of Juno (1.3.12) — it's still not ideal, but I *think* it's as far as I can improve it until the actual issue in the CodeMirror is fixed (see https://github.com/codemirror/CodeMirror/issues/3137).

If you're not on TestFlight and would like to help test it, ping me at beta@juno.sh.

[2021-09-17 11:26] alexstaravoitau commented on #135
Korean IME input has been improved in the last TestFlight build of Juno (1.3.12) — it's still not ideal, but I *think* it's as far as I can improve it until the actual issue in the CodeMirror is fixed (see https://github.com/codemirror/CodeMirror/issues/3137).

If you're not on TestFlight and would like to help test it, ping me at beta@juno.sh.

[2021-09-17 15:38] jfincham commented on #275
Thanks for looking into this. There are probably proper benchmarks I'm not aware of, but as a one-line speed check you could do `np.linalg.solve(np.random.randn(5000, 5000), np.random.randn(5000, 1))` to solve a matrix of 5000 equations. This takes around 20-25 seconds on my iPad. I think I'd expect around 1/10th that if OpenBLAS is doing its thing?

[2021-09-18 08:12] cpedia opened #277 "Add PySpark"
**Is your feature request related to a problem? Please describe.**
Is it possible to integrate pyspark to juno?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-09-23 07:59] keasmar opened #278 "Warn when running out of memory"
Hello,

The Juno app crashes on iPad OS 15.0 when I try to manipulate a DataFrame as follows:

    X['Layer'] = ''
    for i, (key, freq) in enumerate(freqMapping.items()):
        X.loc[X['CellName'].str.startswith(key), 'Layer'] = freq

Where:

- X is a dataframe
- freqMapping is a dictionary

Note that the same code executes perfectly on Spyder (windows).

BR,
Karim

[2021-09-23 13:08] ndhumal360 opened #279 "BeautifulSoup"
The package is called BeautifulSoup imported as bs4
https://pypi.org/project/beautifulsoup4/
The link for the package.
This is a HTML or XML parser.

[2021-09-23 13:08] ndhumal360 commented on #279
Please add this package to Juno

[2021-09-26 17:40] alexstaravoitau commented on #277
Hi @cpedia — frankly, I'm not sure this is possible (due to Spark runtime and requirements), but I will leave this open as a package request. Thanks for reporting!

[2021-09-26 17:49] alexstaravoitau commented on #279
Hi @ndhumal360 — BeautifulSoup is a pure Python package, so you should be able to install it using Juno's package installer (whichever version you need). Just make sure you search PyPI for the correct package name `beautifulsoup4`.

[2021-09-26 17:49] #279 closed, assigned to nobody

[2021-09-26 18:50] alexstaravoitau commented on #278
Thanks for reporting @keasmar — I've tried to replicate the same DataFrame and dictionary, but I couldn't reproduce the crash I'm afraid. Perhaps this has something to do with the specific data or types, could you please expand your example w/ some dummy data that reproduces the crash?

[2021-09-26 20:42] keasmar commented on #278
Hello,

The source of the issue appears to be the reading of a large input csv file (~ 500 Mbytes) for which I got the error:

DtypeWarning: Columns (4,5,7,16) have mixed types. Specify dtype option on import or set low_memory=False.

Setting low_memory=False didn't solve the issue, but by specifying the data types in advance and also selecting only the columns of interest, I got rid of the warnin

[2021-10-01 16:17] alexstaravoitau commented on #278
Hmm judging by the file size, it does sound like Juno ended up allocating too much memory and iOS just killed it. I'll keep an eye on it, but if my assumption is correct there is little I can do here — I'll see if Juno can at least show an alert shortly before crashing.

[2021-10-01 22:34] dancivitarese commented on #39
Hi, do we have any news on this?

[2021-10-05 11:51] ajennings6767 opened #280 "Endless Kernel Reconnecting"
**Describe the bug**
When using Juno Connect to connect to a Jupyter Notebook on my home PC, if I navigate away from Juno Connect on my iPad, say to use a browser to look up some documentation, when I return to Juno Connect my kernel indicator flashes orange and green and will not re-establish a stable connection.

I have tried this running Jupyter via Powershell and as an independent Docker conta

[2021-10-07 21:42] Joshhua5 commented on #35
Any news on integration￼?

[2021-10-08 15:09] alexstaravoitau commented on #39
@dancivitarese No news I'm afraid — TensorFlow and PyTorch remain the most-requested packages, but both will require a lot of effort I'm afraid! That said we are certainly going to work on it; however, before we invest many months into working on those, we try to resolve as many 'easier' package requests as we can.

The next big thing we are working on is upgrading Juno's environment to Python 3.9

[2021-10-08 15:09] alexstaravoitau commented on #35
@Joshhua5 No news I'm afraid — TensorFlow and PyTorch remain the most-requested packages, but both will require a lot of effort I'm afraid! That said we are certainly going to work on it; however, before we invest many months into working on those, we try to resolve as many 'easier' package requests as we can.

The next big thing we are working on is upgrading Juno's environment to Python 3.9, as

[2021-10-08 15:27] alexstaravoitau commented on #280
Thanks for the detailed description @ajennings6767! So when Juno Connect returns from background (e.g. if you are navigating away from it and then navigate back), and the app has not been suspended by the OS, it will attempt to reconnect to the Jupyter server, same as what Jupyter would try to do in a browser.

Judging by the logs from your screenshot, the socket connection, which Jupyter establis

[2021-10-11 10:57] alexstaravoitau commented on #276
This should be fixed in the latest Juno and Juno Connect updates. Feel free to reopen or submit a new ticket if there are still some use cases I've missed.

[2021-10-11 10:57] #276 closed, assigned to nobody

[2021-10-11 10:59] alexstaravoitau commented on #174
GDAL has now been added as a part of Juno 1.3.14 update 🎉

[2021-10-11 10:59] #174 closed

[2021-10-11 11:00] alexstaravoitau commented on #90
Shapely has now been added as a part of Juno 1.3.14 update 🎉

[2021-10-11 11:00] alexstaravoitau commented on #67
PyProj has now been added as a part of Juno 1.3.14 update 🎉

[2021-10-11 11:05] alexstaravoitau commented on #116
Moving discussion to #135, as Korean seems to be the only language input not fully working in recent releases of iOS/iPadOS.

[2021-10-11 11:05] #116 closed

[2021-10-11 11:07] alexstaravoitau commented on #135
Korean IME input workaround has been released to App Store with Juno 1.3.14 and Juno Connect 1.6.9. As mentioned previously, this is likely as far as it can be improved until the underlying issue in CodeMirror is fixed. I'll leave this ticket open for a short while, in an (unlikely) case that my workaround has made things worse or have broken something else.

[2021-10-11 11:08] #33 closed

[2021-10-11 11:10] JaeungHyun commented on #135
@navoshta https://user-images.githubusercontent.com/17588101/136780735-55230ae9-f2f0-4a5f-99de-8a0383441017.MOV

Still have some problem :(

[2021-10-11 11:13] alexstaravoitau commented on #135
@JaeungHyun Apologies, I don't understand Korean and have very little knowledge about Korean characters — is the problem that while deleting characters it does not correctly delete the "part" of the character, deleting the character completely instead?

[2021-10-11 11:14] lmatute commented on #276
It is fixed. Great work !

Luis

[2021-10-11 11:16] JaeungHyun commented on #135
@navoshta I think when I type space,  previous character is duplicated.

when deleting, I think it is fine

[2021-10-11 11:22] alexstaravoitau commented on #135
@JaeungHyun Ah OK, I see — I'll leave this ticket open and will look into the duplicated characters, but frankly I'm not sure if I will be able to tackle this any further. 😔 Hopefully, someone with the knowledge of Korean IME and JS can come up with a better workaround for CodeMirror 5, and I'll be happy to incorporate it into Juno.

[2021-10-11 11:23] alexstaravoitau commented on #54
The cwd flow and access handling should be greatly improved in releases following this discussion — hopefully, it has fixed the issues discussed here. If not, feel free to reopen or submit a new one.

[2021-10-11 11:27] alexstaravoitau commented on #108
Closing this ticket for now, but please feel free to reopen (or submit a new one), if this remains a problem.

[2021-10-11 11:29] alexstaravoitau commented on #133
Closing this ticket for now, but please feel free to reopen (or submit a new one), if this remains a problem. I have also published a doc on the topic: https://juno.sh/ios-file-system/

[2021-10-11 11:32] alexstaravoitau commented on #181
Closing this ticket for now, but please feel free to reopen (or submit a new one), if this remains a problem. There is also a doc on the topic now: https://juno.sh/ios-file-system/

[2021-10-11 11:33] alexstaravoitau commented on #198
Closing this ticket for now, but please feel free to reopen (or submit a new one), if this remains a problem.

[2021-10-11 11:35] alexstaravoitau commented on #222
Closing this ticket for now, but please feel free to reopen (or submit a new one) if you manage to gather additional info about the issue.

[2021-10-11 11:36] alexstaravoitau commented on #223
I *think* this should be fixed now, as we have upgraded Jupyter to latest recently — feel free to reopen if this remains a problem.

[2021-10-11 11:38] alexstaravoitau commented on #225
Urllib3 and chardet should now come pre-installed — closing this ticket for now, but please feel free to reopen (or submit a new one) if this remains a problem, or if you manage to gather additional info about the issue.

[2021-10-13 16:20] mhbl3 opened #281 "Unable to change directory"
**Describe the bug**
Nothing happens when clicking on the folder icon when inside a notebook.

**To Reproduce**
Steps to reproduce the behavior:
1. install ios 15.1
2. Tap on any notebook
3. Click on the upper right folder icon to change the directory
4. See error

**Expected behavior**.
Being able to select a directory

**Screenshots**
If applicable, add screenshots or a screen recording to help

[2021-10-16 16:40] alexstaravoitau commented on #281
Thanks for reporting @mhbl3, could you please check this still happens on beta 4? This seems to be working for me, at least on the latest 15.1 beta.

Does this happen on every notebook outside of Juno's on device storage? Or only in other apps' folder, or iCloud or other particular location?

[2021-10-17 19:15] afedotov opened #282 "Composite actions from “Jupyter Commands” does not work as intended"
**Describe the bug**

When using these composite actions from “Jupyter Commands” combobox:

- [Confirm] restart kernel and clear output
- [Confirm] restart kernel and run all cells

Only first action “restart kernel” is executed, ignoring following “clear output” and “run all cells”

**To Reproduce**
Steps to reproduce are straightforward:
1. Open any notebook
2. Tap on notebook name to open noteb

[2021-10-17 21:45] afedotov opened #283 "Cannot run actions from “Jupyter Commands” menu when on-screen keyboard is hidden"
**Describe the bug**

When opening “Jupyter Commands” combobox, iPadOS on-screen keyboard appears. One can press bottom right “hide keyboard” button, and scroll dropdown list of actions. Further selecting desired action does not execute it, instead hidden on-screen keyboard popups back, putting focus to combobox input field, and scrolling dropdown list back to top. This making tricky to access “Ju

[2021-10-17 22:26] afedotov opened #284 "Add useful combo actions to quick access menu"
**Is your feature request related to a problem?**

Yes. I think about it while messing around with issues #282 and #283

**Describe the solution you'd like**

I think it will be handy for users without hardware keyboard, who cannot use keyboard shortcuts.

1. Add useful combo actions within some kind of quick access menu, notebook menu e.g. At least something like ⏩ button in Jupyter Lab which res

[2021-10-17 22:55] afedotov opened #285 "Add some buttons to iPad on-screen keyboard extension for easer code editing"
**Is your feature request related to a problem?**

No. This is just for easer code editing without hardware keyboard on iPad.

**Describe the solution you'd like**

It would be nice to add to iPadOS on-screen keyboard extension some buttons for more convenient code editing. At least these:

- Delete Line button
- Delete Word button
- Comment Line button

IMHO they are more useful than existing “ad

[2021-10-22 13:22] wantMoreSleep opened #286 "Error when importing 'nullcontext' from ‘contextlib'"
Missing name when I tried this
`from contextlib import nullcontext`. This is part of the bigger problem when I tried to `import dask`.

[2021-10-25 18:28] alexstaravoitau commented on #282
Thanks for reporting @afedotov — yep I can confirm these are not working right now, which seems to be related to how kernel management is handled in Juno. I will look into this.

[2021-10-25 18:31] alexstaravoitau commented on #283
Thanks for reporting — Jupyter Commands menu is carried over from the standard Jupyter interface, and looks a bit out of place in Juno to be honest. I was thinking of removing it as a part of upcoming editor UI redesign, but I'll see if I could get it to work and keep around for a bit longer.

[2021-10-25 18:33] alexstaravoitau commented on #284
Thanks for reporting — I'll see what I can do, specifically the ⏩ button does seem to be used a lot in desktop Jupyter.

Meanwhile, you can change the default 'Run' button action by press-and-holding it (there is no 'Restart and Run All' option there though I"m afraid).

[2021-10-25 18:36] alexstaravoitau commented on #285
Thanks for reporting, I will look into this. At the very least the icons shouldn't overlap of course — I'll think about those actions too, perhaps I could add some new ones.

[2021-10-25 18:48] alexstaravoitau commented on #286
Hi @wantMoreSleep, is this related to Juno or Juno Connect? If it's about Juno, how did you install `contextlib` — was it via Juno's package installer, or did you put the module files into the *site-packages* folder?

[2021-10-26 05:38] aeiwz opened #287 "Program crash"
I can’t run my project because program crash. The program shuts down when the code is executed.

[2021-10-27 11:35] tareqni opened #288 "Add wordcloud"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or a screen recording to help explain your problem.

**Environment (ple

[2021-10-27 12:07] afedotov commented on #283
Yep, I agree. This menu looks out of place and unhandy now, especially for touchscreen device without hardware keyboard. And the best way is to think over and redesign it.

[2021-10-28 07:58] alexstaravoitau commented on #287
Thanks for reporting @aeiwzxIII — I'm assuming this is about Juno, not Juno Connect? Do you have a code example reproducing the crash? This would help immensely.

[2021-10-29 08:40] GuillermoPomphile commented on #212
Hi,
A year is passed since the first report. Is there any progress on this issue?
Today as a package, it can be found in the installer of Juno but it does not run.
It runs perfectly in Jupyter Notebook, it would be great to have it in Juno as well.
Thanks.

[2021-10-29 16:01] thipokKub opened #289 "Installing package from git repo"
**Is your feature request related to a problem? Please describe.**
From [issue #11 ](https://github.com/rationalmatter/Juno-Issue-Tracker/issues/11), Juno can install pure python package from PyPi. However it could be a bit more versatile if it can install package from git repo because sometime the package bundle from PyPi isn't updated

**Describe the solution you'd like**
Add url ui box for some

[2021-10-30 04:42] matiasdh commented on #39
Maybe this package that apple made which ports tensorflow to use metal works out of the box https://github.com/apple/tensorflow_macos

[2021-11-01 15:07] alexstaravoitau commented on #288
Hi @terrynier — looks like wordcloud is not pure Python and has native extensions. I will convert this issue to a package request.

[2021-11-01 15:24] alexstaravoitau commented on #212
Apologies @GuillermoPomphile, no progress on this package yet I'm afraid. It needs to be rebuilt for iOS and embedded in Juno for it to work; we are gradually making our way through the backlog of package requests focusing on most-requested packages first — we will get to CoolProp eventually, too. I don't have any ETA though I'm afraid.

[2021-11-01 15:26] alexstaravoitau commented on #289
Thanks for reporting @thipokKub — interesting, I haven't thought of this use case. I'll see how this can be added; meanwhile, you should be able to do this manually by downloading the repo as zip and unpacking into the *site-packages* directory in Juno's on-device storage. I understand it would be easier if Juno could do this automatically in package installer though.

[2021-11-01 15:27] alexstaravoitau commented on #39
Thank you @matiasdh — this looks like just one piece of the puzzle in our case, but should nevertheless be very helpful!

[2021-11-10 11:40] julkhami opened #290 "Add Spacy"
**What is the name of the package?**
Spacy: https://spacy.io/

I wasn’t able to install this in Juno so I believe it needs to be added.

[2021-11-12 15:04] alexstaravoitau commented on #290
Yep, spacy has native extensions — thanks for reporting @julkhami.

[2021-11-17 06:59] LucasCRK opened #291 "Add biopython"
Hi,
Could you please add biopython, It failed to install from source when I tried to add it

https://github.com/biopython/biopython

https://biopython.org/https://biopython.org/

thank you.

[2021-11-23 21:42] alexstaravoitau commented on #291
Thanks for reporting @LucasCRK — I'll close this as a duplicate of #28 (apologies it take a while to go through the backlog of package requests).

[2021-11-23 21:42] #291 closed, assigned to nobody

[2021-11-28 21:47] yyao22 commented on #280
I have the same issue with version 1.6.9(6557).

[2021-11-29 18:14] alexstaravoitau commented on #280
Hi @yyao22 — as recommended above, could you please check if behaviour is the same when you connect from a browser? Also, could you try upgrading Jupyter and PyZMQ? Perhaps you have something useful in the Jupyter logs?

[2021-12-02 13:57] thipokKub commented on #289
Thanks, I am able to install the package with the method you provided. However, it is a bit tricky to run `setup.py` file from the repo, but eventually I've gotten it done (using `%cd` magic command, then run python script)

[2021-12-02 13:57] #289 closed, assigned to nobody

[2021-12-03 00:29] yyao22 commented on #280
The behavior is normal when I connect from a browser. I tried upgrading Jupyter and PyZMQ and the issue remains. Here's what's in the Jupyter logs
![Screenshot from 2021-12-02 19-28-14](https://user-images.githubusercontent.com/87083619/144524195-e428a618-453f-470f-8a23-54e40c0af447.png)
:

[2021-12-04 14:26] lmatute commented on #276
Today I came across a different but perhaps related issue with coloring pandas dataframes. In replicating an example in  the pandas documentation I had an error described in the attached notebook.

Hope you can help

Luis

[2021-12-05 10:55] 4DimK opened #292 "Add-Question (python-control)"
Hello, before purchasing the app, I am trying to figure out whether the Python Control Systems Toolbox (python-control) package is/can be installed. From https://python-control.readthedocs.io/en/0.9.0/intro.html#installation the dependencies are numpy, scipy and matplotlib which seem to be embedded into the app. Would that work?

[2021-12-08 06:51] cpedia opened #293 "Please add Amazon SageMaker Studio Lab support"
**Is your feature request related to a problem? Please describe.**
Please add Amazon SageMaker Studio Lab support

**Describe the solution you'd like**
Amazon SageMaker Studio Lab is a great free services for jupyter, if it can be integreted to juno connect, it will be super convinent to use remote jupyter on IPad.

[2021-12-08 07:57] cpedia commented on #293
![image](https://user-images.githubusercontent.com/14491/145170452-7d062a8a-b02c-45e0-9b6d-c7d9cc119d27.png)

[2021-12-08 17:24] alexstaravoitau commented on #280
Thank you for sharing @yyao22 — looks odd and I can't tell off the top of my head what could be wrong, if it's in the app or on the networking side. I'll look into this and see if it's something that can be worked around in Juno Connect.

[2021-12-08 17:26] alexstaravoitau commented on #276
Hi @lmatute — could you open a new ticket? And please make sure to attach a code example or a notebook where I can reproduce the issue, this would help immensely.

[2021-12-08 17:37] alexstaravoitau commented on #292
Hi @mksk4 — judging by the package description it looks like a pure Python package, so *should* work. Package installer shows an error when trying to install it, but that's because it was packaged in an outdated format (hopefully package authors will update it eventually).

It seems to work if you just download and unzip sources manually into *site-packages*. If you can add a code example I can gi

[2021-12-08 17:40] alexstaravoitau commented on #293
Thanks @cpedia — I've signed up for their waitlist, will give it a go when I get access and see if it's doable.

[2021-12-08 19:12] 4DimK commented on #292
Hi @navoshta - Thank you for your reply! So, I purchased the app and installed the control package. Indeed automatic installation failed, but manually placing the source files under site-packages/ seems to have done the trick. Therefore, indeed it work as you said!

I believe this add request can be considered successfully closed, thank you!

[2021-12-08 19:12] #292 closed, assigned to nobody

[2021-12-10 16:28] mchelaru opened #294 "Add Theano"
**Describe the bug**
Installing pymc3 doesn’t result in a usable pymc3.

**To Reproduce**
Steps to reproduce the behavior:
1. Install pymc3
2. Restart kernel
3. Import pymc3 as pm
4. See that semver is missing (No module named semver, fails at pymc3/__init.py__:22)
5. Install semver
6. Restart kernel
7. Import pymc3 as pm
8. See that theano is missing (No module named theano, fails at pymc3/__init

[2021-12-19 08:51] wantMoreSleep commented on #286
`contextlib` is a built-in library of Python, so that shouldn’t be installed with external effort. And yes it’s Juno, not remote environment. I worked around this issue by using older version of Dask library.

[2021-12-19 13:08] alexstaravoitau commented on #294
Thanks for reporting and apologies for a late reply @mchelaru.

As you have correctly identified, the issue is not in pymc3 itself, but in installing theano. Looks like theano only offers source distribution, and attempts to compile some native extensions during installation — this is something iOS does not support, I'm afraid. I'm converting this issue into a package request for theano, this mean

[2021-12-19 14:24] alexstaravoitau commented on #286
Ah I see — looks like `nullcontext` was not available in Python 3.6, which Juno uses. We are currently working on upgrading Juno's environment to Python 3.9 or 3.10, so hopefully this will resolve the issue. I'll close this ticket for now.

[2021-12-19 14:24] #286 closed, assigned to nobody

[2021-12-22 16:31] colinthart opened #295 "How to handle token authentication?"
**Environment:**
iPhone XR
iOS 15.0
Juno Connect 1.6.9 (6557)

I am serving a notebook from AWS.  I supply the public key on creation of EC2 instance.  The private key is stored in a password manager app and I copy to clipboard to enter it in Juno settings on the phone.

## Server Settings in Juno Connect
### Connection settings
Type: Local port forwarding
Host: IP of instance from EC2 dashboard
P

[2021-12-22 17:49] colinthart commented on #295
I found [this](https://juno.sh/direct-connection-to-jupyter-server/) section in the docs.

Under the "Prepare your Jupyter server" section it explains how to generate and configure the config file.  [This stack overflow post](https://stackoverflow.com/questions/41159797/how-to-disable-password-request-for-a-jupyter-notebook-session) includes additional details for how to remove password and token

[2021-12-22 17:55] #295 closed, assigned to nobody

[2021-12-24 12:08] alexstaravoitau commented on #295
Apologies for a late reply — and glad you managed to sort it out @colinthart!

[2022-01-19 11:15] alexstaravoitau commented on #61
Apologies it took a while, but multiple windows support is now available in Juno beta on TestFlight — please reach out to beta@juno.sh if you would like to help test it. 🙃

[2022-01-19 15:11] amanforthepeople opened #296 "Add Brian2"
I would like to suggest a request for a program with the PyPI Brian2. It is a python based program for creating neural spiking activity, and manipulating input to make predictions about the activity of brain cells. I try to download it, it does not seem to work. It was brought to my attention that I would need to submit a request for this to be resolved. Looking forward to hearing back.

[2022-01-26 05:59] dugamarian commented on #280
Same thing here. I end up on using the browser.

[2022-02-09 17:14] lukewiebe opened #297 "Juno crashes when switching focus after opening blank notebook in iPadOS 15.4 beta"
Here’s what happens:

1. Open Juno in split view with any other app
2. Open a brand new notebook
3. Tap any text input on the other app
4. Juno crashes

I’m testing on an iPad Pro 12.9 2018 with keyboard attached, running iPadOS 15.4 public beta.

[2022-02-10 05:16] HX422 opened #298 "Add FlowCal"
FlowCal: https://github.com/taborlab/FlowCal
This package is used for analyzing flow cytometry data. It would be awesome if this would be added to Juno, greatly increasing my research productivity!

[2022-02-10 13:46] alexstaravoitau commented on #298
Looks like FlowCal is a pure Python package, and should work. The App Store version of Juno shows an error when trying to install it, so you may need the latest Juno *beta*, where I've fixed a couple of things around packages installation — please ping me at beta@juno.sh, and I'll add you to our TestFlight.

That said, when I try to import FlowCal it complains about a missing tkinter module, which

[2022-02-10 13:53] alexstaravoitau commented on #297
Thanks for reporting @lukewiebe — I'm looking into this.

[2022-02-10 14:00] CoryLR opened #299 "Juno consistently unresponsive after fresh install"
iPhone 13 Pro Max, iOS 15.2.1

Context: For the first 20 minutes after installation, Juno would show a folder icon in the top-right with some kind of error symbol. The first time I tapped the folder I was given a tutorial message about giving access to my iCloud Drive. I tapped it and selected a Python folder that I made previously.

Issue: The folder icon would reappear and, upon tap, a modal wou

[2022-02-10 15:09] dhruvahuja17 opened #300 "Keyboard Shortcuts"
We have got a feature within the app to edit our keyboard commands and shortcuts. It is mentioned that all our changes will be saved for our further sessions.

But that doesn’t seem to hold true. We have to edit those shortcuts every time we open a new project or continue with the same project.

[2022-02-10 16:04] HX422 commented on #298
Hi,
 Thanks so much for such a quick follow up! I tried the beta, and I am able
to install FlowCal, however, I am not able to import it due to tkinter. I
understand tkinter comes packaged with python 3, and there is no pip
package of it to install it afterwards, so I guess at the moment this isn’t
working for me.

Still, thanks so much for your help, I still love the app!

-Harold

On Thu, Feb 10,

[2022-02-10 17:45] gilbertfrancois opened #301 ""Kernel reconnect" with SSH is broken"
When setting up a connection with ssh tunnel and connect to a server, opening a page, all works well. But when selecting `Reconnect` from the ipython menu, the app tries to reconnect forever without success.

The same happens when you switch to another app (even for less than a second) and come back to Juno Connect.

On the server side, one can see that it tries to reconnect multiple times and eve

[2022-02-10 20:31] gilbertfrancois commented on #301
I forgot to mention that the issues do not appear when connecting from a browser. Also, from a browser, (re)connecting and restarting the ipython kernel works well.

[2022-02-13 23:24] alexstaravoitau commented on #301
Thanks a lot @gilbertfrancois — your detailed report has been incredibly helpful in investigating this!

Looks like this behaviour started with iOS 15, where Apple introduced some changes to how web sockets are handled in WebKit. I've managed to patch-fix this behaviour for reconnecting the kernel (Juno Connect 1.6.10 should be available on the App Store soon); however, it doesn't fix the loop whe

[2022-02-13 23:29] alexstaravoitau commented on #280
@ajennings6767 @yyao22 @dugamarian Thanks everyone for helping me investigate this — Juno Connect 1.6.10 is now out on the App Store with a fix. Please, feel free to reopen this issue if it still doesn't work for you, or if you spot similar behaviour in non-SSH connections (looks like only those were affected).

[2022-02-13 23:29] #280 closed, assigned to nobody

[2022-02-14 11:39] alexstaravoitau commented on #297
This should now be fixed in the latest releases (Juno 1.3.15 and Juno Connect 1.6.10).

[2022-02-14 11:39] #297 closed, assigned to nobody

[2022-02-14 16:58] alexstaravoitau commented on #298
Yes, sadly Tkinter is not available for iOS, and porting it won't be easy either: it's a desktop UI framework, which relies on desktop interactions and interface components. Those will be hard to translate to iOS and touch screens. I'll close this issue for now, as FlowCal is a pure Python package — you can follow the progress of UI  frameworks here, I suppose: https://github.com/rationalmatter/Ju

[2022-02-14 16:58] #298 closed, assigned to nobody

[2022-02-14 17:10] alexstaravoitau commented on #299
Thanks for reporting @CoryLR — the dialogue you saw Juno stuck on was a system one (the one where you select a directory to grant access to). The way it *should* work is: you grant access to the notebook directory once, then Juno persists granted permissions and restores access to the notebook folder the next time you open this notebook, automatically.

I will look into this; I'm not yet sure if i

[2022-02-14 17:12] alexstaravoitau commented on #300
Hi — unfortunately, Juno doesn't allow editing keyboard shortcuts at the moment, neither should it mention anywhere that they are configurable (because they are not). Could you please send me a screenshot of which settings you mean exactly? Perhaps I'm missing something, and the issue is not keyboard shortcuts, but something else?

[2022-02-14 20:13] lukewiebe commented on #297
Wow, thanks for the quick turnaround!

[2022-02-15 17:14] alexstaravoitau commented on #271
This is likely fixed as a part of https://github.com/rationalmatter/Juno-Issue-Tracker/issues/280 — closing the issue.

[2022-02-15 17:14] #271 closed, assigned to nobody

[2022-02-15 22:56] gilbertfrancois commented on #301
Many thanks @navoshta. The reconnect works again like a charm. I've used the 1.6.10 version now for 2 full working days without issues. Reconnect works and if I leave the app and come back, the connection is restored and stable. Thumbs up!

I hope that you will be able to fix the 'Restart kernel ...' functionality soon.

To make sure that the _Restart Kernel_ issues are Juno Connect specific, I've

[2022-02-16 07:54] dhruvahuja17 commented on #300
![image](https://user-images.githubusercontent.com/99337834/154219134-3bc326da-552d-42fe-99a2-fc7065e82e7b.png)
Steps to **Edit Command Mode Shortcuts**
1) Open a new notebook
2) Click on the Notebook name (for new notebook it will be named as untitled)

Or
Go to Command mode and push 'P'
3) Click on search bar, and search 'edit command board keyboard shortcuts'
4) Click on 'edit command board key

[2022-02-17 16:17] zainy155 opened #302 "In CoCalc, I created and uploaded .ipynb files but open opening it says “No Kernel”."
No Kernel in CoCalc server files (uploaded and new files).

**Expected behavior**
It should have opened my files.

**Environment (please complete the following information):**
 - Device: iPad Pro 12.9”
 - iOS version: ipadOS 15.3.1
 - App version: latest

[2022-02-18 21:16] CoryLR commented on #299
@navoshta Thanks for the follow-up, I was in a folder called "_code" at the root of my iCloud (not in the Juno folder)

[2022-02-21 02:35] lucaslibshutz opened #303 "Add pickle5"
**Describe the bug**
.pkl files will not load in Juno, with the error output as "unsupported pickle protocol: 5". Also, pickle5 is not able to be installed into the Juno client, as it always returns an error during install.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Juno notebook
2. Import any .pkl file into current working directory
3. Attempt to run 'pd.read_pickle(file)'
4

[2022-02-22 16:58] alexstaravoitau commented on #301
Thank you @gilbertfrancois, this will also help! Sounds like it's specifically the SSH implementation in Juno that is the issue — which is unfortunate, as Juno is using a closed-source library for this. I'll see how I can work around the issue or resolve in some other way.

[2022-02-22 17:01] alexstaravoitau commented on #300
Thanks for reporting @dhruvahuja17 — this is an accidentally exposed piece of internal Jupyter functionality which Juno does not support at the moment. Sadly, for the time being the fix would be to remove this menu so that it's not shown at all, but I do hope to introduce configurable shortcuts in future in some other form.

[2022-02-22 17:09] alexstaravoitau commented on #302
Thanks for reporting @zainy155 — perhaps this has been a temporary glitch with CoCalc, because kernels seem to connect fine for me now. Although connecting does take a while (longer than with other cloud computing services), it seems to connect eventually. I suppose CoCalc takes some time to launch the kernel after the notebook is loaded.

Is it still not working for you? If yes, which kernel are

[2022-02-22 17:12] alexstaravoitau commented on #299
@CoryLR Hmm OK, this explains why Juno didn't have access to the directory in the first place, but I'm still not sure why it would get stuck on that system dialogue... Either way, thanks for the info — I will look into this.

[2022-02-22 17:21] alexstaravoitau commented on #303
Thanks for reporting @lucaslibshutz — Juno can't install pickle5, because it has native extensions, i.e. attempts to compile C code during installation process, which iOS doesn't allow. I'll change this issue to a pickle5 package request, which means we will eventually build it for iOS and embed in the app.

[2022-02-23 11:09] keasmar opened #304 "Add Brotli"
Hello,

I have been trying to get the Dash or Jupyter-Dash packages installed on Juno but have failed so far.
Having started installing the dependencies one-by-one, I reached a dead end with the library "brotli" which seemingly cannot get installed. I am assuming that the blocking point is related to it not entirely being written in Python ?

Is there any way to work around this issue and get Dash

[2022-02-23 11:47] #300 closed, assigned to nobody

[2022-02-27 18:58] askhat-omar opened #305 "Add linearmodels"
Can you please add linearmodels package? The GitHub link is: https://github.com/bashtage/linearmodels.git

I tried to install it myself and even manually installed all dependencies, however it still didn’t allow me to install linearmodels itself.

Many thanks in advance

[2022-02-28 08:38] jaswdr opened #306 "Juno crashes and close when reopenning after long time in background"
**Describe the bug**
Every time I reopen Juno after it is in background for a couple of hours it crashes and closes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Juno
1. Open any notebook
1. Lock your device
1. Wait a couple of hours
1. Come back and unlock your device
1. Reopen Juno

**Expected behavior**
I'm expecting that Juno doesn't crashes and just work.

**Screenshots**
Not ap

[2022-02-28 08:51] jaswdr opened #307 "Update built-in version of Scikit learn"
**Is your feature request related to a problem? Please describe.**
The built-in version of Scikit learn package is already old and some cool features from the new versions of this package are not available. Like for example the toy dataframes that could be used in a lot of situations.

**Describe the solution you'd like**
Update the built-in version of the scikit-learn package to the most recent v

[2022-03-01 08:07] gilbertfrancois opened #308 "Images in Markdown blocks are not shown"
**Describe the bug**
When I use one of the ways to show an image in markdown:
- `[title](url_to_image)`
- `<img src="url_to_image">`
only an empty placeholder is shown.
- Changing relative path to full path does not help.
- Same behaviour for png and jpg.
- Juno Connect has access to the files. In the file explorer, the file can be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2022-03-03 13:58] alexstaravoitau commented on #304
Hey — yes, sadly Brotli is not available because it has native extensions. I'll change this issue to a package request; I'm guessing when we add Brotli to Juno, the packages that depend on it should just start working. 🤞

[2022-03-03 14:05] alexstaravoitau commented on #305
Looks like more recent releases of linearmodels come with native extensions, hence can not be installed due to platform restrictions. However, you may have more luck with version **4.15.1**, which came as a purelib wheel — which means it had a pure Python distribution.

I'll leave this package request open though, as we may need to look into adding more recent releases of linearmodels.

[2022-03-03 14:11] alexstaravoitau commented on #306
Thanks for reporting @jaswdr — this is something we've been looking into, and it should get addressed with the Python runtime upgrade (we're currently upgrading it to 3.10). I don't have an ETA I'm afraid, but let me know if you would like to join our beta channel meanwhile (ping me at beta@juno.sh).

[2022-03-03 14:12] alexstaravoitau commented on #307
Yep agreed, we're going to look into upgrading the packages in the embedded environment shortly after we migrate to Python 3.10.

[2022-03-03 17:44] alexstaravoitau commented on #308
Thanks for reporting @gilbertfrancois, I will look into this. Although it looks like this is not a Juno Connect issue, but a Jupyter one — images in markdown cells don't work on desktop either over SSH. The reason it works for you is likely because you opened JupyterLab, not Jupyter Notebook (you can try loading `localhost:8889/tree` instead of `localhost:8889` to verify this).

[2022-03-04 12:36] gilbertfrancois commented on #308
Hi @navoshta, thank you for the insights. I now understand what is causing this and have the solution. It was indeed a problem by Jupyter Notebook / Lab, not a problem of Juno Connect. I found the proper way to include the right file path and write it down below for future reference, in case someone else has the same issue.

The way to solve it is to think of the path as URL from the root of the J

[2022-03-04 12:36] #308 closed, assigned to nobody

[2022-03-11 11:58] alexstaravoitau commented on #308
Interesting — thank you for sharing @gilbertfrancois 👍

[2022-03-20 12:30] jaswdr opened #309 "Add "Caps Lock" as override for the Esc key"
**Is your feature request related to a problem? Please describe.**
Is not related to a problem, just an enhancement.

**Describe the solution you'd like**
When using the Apple magic keyboard and writing a notebook is rare to write some large text in uppercase, that's why I commonly use the Caps Lock as the equivalent for the Esc key. I believe that adding it as an option to override in the setting

[2022-03-21 17:47] alexstaravoitau commented on #309
Hey @jaswdr — the in-app override options are somewhat obsolete these days to be honest, as you can now configure the keys in the iPadOS Settings app (including mapping Caps Lock to Esc). Go to _Settings_ -> _General_ -> _Keyboards_ -> _Hardware Keyboard_ -> _Modifier Keys_ -> _Caps Lock Key_ and select *Escape*.

[2022-03-21 17:47] #309 closed, assigned to nobody

[2022-03-22 10:09] alexstaravoitau commented on #61
Juno 1.4.2 with multi-window support is now live on the App Store 🚀

[2022-03-22 10:09] #61 closed

[2022-03-22 10:11] alexstaravoitau commented on #213
Closing as a possible duplicate of #42 — Juno 1.5 comes with a package manager, which (hopefully) resolves some of the package management frustration.

[2022-03-22 10:11] #213 closed

[2022-03-22 10:12] alexstaravoitau commented on #141
Closing as a possible duplicate of #42 — Juno 1.5 comes with a package manager, which (hopefully) resolves some of the package management frustration.

[2022-03-22 10:12] #141 closed

[2022-03-22 10:13] alexstaravoitau commented on #42
Juno 1.5 now comes with a package manager (currently available in beta on TestFlight) — please reach out to [beta@juno.sh](mailto:beta@juno.sh) if you would like to help test it. 🙃

[2022-04-02 21:31] eddo888 opened #310 "please allow code folding"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-04-02 21:32] eddo888 opened #311 "Add SQLAlchemy"
please allow the python native bits to install
skip the c native bits
will still work with sqlite db
that is  95% of the user base right there
works in PyTo and Pythonista for ipad and iphone

[2022-04-02 21:33] eddo888 opened #312 "please support python module dataprep"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-04-02 21:34] eddo888 commented on #311
sorry, not a bug, is a feature request

[2022-04-03 00:28] eddo888 commented on #311
#enhancement

[2022-04-04 15:57] alexstaravoitau commented on #310
Thanks for reporting @eddo888 — I'm guessing this is something similar to #246? I'll close this issue as a duplicate, but feel free to reopen if this is for something else.

[2022-04-04 15:57] #310 closed, assigned to nobody

[2022-04-04 15:58] alexstaravoitau commented on #311
Thanks for reporting @eddo888, I will look into this. If it's going to work without native extensions, this should be easy to add.

[2022-04-04 16:00] alexstaravoitau commented on #312
Hi @eddo888 — looks like `dataprep` is a pure Python package, so you should be able to install it using Juno's package installer. Or does it not work as expected?

[2022-04-06 03:51] eddo888 commented on #312
ininstall dataprep then dask andbi get this

  File "/var/mobile/Containers/Data/Application/1C900F10-D4FF-4A63-A101-D7781C44191E/Documents/site-packages/dask/config.py", line 1
    from __future__ import annotations
                                      ^
SyntaxError: future feature annotations is not defined

thanks for your help

![image](https://user-images.githubusercontent.com/2610223/161892

[2022-04-08 15:06] alexstaravoitau commented on #312
@eddo888 `annotations` is only available in Python 3.7 and later, whereas Juno comes with Python 3.6. We are currently working on upgrading our Python environment, so it will become available in one of future updates.

Since this is not a `dataprep` issue, I'll be closing this ticket — but feel free to reopen if some part of `dataprep` package specifically doesn't work.

[2022-04-08 15:06] #312 closed, assigned to nobody

[2022-04-08 15:29] ProfCelia opened #313 "Cannot install sympy on lastes iteration of juno"
**Describe the bug**
![Docs  Juno](https://user-images.githubusercontent.com/36567756/162473181-65aaef1d-895b-4d3f-8277-e76df51f6c19.png)

**To Reproduce**
Steps to reproduce the behavior:
1. click on heading to get to install packages link
2. fill in sympy
3. after installation: Import sympy as sym
4. See Attached.

**Expected behavior**
expect to have sympy package loaded and usable

**Screensho

[2022-04-08 16:11] alexstaravoitau commented on #313
Thanks for reporting @ProfCelia, looks like the latest SymPy release requires Python 3.7 or newer, whereas Juno currently ships with Python 3.6.

You can still install and use SymPy in Juno, but you may need to select a slightly older release — probably any which is not the most recent one. We are working on upgrading our Python environment though, so hopefully will release an update with a new Py

[2022-04-16 19:26] jaswdr commented on #306
Most recent version of Juno (TestFlight) seems to have fixed this issue. For multiple times I was able to keep a notebook open, minimize, and after hours reopen it without Juno crashing.

[2022-04-16 19:26] #306 closed, assigned to nobody

[2022-04-16 19:28] jaswdr commented on #290
+1

[2022-04-19 20:58] lmatute opened #314 "add pymc3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-04-21 05:19] remery98 opened #315 "Kernel died, trying to reconnect"
The python kernel keeps dying when importing the Pandas module.

I attempted to install pandasGUI which does not work for iPadOS. Since that attempt, the kernel dies when importing Pandas. I’ve pip uninstalled Pandas and PandasGUI, reinstalled Pandas. Still have the same issue with importing Pandas module.

Any help would be appreciate.

[2022-04-21 11:39] alexstaravoitau commented on #315
Hi @remery98 — first of all, is this about Juno (the app that runs your notebooks locally on iPad), or Juno Connect (connects to your Jupyter server)?

I'm going to assume it's Juno Connect for now, as pip is not available in Juno. Does the same thing happen when you try to import Pandas in other browser for the same Jupyter server, e.g. on desktop?

[2022-04-21 11:43] alexstaravoitau commented on #314
Thanks for reporting @lmatute — looks like pymc3 itself is a pure Python package and should not be a problem. It must be missing some of its dependencies though; there is already a package request for Theano here: #294, and there could be more. I'll close this issue as a duplicate for now.

[2022-04-21 11:43] #314 closed, assigned to nobody

[2022-04-22 03:34] remery98 commented on #315
Hi Alex,
You are correct, the app is Juno Connect.
Yes, the same “Kernel Restarting” splash screen shows up in desktop browser. 
If you have any suggestions for next steps, I would appreciate seeing them.
Thank you,

Sent from Yahoo Mail for iPhone

On Thursday, April 21, 2022, 04:39, Alex Staravoitau ***@***.***> wrote:

Hi @remery98 — first of all, is this about Juno (the app that runs your note

[2022-04-27 12:57] alexstaravoitau commented on #315
Hi @remery98 — ah OK, sounds like this is an issue with Jupyter then, not Juno Connect. I suggest looking into the Jupyter console next (i.e. in the shell where you started Jupyter on your machine), perhaps there is something useful there.

[2022-05-10 08:20] waikho opened #316 "numpy.random.Generator"
numpy.random.Generator

[2022-05-12 15:32] alexstaravoitau commented on #316
Thanks for reporting @waikho — `numpy.random.Generator` will become available when we upgrade NumPy to a recent release. I suppose you could use the legacy `numpy.random.RandomState` for now, although not sure how useful that would be.

[2022-05-20 15:02] connorferster opened #317 "from __future__ import annotations: not working"
It seems that packages which opt to use the new stringified type annotations cannot run in juno.

Love the juno app. Excellent UI design!

[2022-05-21 19:19] dugamarian opened #318 "Size and style"
Hi,
I think that it would be great to change editor scale and font style. Since I use it with an iPhone, space is critical 😁. Thank you for your app and work!

[2022-05-24 13:09] fistoriza opened #319 "Add pmdarima"
**What is the name of the package?**
Pmdarima

[2022-05-30 11:11] alexstaravoitau commented on #317
Thanks @connorferster — looks like `annotations` is only being available in `__future__` from Python 3.7 [(PEP563)](https://www.python.org/dev/peps/pep-0563/#enabling-the-future-behavior-in-python-3-7), and Juno currently comes with Python 3.6. We are working on the upgrade, and Juno will switch to Python 3.10 some time this year, arriving as a free app update.

[2022-05-30 11:13] alexstaravoitau commented on #318
Thanks @dugamarian — yep, next major update of Juno will allow additional text configuration, not sure if it will have configurable fonts right away, but you will be able to adjust the font size at least.

[2022-05-30 11:14] alexstaravoitau commented on #318
I've just realised the issue is about Juno Connect — the upcoming update I was talking about is for Juno; although Juno Connect will get similar font configurations eventually.

[2022-06-03 13:22] #317 closed, assigned to nobody

[2022-06-05 06:32] pdmct opened #320 "Add h5py"
**What is the name of the package?**
H5py

http://www.h5py.org/

[2022-06-29 13:57] hirschsc opened #321 "Add pingouin"
https://pingouin-stats.org/#

It is a program for more efficient statistical work than statsmodels or scipy.

[2022-07-11 15:06] alexstaravoitau commented on #321
Thanks for reporting @hirschsc

[2022-07-11 21:11] mast017 opened #322 "Add rdkit"
** RDKit
I found that “rdkit” is not supported in Package Manager of Juno, though its prerequisites are met. The package is a crucial part in material informatics and thus it will be awesome to make the package available in Juno.

[2022-07-16 09:24] eddo888 opened #323 "Allow indents with tabs instead of spaces"
hi, i would like to use a tab char '\t' as the indent instead of spaces. how can i set this.

[2022-07-16 21:41] fightinamish opened #324 "OSError: "/bin/sh" shell not found"
**Describe the bug**
When I run `%ls` in a cell I'm getting the error below.  I have also installed Carnets and that application works fine.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In a cell type in %ls
2. Select Run Cell

**Expected behavior**
Ability to run shell commands.

**Environment (please complete the following information):**
 - Device: iPad Pro 11
 - iOS version: 1

[2022-07-17 11:59] fauzanalif13 commented on #109
So is opencv already available yet?

[2022-07-18 14:17] alexstaravoitau commented on #324
Hi @toddlthomas — unfortunately, Juno doesn't support shell commands at the moment, although it's certainly something I plan to look into. I'll close this issue as there is already a feature request for shell commands: #11.

[2022-07-18 14:17] #324 closed, assigned to nobody

[2022-07-18 14:18] alexstaravoitau commented on #323
Thanks for reporting @eddo888 — this is not available at the moment, but I'll see if I can make this a configurable setting in the next major Juno release (which I'm working on right now).

[2022-07-18 14:20] alexstaravoitau commented on #109
Sorry @fauzanalif13 not yet — although it's high on the list of packages to add. I'm hoping to wrap up with Juno 2.0 in the next few months, and will be looking into environment upgrade and new packages next.

[2022-07-27 15:52] fredmonroe opened #325 "Hide server list sidebar"
Apologies if there is already a way to do this, i couldn’t find one

I’d like to be able to toggle the server list sidebar in Juno connect open/closed to make more room for my notebook on screen. Is this possible?

A keyboard shortcut would be great

[2022-07-27 15:53] fredmonroe commented on #325
I’m an idiot and just realized it closed when i open a notebook

[2022-07-27 15:53] #325 closed, assigned to nobody

[2022-07-28 12:55] alexstaravoitau commented on #325
No worries @313v — btw I do plan to make the servers sidebar hide-able, too (i.e. when you're not editing a notebook).

[2022-08-20 07:42] christian2022 opened #326 "Add support for parquet"
I'd like to read parquet files and pandas.read_parquet complains about missing pyarrow (or fastparquet).
When trying to install via package manager an error occurs that an unsupported feature is required.
I'm surprised that parquet support is not "standard". Is there another compressed data format built in?

[2022-08-24 11:53] alexstaravoitau commented on #326
Thanks for reporting @christian2022 — looks like both pyarrow and fastparquet packages have native extensions, so iOS's security restrictions won't let you install them, they would need to be compiled for iOS and embedded in the app.

I'm not sure about another compressed data format to be honest — perhaps Pandas has something like this built-in, without requiring any 3rd party packages?

[2022-08-24 13:03] christian2022 commented on #326
How are others doing data analysis in Juno? Is data only read from csv or json?
I'd vote for making pyarrow part of Juno's native packages.

[2022-08-29 13:13] alexstaravoitau commented on #326
Not sure @christian2022 — I suppose most people do use csv/json or archives of those.

Apologies if it's a stupid question — is parquet a dependency of pyarrow, or are these separate libraries? Basically, I'd suggest creating a separate issue here for each package request, as this makes it easier to prioritise and work through them.

[2022-08-29 14:03] christian2022 commented on #326
The method (pandas.read_parquet)[https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html] is part of the standard pandas library. It either uses the pyarrow or fastparquet library - whichever is available. So I'd say pyarrow is a "hidden" dependency of the standard pandas library.

[2022-09-05 18:16] alexstaravoitau commented on #326
OK got it @christian2022. We will be upgrading the environment soon (including the libraries), I'll make sure to look into one of those parquet 'backends' for Pandas.

[2022-09-06 02:11] FelipeMenesesP commented on #210
I also believe this would be a great addition.

We would greatly appreciate if you put this in your pipeline!

[2022-10-12 12:23] swetepete commented on #290
In the package manager it says not supported - which dependencies does it have that can’t run on iOS?

[2022-10-14 12:18] alexstaravoitau commented on #290
@swetepete Not sure about dependencies, but SpaCy itself seems to have non-optional native extensions, which need to be compiled for iOS and embedded in the app due to Apple's platform restrictions.

[2022-10-23 03:46] weiszr opened #327 "Multiprocessing"
**Is your feature request related to a problem? Please describe.**
Proper availability of multiprocessing. The cpu_count() gives the expected number of processors on my ipad, but when I try to use it, error is: AttributeError: module 'os' has no attribute 'fork'. I wonder if it would be possible to implement this at all? Note: I am on a 2019 iPad Pro (non M1).

Somehow, I screwed up the labels: it

[2022-10-29 17:35] alexstaravoitau commented on #327
Hi @weiszr — unfortunately this is not available due to OS restrictions, as all apps are supposed to be single-process on iOS and iPadOS. And I can't think of any easy way to simulate this behaviour with threading either. I'll see if I can provide a better error description (perhaps leave the method in, but raise an exception when calling it).

[2022-10-31 14:35] allengwinn opened #328 "Doesn’t recognize .ipynb in iCloud"
**Describe the bug**
When you try to edit an ipynb in iCloud, it is greyed out. It looks like Juno doesn’t recognize it anymore. This is in the latest iOS version for iPad.

The file type (Get Info) shows it to be “data”. So it may not recognize that file extension.

You can still get the file to open if you tap a few times. It runs OK in Juno, but the app thinks it can’t open it.

**To Reproduce*

[2022-11-06 14:38] alexstaravoitau commented on #328
Hi @allengwinn — apologies for a late reply. I've tried Juno release from the App Store and it seems to show and open iCloud files fine, although based on your info (thanks for the details by the way!) it sounds like maybe the file association got broken. This is handled by the system, and if that's the issue Juno can't do much about it I'm afraid. I'd say try restarting your device, and perhaps d

[2022-11-06 16:54] allengwinn commented on #328
Yeah it looks like the later versions of iOS don't handle to associations too cleverly. Carnets just shows everything associated. You may have to do this. I tried uninstalling and rebooting. Did not help.

Even in the local directory it is broken.

Allen Gwinn

[2022-11-17 17:25] jmontrose opened #329 "Add Pygeos"
https://github.com/pygeos/pygeos

Enables GeoPandas sjoin_nearest()

Note that there is an order dependency with GeoPandas, well-described (with Colab examples) here:

https://github.com/geopandas/geopandas/issues/2372?mobile=1#issuecomment-1155792894

[2022-11-18 11:24] otills commented on #109
Following up on this thread. We have purchased Juno, but require opencv - when is it expected to be supported?

[2022-11-18 16:39] alexstaravoitau commented on #329
Thanks for reporting @jmontrose

[2022-11-18 16:43] alexstaravoitau commented on #109
@otills I don't have an ETA I'm afraid, although it's one of next packages I will be looking into.

So the timeline is: Juno 2.0 will be released on App Store within a week or so (fingers crossed), and we will begin testing Juno with Python 3.10 on TestFlight pretty much right away after that. We will be upgrading the rest of the environment to latest version next, and then it's adding new package

[2022-11-18 17:11] otills commented on #109
Thanks for the update, Will this be a free upgrade?

On 18 Nov 2022, at 16:44, Alex Staravoitau ***@***.***> wrote:

﻿

@otills<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fotills&data=05%7C01%7Coliver.tills%40plymouth.ac.uk%7C630468fdc780492e10e208dac9841c44%7C5437e7eb83fb4d1abfd3bb247e061bf1%7C1%7C0%7C638043866488930815%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMD

[2022-11-18 18:04] alexstaravoitau commented on #109
@otills Yes, Juno 2.0 is a free update

[2022-11-21 12:49] rajbooth opened #330 "Connection authorisation failure"
**Describe the bug**
Juno Connect was working fine until the system admin at my host site added password verificiation in addition to ssh-key authentication.  Now I get Authorisation Failed message when trying to connect.

I guess this may be more of a feature request than a bug report as this seems to be an unusual security configuration.  Nevertheless, I would like to be able to continue using

[2022-11-22 20:59] weitliu commented on #35
Thank you for your update @navoshta May I ask if it is possible to at least add some support for reading .pt files through Juno? That will make it slightly useful to process the results locally. Thanks.

[2022-11-22 23:45] Broctune commented on #320
I would like to request H5py as well please.

[2022-11-30 12:41] alexstaravoitau commented on #330
Apologies for a late reply @rajbooth. Juno Connect should be able to handle Jupyter's standard password verification, showing login prompt when you first connect to the server. Perhaps it's not showing up because configuration has changed recently, could you please try selecting *Clear All Sessions* in the app settings (at the bottom)? Hopefully this will clear any cached login information and wil

[2022-11-30 12:43] alexstaravoitau commented on #35
@wetliu Unfortunately, I don't think this would be possible without getting the rest of PyTorch to work...

[2022-11-30 16:52] rajbooth commented on #330
Hi Alex

I have tried the Clear All Settings in the Juno connect app, with no success.
The login process is not getting as far as the Jupyter Hub app.  The failure is occurring at the host operating system security stage.
Previously the host would merely verify the SSH RSA key (and passphrase) before connecting to the Jupyter web app, and Juno connect worked OK with that setup.  Now the system adm